<div id="com-btn-container" class="column">
  <h5>Communities</h5>
  <div class="communities-container">
  </div>
  <br>
  <h5><strong>Trending Posts</strong></h5>
  <div class="desktop-trending-posts">
  </div>
</div>


<script>
</script>