<div id="com-btn-container" class="column">
  <h4>Communities</h4>
  <div class="communities-container">
    loading...
  </div>

  <br>
  <h4>Trending Posts</h4>
  <div class="trending-posts">
    loading...
  </div>

  <br>
  <h4>Recent Jobs</h4>

</div>


<script>
  function getTrendingPosts() {
    fetch('/api/trending-posts') // Adjust this to your server's endpoint
      .then(response => response.json())
      .then(posts => {
        const trendingPostsContainer = document.querySelector('.trending-posts');
        trendingPostsContainer.innerHTML = ''; // Clear existing posts

        posts.forEach(post => {
          const postElement = document.createElement('div');
          postElement.className = 'trending-post';

          // Add content to postElement here. Example:
          postElement.innerHTML = `
                <span class="material-symbols-outlined" style="color: var(--active-indicator-color);">
trending_up
</span> 
                <div class="trending-post-content">
                  <a href="/posts/${post.id}" class="trending-post-title">
                    <p>${post.title} - ${post.username}</p> 
                  </a>
                </div>

            `;

          trendingPostsContainer.appendChild(postElement);
        });
      })
      .catch(error => console.error('Error fetching trending posts:', error));
  }

  function getAllCommunities() {
    fetch('/api/communities') // Adjust this to your server's endpoint
      .then(response => response.json())
      .then(communities => {
        // Use window.matchMedia to check for mobile devices
        const isMobile = window.matchMedia("only screen and (max-width: 768px)").matches;
        // Select the container based on whether or not it is a mobile device
        const containerClassName = isMobile ? '.community-selector' : '.communities-container';
        const communitiesContainer = document.querySelector(containerClassName);

        communitiesContainer.innerHTML = ''; // Clear existing communities
        communities.forEach(community => {
          const communityElement = document.createElement('div');
          communityElement.className = 'communities';

          // Add content to communityElement here. Example:
          communityElement.innerHTML = `
                <span class="material-symbols-outlined">${community.mini_icon}</span>
                <a href="/communities/${community.id}" class="community-link">
                    <div class="community-name">${isMobile ? `${community.shortname}` : community.name}</div>
                </a>
            `;

          communitiesContainer.appendChild(communityElement);
        });
      })
      .catch(error => console.error('Error fetching communities:', error));
  }


  getAllCommunities();
  getTrendingPosts();
</script>