<div id="com-btn-container" class="column">
  <div class="com-btn-container-header">
    <% if (user) { %>

    <div class="user-info">
      <div class="avatar-com-container">
        <img src="<%= user.avatar %>" alt="Avatar" />
      </div>
      <div class="username">
        <a class="user" href="/profile/<%= user.username %>">
          <%= user.username %>
        </a>
      </div>

    </div>

    <% } else { %>
    <div class="create-post-btn" onclick="window.location.href = '/login';">
      <span class="material-symbols-outlined">login</span> Login
    </div>
    <% } %>
  </div>

  <h4>Communities</h4>
  <div class="communities-container">
    loading...
  </div>

  <br>
  <h4>Trending Posts</h4>
  <div class="trending-posts">
    loading...
  </div>

  <br>
  <h4>Recent Jobs</h4>

</div>


<script>
  function getTrendingPosts() {
    fetch('/api/trending-posts') // Adjust this to your server's endpoint
      .then(response => response.json())
      .then(posts => {
        const trendingPostsContainer = document.querySelector('.trending-posts');
        trendingPostsContainer.innerHTML = ''; // Clear existing posts

        posts.forEach(post => {
          const postElement = document.createElement('div');
          postElement.className = 'trending-post';

          // Add content to postElement here. Example:
          postElement.innerHTML = `
                <span class="material-symbols-outlined" style="color: var(--active-indicator-color);">
trending_up
</span> 
                <div class="trending-post-content">
                  <a href="/posts/${post.id}" class="trending-post-title">
                    <p>${post.title} - ${post.username}</p> 
                  </a>
                </div>

            `;

          trendingPostsContainer.appendChild(postElement);
        });
      })
      .catch(error => console.error('Error fetching trending posts:', error));
  }

  function getAllCommunities() {
    fetch('/api/communities') // Adjust this to your server's endpoint
      .then(response => response.json())
      .then(communities => {
        const communitiesContainer = document.querySelector('.communities-container');
        communitiesContainer.innerHTML = ''; // Clear existing communities

        communities.forEach(community => {
          const communityElement = document.createElement('div');
          communityElement.className = 'communities';

          // Add content to communityElement here. Example:
          communityElement.innerHTML = `
                <span class="material-symbols-outlined">${community.mini_icon}</span>
                <a href="/communities/${community.id}" class="community-link">
                    <div class="community-name">${community.name}</div>
                </a>
            `;

          communitiesContainer.appendChild(communityElement);
        });
      })
      .catch(error => console.error('Error fetching communities:', error));
  }

  getAllCommunities();
  getTrendingPosts();
</script>