<footer>
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <p class="sub-text">About</p>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/feedback">Submit Feedback</a></li>
          <!-- <li><a href="/privacy">Privacy Policy</a></li> -->
        </ul>
      </div>
      <div class="footer-section">
        <p class="sub-text">More Info</p>
        <ul>
          <li><a href="/jobs">Openings</a></li>
          <li><a href="/networks/">Communities</a></li>
          <li><a href="/">Explore</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer-container {
    background-color: var(--light-mode-main-color);
    padding: 20px;
    text-align: center;
    font-size: 1rem;
  }


  .footer-container a {
    font-weight: bold;
    color: var(--active-indicator-color);
  }

  .footer-content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer-section {
    margin: 0 1rem;
  }

  .footer-section h5 {
    margin-bottom: 10px;
  }

  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 5px;
  }


  .footer-section ul li a:hover {
    text-decoration: underline;
  }

  .contact-info {
    margin-top: 20px;
  }

  .contact-info p {
    margin: 5px 0;
  }

  .contact-info a {
    color: #007bff;
    text-decoration: none;
  }

  .contact-info a:hover {
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    .footer-container {
      background-color: var(--dark-mode-body-color);
    }

    .footer-section h5 {
      color: white;
    }


    .footer-section ul li a:hover {
      color: white;
    }

    .contact-info a {
      color: #007bff;
    }

    .contact-info a:hover {
      color: white;
    }
  }
</style>