<nav class="navbar">
  <div class="logo">
    <a href="communities"> <img src="/img/core.png" alt="CORE" /> </a>
    <div class="nav-text-container">
      <a class="nav-text" href="/">
        <% if (username) { %>
        <a class="nav-text" href="/profile"><%= username %></a>
        <% } else { %>
        <a class="nav-text" href="/login">user</a><% } %></a
      >@<a class="nav-text" href="/">CORE</a>/<span id="current-path"
        ><%= pagePath %></span
      >
    </div>
  </div>

  <ul class="nav-links">
    <li>
      <a class="search-bar">
        <span class="material-symbols-outlined"> search </span>
        <input type="search" placeholder="Search" name="search" required />
      </a>
    </li>
    <li>
      <a href="login" class="navbar-button">
        <img
          src="img/glyphs/person.svg"
          alt="login icon"
          class="right-nb-icon"
        />
      </a>
    </li>
    <li>
      <a href="register" class="navbar-button">
        <img
          src="img/glyphs/public.svg"
          alt="register icon"
          class="right-nb-icon"
        />
      </a>
    </li>
    <!-- Add more navigation links for the first part as needed -->
  </ul>
</nav>

<nav class="second-navbar">
  <ul class="second-nav-links">
    <li>
      <a href="communities" class="navbar-button">
        <img src="./img/glyphs/forum.svg" alt="forum icon" class="nb-icon" />
        Community
      </a>
    </li>
    <li>
      <a href="jobs" class="navbar-button">
        <img src="./img/glyphs/job.svg" alt="job icon" class="nb-icon" />
        Openings
      </a>
    </li>
    <li>
      <a href="learning" class="navbar-button">
        <img src="./img/glyphs/code.svg" alt="code icon" class="nb-icon" />
        Learning
      </a>
    </li>
    <li>
      <a href="practice" class="navbar-button">
        <img src="./img/glyphs/learn.svg" alt="code icon" class="nb-icon" />
        Practice
      </a>
    </li>
    <li>
      <a href="support" class="navbar-button">
        <img
          src="./img/glyphs/support.svg"
          alt="support icon"
          class="nb-icon"
        />
        Support</a
      >
    </li>
    <li>
      <a href="about" class="navbar-button">
        <img src="./img/glyphs/info.svg" alt="info icon" class="nb-icon" />
        About</a
      >
    </li>
    <!-- Add more navigation links for the second part as needed -->
  </ul>
</nav>
