       <link rel="stylesheet" href="/css/right-side-container.css" />


       <div class="right-side-container">

         <div class="job-header">
           <h5>Openings</h5>
         </div>
         <div class="jobslist flex-col gap-1">
         </div>

       </div>
       <script>
         function formatRelativeDate(dateString) {
           const now = new Date();
           const postedDate = new Date(dateString);
           const diffTime = Math.abs(now - postedDate);
           const diffHours = Math.floor(diffTime / (1000 * 60 * 60));
           const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));
           const diffMonths = Math.floor(diffDays / 30);
           const diffYears = Math.floor(diffDays / 365);

           if (diffYears > 0) {
             return `${diffYears}y`;
           } else if (diffMonths > 0) {
             return `${diffMonths}m`;
           } else if (diffDays > 0) {
             return `${diffDays}d`;
           } else if (diffHours > 0) {
             return `${diffHours}h`;
           } else {
             return 'Just now';
           }
         }



         function formatSalary(salary) {
           if (!salary) return "";
           return salary >= 1000 ? (salary / 1000).toFixed(0) + "k" : salary.toString();
         }

         function getFormattedSalary(salary, salaryMax) {
           if (salary && salaryMax) {
             const average = Math.round((salary + salaryMax) / 2);
             return `${formatSalary(average)}/yr`;
           } else if (salary) {
             return formatSalary(salary);
           }
           return "";
         }

         function fetchJobPreviews() {
           fetch(`/api/recentJobs`)
             .then(response => response.json())
             .then(data => {
               const jobs = data.jobPostings;
               const isMobile = window.matchMedia('(max-width: 768px)').matches;
               let jobslistContainer;
               if (isMobile) {
                 jobslistContainer = document.querySelector('div.mobile-jobs-container > div.jobslist');
               } else {
                 jobslistContainer = document.querySelector('.right-side-container > div.jobslist');
               }
               jobslistContainer.innerHTML = jobs.map(job => `
              <div class="job px-4 py-2" onclick="window.location.href='/jobs/${job.id}'">
                                  ${job.company_logo ? `
                      <img loading="lazy" src="${job.company_logo}" alt="" onerror="this.onerror=null;this.src='/img/glyph.png';" class="thumbnail ${isMobile ? `thumbnail-tiny` : `thumbnail-tiny`} thumbnail-regular" />
                      ` : `<img loading="lazy" src="/img/gylph.png" alt="" class="thumbnail ${isMobile ? `thumbnail-tiny` : `thumbnail-tiny`} thumbnail-regular" />`}
                <div class="job-content">
                  <div class="job-content-header">
                    <div class="company-logo-container">
                                            <div class="job-posting-header">
                        <div class="secondary-text">
                        
                        <a class="mini-text secondary-text" href="/jobs/company/${encodeURIComponent(job.company_name)}">${job.company_name}</a>
                        
                        </div>
                                                                            
                               
                      </div>
                    
                    </div>
                                                              <div class="job-title mini-text bold"><a href="/jobs/${job.id}">${job.title.slice(0, 40)}</a></div>

                    <div class="job-title-location mini-text third-text">
                ${job.salary || job.salary_max ? `
                  <span class="job-salary mini-text">
                    ${getFormattedSalary(job.salary, job.salary_max)}
                  </span>
                  <span style="font-size:.7rem;">•</span>
                ` : ``}

                <div class="location mini-text">
                  <span class="material-symbols-outlined">location_on</span>
                  ${formatLocation(job.location)}
                </div>
                  <span style="font-size:.7rem;">•</span>

                <div class="views mini-text"><span class="material-symbols-outlined" style="padding:0;">visibility</span>
                <span>${job.views ? job.views : '0'}</span></div>
                  <span style="font-size:.7rem;">•</span>

                <div class="job-post-date mini-text">
                  <span class="material-symbols-outlined" style="padding:0;">calendar_month</span>
                  <time>${formatRelativeDate(job.postedDate)}</time>
                </div>

                    </div>

                  </div>


                  ${!isMobile ? `

                  ` : `
                  `}
                </div>
              </div>
            `).join('');
               jobslistContainer.innerHTML += '<div class="see-more"><a href="/jobs"><button class="regular-button">More</button></a></div>';


               const jobElements = jobslistContainer.querySelectorAll('.job');
             })
             .catch(error => {
               console.error('Error fetching job previews:', error);
             });
         }


         function fetchCommunityJobPreviews(communityId) {
           let currentPage = 1;
           const itemsPerPage = 10;
           fetch(`/api/community/${communityId}/jobs?page=${currentPage}&limit=${itemsPerPage}`)
             .then(response => response.json())
             .then(data => {
               const jobs = data.jobPostings;
               const isMobile = window.matchMedia('(max-width: 768px)').matches;
               let jobslistContainer;
               if (isMobile) {
                 jobslistContainer = document.querySelector('div.mobile-jobs-container > div.jobslist');
               } else {
                 jobslistContainer = document.querySelector('.right-side-container > div.jobslist');
               }

               if (jobslistContainer) {
                 jobslistContainer.innerHTML = jobs.map(job => `
              <div class="job" onclick="window.location.href='/jobs/${job.id}'">
                <div class="job-content">
                  <div class="job-content-header">
                    <div class="company-logo-container">
                    ${job.company_logo ? `
                      <img loading="lazy" src="${job.company_logo}" alt="" onerror="this.onerror=null;this.src='/img/glyph.png';" class="thumbnail ${isMobile ? `thumbnail-micro` : `thumbnail-tiny`} thumbnail-regular" />
                      ` : `<img loading="lazy" src="/img/gylph.png" alt="" class="thumbnail ${isMobile ? `thumbnail-tiny` : `thumbnail-tiny`} thumbnail-regular" />`}
                                            <div class="job-posting-header">
                        <div class="job-company-name sub-text secondary-text">
                        
                        <a class="secondary-text" href="/jobs/company/${encodeURIComponent(job.company_name)}">${job.company_name}</a>
                        
                        </div>
                                                                            
                               
                      </div>
                    
                    </div>
                                                              <div class="job-title mini-text bold"><a href="/jobs/${job.id}">${job.title.slice(0, 40)}</a></div>

                    <div class="job-title-location third-text">
                ${job.salary || job.salary_max ? `
                  <span class="job-salary mini-text">
                    ${getFormattedSalary(job.salary, job.salary_max)}
                  </span>
                  <span style="font-size:.7rem;">•</span>
                ` : ``}

                <div class="location mini-text">
                  <span class="material-symbols-outlined">location_on</span>
                  ${formatLocation(job.location)}
                </div>
                  <span style="font-size:.7rem;">•</span>

                <div class="applicants mini-text"><span class="material-symbols-outlined">person</span>${job.applicants ? job.applicants : '0'}</div>
                  <span style="font-size:.7rem;">•</span>

                <div class="job-post-date mini-text">
                  <span class="material-symbols-outlined">calendar_month</span>
                  <time>${formatRelativeDate(job.postedDate)}</time>
                </div>

                    </div>

                  </div>


                  ${!isMobile ? `

                  ` : `
                  `}
                </div>
              </div>
            `).join('');
                 jobslistContainer.innerHTML += '<div class="see-more"><a href="/jobs"><button class="regular-button">More Jobs</button></a></div>';


                 const jobElements = jobslistContainer.querySelectorAll('.job');
                 jobElements.forEach(jobElement => {
                   const locationFlair = jobElement.querySelector('#location-flair');
                   const location = locationFlair.dataset.location;
                 });
               }

             })
             .catch(error => {
               console.error('Error fetching job previews:', error);
             });
         }

         document.addEventListener("DOMContentLoaded", () => {
           const isMobile = window.matchMedia('(max-width: 768px)').matches;
           let jobslistContainer;
           if (isMobile) {
             jobslistContainer = document.querySelector('div.mobile-jobs-container > div.jobslist');
           } else {
             jobslistContainer = document.querySelector('.right-side-container > div.jobslist');
           }
           const postsContainer = document.getElementById('posts-container');
           if (!postsContainer) {
             if (jobslistContainer)
               try {
                 fetchJobPreviews();
               } catch (error) {
                 console.error('Error fetching job previews:', error);
               }
             return;
           }
           const communityId = postsContainer.dataset.communityId || null;

           if (communityId) {
             if (jobslistContainer) {
               fetchCommunityJobPreviews(communityId);
             }
           } else {
             if (jobslistContainer) {
               try {
                 fetchJobPreviews();
               } catch (error) {
                 console.error('Error fetching job previews:', error);
               }
             }
           }
         });
       </script>