<!DOCTYPE html>
<html>
  <head>
    <title>About Core</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="css/navbar.css" />
  </head>
  <body>
    <%- include('partials/navbar', { pagePath: 'home' }) %>
    <h1>About Core</h1>
    <p>
      Core is a social media platform for developers to connect with each other
      and share their projects.
    </p>
  </body>
</html>
