<!DOCTYPE html>
<html>
    <head>
        <title>About Core</title>
        <link rel="stylesheet" href="css/navbar.css">
    </head>
    <body>
        <!-- Navbar Placeholder -->
        <h1>About Core</h1>
        <p>Core is a social media platform for developers to connect with each other and share their projects.</p>
    </body>
        
</html>