<!DOCTYPE html>
<html>

<head>
  <title>About CORE</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="css/navbar.css" />
  <link rel="stylesheet" href="css/about.css" />
  <link rel="shortcut icon" href="/img/core.png" />
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'about' }) %>
  <div class="container">
    <h3> Contact Us </h3>
    <p>Email: <a href="mailto:support@c-ore.dev">support@c-ore.dev</a>
    </p>
    <p>Dev Email: <a href="mailto:brycemcole@pm.me">brycemcole@pm.me</a>
    </p>
    <p>Discord: <a href="https://discord.gg/hyr4UWthkG">https://discord.gg/hyr4UWthkG</a>
    </p>

    <p>GitHub: <a href="https://github.com/brycemcole/CORE">https://github.com/brycemcole/CORE</a>
    </p>

    <!-- <h5>Privacy Policy </h5> -->
    <!-- <p>Our privacy policy can be found <a href="/privacy">here</a> -->

  </div>
  <%- include('partials/footer') %>

</body>

</html>