<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CORE</title>
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/core.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <link rel="shortcut icon" href="img/core.png" />
  </head>
  <body>
    <%- include('partials/navbar', { pagePath: 'home' }) %>

    <div class="container">
      <section class="opportunities">
        <div class="jobs">
          <h2>34,728 current available engineer jobs</h2>
          <button id="jobs-button">Explore Openings</button>
        </div>
        <div class="communities">
          <h2>692,763 users currently hacking the mainframe</h2>
          <button id="community-button">Explore Communities</button>
        </div>
      </section>

      <section class="trending">
        <div class="trending-projects">
          <h3>Trending Projects</h3>
          <!-- Project list items will go here -->
        </div>
        <div class="trending-posts">
          <h3>Trending Posts</h3>
          <!-- Post list items will go here -->
        </div>
      </section>
    </div>
    <script src="js/core.js"></script>
  </body>
</html>
