<!DOCTYPE html>
<html>

<head>
  <title>CORE - Create Job Post</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="shortcut icon" href="/img/core.png" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/create-post.css" />
  <link rel="stylesheet" href="/css/create-company-link.css" />
  <link rel="stylesheet" href="/css/create-job.css" />

  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'jobs' }) %>
  <main>
    <div class="page-header">
      <h5 id="post-header-title">Import Company Board</h5>
      <div class="toggle-container">
        <span class="toggle-label">URL</span>
        <label class="toggle-switch">
          <input type="checkbox" id="form-toggle">
          <span class="slider"></span>
        </label>
        <span class="toggle-label">Manual</span>
      </div>
    </div>
    <div class="output-container">
      <div class="error-messages" id="output-alert">
        <div class="error-message-glyph">
          <span class="material-symbols-outlined">
            warning
          </span>
        </div>
        <div class="error-message-text">
          <p class="sub-text" id="output-text">
          </p>
        </div>
      </div>
    </div>
    <div class="main-container">
      <form id="jobPostForm">
        <div class="form-group">
          <input type="text" id="job-link" name="link" />
        </div>
        <button id="submit-button" type="submit">Extract Job Details</button>
      </form>
      <div id="jobLinksContainer"></div>
      <form id="selectedJobsForm" style="display: none;">
        <button class="submit-button" type="submit">Submit Selected Jobs</button>
      </form>
    </div>
  </main>
  <script>
    $(document).ready(function () {
      const toggle = $('#form-toggle');
      const jobPostForm = $('#jobPostForm');
      const editJobPostForm = $('#editJobPostForm');
      const errorMessages = $('#output-alert');
      errorMessages.hide();

      toggle.change(function () {
        if (this.checked) {
          jobPostForm.hide();
          editJobPostForm.show();
        } else {
          jobPostForm.show();
          editJobPostForm.hide();
        }
      });

      // Form submission handling for extracting job details
      $('#jobPostForm').on('submit', function (e) {
        e.preventDefault();
        var jobLink = $('#job-link').val();

        fetch('/api/queue-company-link', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              link: jobLink
            }),
          })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            showBannerNotification('Job link queued successfully!');
          })
          .catch(error => {
            errorMessages.show();
            const outputText = $('#output-text');
            outputText.text('error: ' + error.message);
            showBannerNotification('An error occurred while extracting job details.');
            console.error(error);
          });
      });

    });
  </script>
</body>

</html>