<!DOCTYPE html>
<html>
  <head>
    <title>CORE - Create Post</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="shortcut icon" href="img/core.png" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/create-post.css" />
  </head>
  <body>
    <%- include('partials/navbar', { pagePath: 'home' }) %>
    <main>
      <div class="main-container">
        <!-- Post Creation Form -->
        <form action="/posts" method="POST">
          <h2>Create a New Post</h2>
          <div class="form-group">
            <input type="hidden" name="userId" value="<%= user.id %>" />
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required />
            <div class="form-group" id="community">
              <label for="community">Community:</label>
              <select id="community" name="community_id">
                <option value="1">General</option>
                <option value="2">ML/AI</option>
                <option value="3">IT</option>
                <option value="4">Robotics</option>
                <option value="5">Game-Dev</option>
              </select>
            </div>
            <div class="form-group">
              <label for="link">Link:</label>
              <input type="text" id="link" name="link" />
          </div>
          <div class="form-group">
            <label for="content">Content:</label>
            <textarea id="content" name="content" required></textarea>
          </div>
          <button type="submit">Submit Post</button>
        </form>
      </div>
    </main>
  </body>
</html>
