<!DOCTYPE html>
<html>

<head>
  <title>CORE - Create Post</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="shortcut icon" href="img/core.png" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/create-post.css" />
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>

<body>
  <%- include('partials/navbar', { pagePath: 'home' }) %>
  <main>
    <div class="post-header">
      <h2 id="post-header-title">Create a Discussion</h2>
    </div>

    <div class="post-selector">
      <div class="post-type" style="background-color: #489769;border: 1px solid #318755;">
        <a href="#" class="post-type-button" id="discussion" style="color:white">Discussion</a>
      </div>
      <div class="post-type">
        <a href="#" class="post-type-button" id="question">Question</a>
      </div>
      <div class="post-type">
        <a href="#" class="post-type-button" id="blog">Blog</a>
      </div>
      <div class="post-type">
        <a href="#" class="post-type-button" id="project">Project</a>
      </div>
    </div>

    </div>
    <div class="main-container">

      <form action="/posts" method="POST">
        <input type="hidden" id="post_type" name="post_type" value="discussion" />
        <div class="form-group" id="community">
          <label for="community">Community:</label>
          <select id="community_choice" name="community_id">
          </select>
        </div>
        <div class="form-group">
          <input type="hidden" name="userId" value="<%= user.id %>" />
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required />
          <div class="form-group" id="link-field">
            <label for="link" id="link-label">Link:</label>
            <input type="text" id="link" name="link" />
          </div>
          <div class="form-group">
            <label for="content">Content:</label>
            <textarea id="content" name="content"></textarea>
          </div>

          <div class="form-group">
            <label>Tags:</label>
            <div id="tags-container">
              <select class="tags-select2" name="tags[]" multiple="multiple">
                <% tags.forEach(function(tag) { %>
                <option value="<%= tag.id %>"><%= tag.name %></option>
                <% }); %>
              </select>
            </div>
          </div>

          <div id="confirmation-question" class="form-group" style="display: none;margin: 0px 0px;margin-bottom: 15px;">
            <input type="checkbox" id="confirm-google" name="confirm_google">
            <label for="confirm-google">Did you try to Google this question before you are making this post?</label>
          </div>

        </div>
        <button class="add-post-button" type="submit">Submit Post</button>
      </form>
    </div>
  </main>
  <script>
    $('.post-type-button').click(function(e) {
      e.preventDefault(); // Prevent the default link behavior

      // Update header text, hidden input value, and link field visibility based on the clicked element
      const selectedPostType = $(this).attr('id'); // Get the id of the clicked element
      let headerText = 'Create a Post'; // Default text
      switch (selectedPostType) {
        case 'discussion':
          headerText = 'Create a Discussion';
          $('#link-field').show();
          $('#link-label').text('Link:');
          $('#confirmation-question').hide(); // Hide the confirmation question
          break;
        case 'question':
          headerText = 'Create a Question';
          $('#link-field').hide();
          $('#confirmation-question').show(); // Show the confirmation question
          break;
        case 'blog':
          headerText = 'Create a Blog';
          $('#link-field').hide();
          $('#confirmation-question').hide(); // Hide the confirmation question
          break;
        case 'project':
          headerText = 'Create a Project';
          $('#link-field').show();
          $('#link-label').text('GitHub URL:');
          $('#confirmation-question').hide(); // Hide the confirmation question
          break;
      }
      $('#post-header-title').text(headerText); // Change the header text
      $('#post_type').val(selectedPostType); // Set the hidden input field's value
      $('.post-type').css('background-color', '');
      $('.post-type').css('border-color', '');
      $('.post-type a').css('color', '');

      $(this).closest('.post-type').css('background-color', '#489769');
      $(this).closest('.post-type').css('border', '1px solid #318755');
      $(this).closest('.post-type a').css('color', 'white');
    });



    $(document).ready(function() {
      $('.tags-select2').select2({
        width: '100%', // Full width of its container
        tags: true, // Allows user to create new tags
        tokenSeparators: [',', ' '] // Optional: Defines separators for tokenization
      });


      var easyMDE = new EasyMDE({
        element: document.getElementById('content')
      });

      $('form').on('submit', function(e) {
        var easyMDE = new EasyMDE({
          element: document.getElementById('content')
        });


        // Check if the EasyMDE editor is empty
        if (!easyMDE.value().trim()) {
          e.preventDefault(); // Prevent form submission
          alert("Please fill in the content."); // Display an error message
          easyMDE.codemirror.focus(); // Focus the EasyMDE editor
        } else {
          easyMDE.toTextArea();
          easyMDE.codemirror.save();

          // If link field is hidden, remove its value before submitting
          if ($('#link-field').is(':hidden')) {
            $('#link').val('');
          }
        }
      });

    });

    function getAllCommunities() {
      fetch('/api/communities') // Adjust this to your server's endpoint
        .then(response => response.json())
        .then(communities => {
          // Create an option for each community
          communities.forEach(community => {
            const option = document.createElement('option');
            option.value = community.id;
            option.textContent = community.name;
            document.getElementById('community_choice').appendChild(option);
          });
        });
    }

    getAllCommunities();
  </script>
</body>

</html>