<!DOCTYPE html>
<html>

<head>
  <title>Edit Company</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="shortcut icon" href="/img/core.png" />
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/edit-company.css" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
  <%- include('partials/navbar', { pagePath: '' }) %>

  <main>
    <div class="edit-company-header">
    </div>
    <form class="edit-company-form" action="/profile/jobs" method="POST">
      <div>
        <label class="secondary-text" for="jobPreferredTitle">Job Title (separate multiple titles with commas):</label>
        <input class="job-posting-search-input pr-9 lex h-9 w-full rounded-md border border-input bg-transparent pr-8 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 pl-3" type="text" id="jobPreferredTitle" name="jobPreferredTitle" placeholder="e.g. Software Engineer, Data Scientist">
      </div>
      <div>
        <label class="secondary-text" for="jobExperienceLevel">Experience Level (separate multiple levels with commas):</label>
        <input class="job-posting-search-input pr-9 lex h-9 w-full rounded-md border border-input bg-transparent pr-8 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 pl-3" type="text" id="jobExperienceLevel" name="jobExperienceLevel" placeholder="e.g. Entry Level, Mid Level, Senior">
      </div>
      <div>
        <label class="secondary-text" for="jobPreferredLocation">Location (separate multiple locations with commas):</label>
        <input class="job-posting-search-input pr-9 lex h-9 w-full rounded-md border border-input bg-transparent pr-8 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 pl-3" type="text" id="jobPreferredLocation" name="jobPreferredLocation" placeholder="e.g. CA, NY, TX">
      </div>
      <div>
        <label class="secondary-text" for="jobPreferredSkills">Job Skills (separate multiple skills with commas):</label>
        <input class="job-posting-search-input pr-9 lex h-9 w-full rounded-md border border-input bg-transparent pr-8 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 pl-3" type="text" id="jobPreferredSkills" name="jobPreferredSkills" placeholder="e.g. JavaScript, Python, React">
      </div>
      <div>
        <label class="secondary-text" for="jobPreferredSalary">Preferred Salary (USD $)</label>
        <input class="job-posting-search-input pr-9 lex h-9 w-full rounded-md border border-input bg-transparent pr-8 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 pl-3" type="number" id="jobPreferredSalary" name="jobPreferredSalary">
      </div>
      <div>
        <label class="secondary-text" for="jobPreferredIndustry">Industry:</label>
        <input class="job-posting-search-input pr-9 lex h-9 w-full rounded-md border border-input bg-transparent pr-8 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 pl-3" type="text" id="jobPreferredIndustry" name="jobPreferredIndustry" placeholder="e.g. Technology, Finance">
      </div>
      <button class="submit-button" type="submit">Update Profile</button>
    </form>
  </main>
  <script>
    $(document).ready(function () {
      $('#subtitle').hide();
      $('#subtitle2').hide();

      const commonConfig = {
        width: '100%',
        tags: true,
        placeholder: "Type or select options",
        allowClear: true,
        createTag: function (params) {
          return {
            id: params.term,
            text: params.term,
            newTag: true
          }
        }
      };

      // Select2 initialization
      $('.skills-select2, .experience-select2, .title-select2, .location-select2').select2(commonConfig);


      $('.skills-select2').select2({
        ...commonConfig,
        tokenSeparators: [',', ' '] // Optional: Defines separators for tokenization
      });

      $('.experience-select2').select2({
        ...commonConfig,

        tokenSeparators: [',', ' '] // Optional: Defines separators for tokenization
      });

      $('.title-select2').select2({
        ...commonConfig,

        tokenSeparators: [',', ' '] // Optional: Defines separators for tokenization
      });

      $('.location-select2').select2({
        ...commonConfig,
        tokenSeparators: [',', ' '] // Optional: Defines separators for tokenization
      });
    });

    function fetchUserPreferences() {
      return fetch('/api/profile/jobs?userId=<%= user.id %>')
        .then(response => response.json())
        .then(data => {
          if (data) {
            document.getElementById('jobPreferredTitle').value = data.jobPreferredTitle || '';
            document.getElementById('jobExperienceLevel').value = data.jobExperienceLevel || '';
            document.getElementById('jobPreferredLocation').value = data.jobPreferredLocation || '';
            document.getElementById('jobPreferredSkills').value = data.jobPreferredSkills || '';
            document.getElementById('jobPreferredSalary').value = data.jobPreferredSalary || '';
            document.getElementById('jobPreferredIndustry').value = data.jobPreferredIndustry || '';
          }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
      let skills = [];
      let userPreferences = null;

      // Fetch user preferences
      fetchUserPreferences().then(() => {});

    });
  </script>
</body>

</html>