<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CORE/error</title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="shortcut icon" href="img/core.png" />
  <style>
    h1 {
      color: #ff0000;
      font-size: 24px;
      margin-top: 50px;
      text-align: center;
    }

    p {
      color: #333333;
      font-size: 16px;
      text-align: center;
    }
  </style>
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'home' }) %>
  <h1><%= error.status %> ERROR</h1>
  <p><%= error.message %></p>


</body>

</html>