<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE/openings</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="css/jobs.css" />
  <link rel="stylesheet" href="css/navbar.css" />
  <link rel="stylesheet" href="./css/com-btn-container.css" />
  <link rel="shortcut icon" href="/img/core.png" />

  <meta name="description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta name="keywords" content="CORE job openings, career opportunities, job listings, join CORE, employment, job search">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="CORE Job Openings">
  <meta property="og:description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta property="og:image" content="/img/core.png">
  <meta property="og:url" content="https://c-ore.dev/openings">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="CORE Job Openings">
  <meta name="twitter:description" content="Explore job openings at CORE. Find your next career opportunity and join our team to make a difference.">
  <meta name="twitter:image" content="/img/core.png">
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'jobs' }) %>
  <main>

    <%- include('partials/com-btn-container', { }) %>

    <div class="jobs-container">
      <div class="jobs-header">
        <h5 id="secondary-text">Openings</h5>
          <% if (user && user.recruiter_id) { %>
          <div class="create-job-button">
            <button class="create-job regular-button-normal" onclick="window.location.href='/jobs/create';">Create job posting</button>
          </div>
          <%     } %>
        <div class="filter-container">
          <div class="recent-jobs">
          </div>
          <div class="filters">

            <div class="title-filter">
            </div>
            <div class="sort-options">
              <div class="location-filter">
              </div>
              <div class="grouped-filters">
                <div class="experienceLevel-filter">
                </div>
                <div class="salary-filter">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="top-tags">
        </div>
      </div>

      <div class="job-list">

      </div>
      <div class="load-more">
        <button class="load-more-btn" id="regular-button">Load More</button>
      </div>
      <%- include('partials/footer') %>

    </div>
    <%- include('partials/right-side-container') %>


    </div>

  </main>

  <script src="js/jobs.js"></script>
</body>

</html>