<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE/openings</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="css/jobs.css" />
  <link rel="stylesheet" href="css/navbar.css" />
  <link rel="stylesheet" href="./css/com-btn-container.css" />


  <link rel="shortcut icon" href="/img/core.png" />
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'jobs' }) %>
  <main>

    <%- include('partials/com-btn-container', { }) %>

    <div class="jobs-container">
      <div class="jobs-container-header">
        <h5>Openings</h5>
        <div class="jobs-sort-selector">
          <% if (user && user.recruiter_id) { %>
          <div class="create-job-button">
            <button class="create-job" onclick="window.location.href='/jobs/create';">+</button>
          </div>
          <% } %>
          <div class="sort-by">
            <label for="sort-by"></label>
            <select name="sort-by" id="sort-by">
              <option value="relevance">Relevance</option>
              <option value="newest">Newest</option>
              <option value="salary">Salary</option>
              <option value="location">Location</option>
            </select>
          </div>
          <div class="filter-by">
            <label for="filter-by"></label>
            <select name="filter-by" id="filter-by">
              <option value="all">All</option>
              <option value="full-time">Full-Time</option>
              <option value="part-time">Part-Time</option>
              <option value="contract">Contract</option>
              <option value="internship">Internship</option>
            </select>
          </div>

          <div class="location-filter">
            <select name="location-filter" id="location-filter">
              <option value="remote">Remote</option>
              <option value="seattle">Seattle</option>
              <option value="san-francisco">San Francisco</option>
              <option value="los-angeles">Los Angeles</option>
              <option value="new-york">New York</option>
              <option value="austin">Austin</option>
              <option value="chicago">Chicago</option>
              <option value="boston">Boston</option>
              <option value="raleigh">Raleigh</option>
              <option value="san-jose">San Jose</option>
              <option value="mountain-view">Mountain View</option>
              <option value="menlo-park">Menlo Park</option>
              <option value="palo-alto">Palo Alto</option>
              <option value="santa-clara">Santa Clara</option>
            </select>
          </div>

        </div>
      </div>
      <div class="job-list">

      </div>
    </div>
    </div>
  </main>
  <script src="js/jobs.js"></script>
</body>

</html>