<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- Primary Meta Tags -->
  <title>\core\ A Better Job Search Experience</title>
  <meta name="title" content="CORE - Discover STEM Jobs and Connect with Others">
  <meta name="description" content="Find core jobs, SWE positions, and remote opportunities at CORE. Connect with top tech employers and advance your career in software engineering, data analysis, and more.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://getcore.dev/">
  <meta property="og:title" content="CORE - Discover STEM Jobs and Connect with Others">
  <meta property="og:description" content="Find core jobs, SWE positions, and remote opportunities at CORE. Connect with top tech employers and advance your career in software engineering, data analysis, and more.">
  <meta property="og:image" content="/img/core.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://getcore.dev/">
  <meta property="twitter:title" content="CORE - Discover STEM Jobs and Connect with Others">
  <meta property="twitter:description" content="Find core jobs, SWE positions, and remote opportunities at CORE. Connect with top tech employers and advance your career in software engineering, data analysis, and more.">
  <meta property="twitter:image" content="/img/core.png">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/img/core.png">
  <link rel="apple-touch-icon" href="/img/core.png">

  <!-- Canonical URL -->
  <link rel="canonical" href="https://getcore.dev/">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/css/navbar.css">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "CORE",
      "url": "https://getcore.dev",
      "sameAs": [
        "https://twitter.com/getcore_dev",
      ]
    }
  </script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-sans dark:text-white">
  <main class="p-4">
    <div class="logo-img">
      <a href="/">
        <img class="h-20 w-30 ml-auto mr-auto mb-5" src="/img/core.png" alt="CORE" />
      </a>
      <h1 class="text-2xl font-semibold text-center">core</h1>
      <p class="text-center mb-8 text-md">A better job search experience, personalized, and tailored for you.</p>
      <div class="flex flex-row gap-4 justify-center mb-10">
        <a href="/register" class="inline-flex gap-2 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user">
            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
            <circle cx="12" cy="7" r="4" />
          </svg>
          <p class="text-sm">
            Join
          </p>
        </a>
        <a href="/login" class="inline-flex gap-2 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-key-round">
            <path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z" />
            <circle cx="16.5" cy="7.5" r=".5" fill="currentColor" />
          </svg>
          <p class="text-sm">
            Login
          </p>
        </a>
        <a href="https://github.com/login/oauth/authorize?client_id=b37718dbac10df16ec0c&amp;redirect_uri=https%3A%2F%2Fgetcore.dev%2Fauth%2Fgithub%2Fcallback" class="inline-flex gap-2 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2">
          <img src="/src/github.png" alt="GitHub Logo" style="height:16px;width:16px;background: white; border-radius: 100%;">
          <p class="text-sm">
            GitHub Login
          </p>
        </a>
      </div>

      <section>
        <span class="flex flex-row gap-2 v-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mouse-pointer-click">
            <path d="M14 4.1 12 6" />
            <path d="m5.1 8-2.9-.8" />
            <path d="m6 12-1.9 2" />
            <path d="M7.2 2.2 8 5.1" />
            <path d="M9.037 9.69a.498.498 0 0 1 .653-.653l11 4.5a.5.5 0 0 1-.074.949l-4.349 1.041a1 1 0 0 0-.74.739l-1.04 4.35a.5.5 0 0 1-.95.074z" />
          </svg>
          <h2 class="text-xl font-semibold">Transform job postings like magic</h2>
        </span>
        <div class="p-5">
          <img src="/src/IMG_2387.jpeg" alt="Additional Image" class="w-full shadow-lg rounded-lg ml-auto mr-auto mb-5 md:w-1/2">
        </div>
        <p class="text-lg mb-5">core is a job search platform that transforms job postings into a more readable format. We provide a better job search experience by removing the clutter, and verifying the integrity of the job posting before you apply.</p>
      </section>

      <section>
        <span class="flex flex-row gap-2 v-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkles">
            <path d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z" />
            <path d="M20 3v4" />
            <path d="M22 5h-4" />
            <path d="M4 17v2" />
            <path d="M5 18H3" />
          </svg>
          <h2 class="text-xl font-semibold">Personalized for you</h2>
        </span>
        <div class="p-5">
          <img src="/src/otherscreen.png" alt="Additional Image" class="w-full shadow-lg rounded-lg ml-auto mr-auto mb-5 md:w-1/2">
        </div>
        <p class="text-lg mb-5">core is personalized for you automatically. With thousands of job postings scraped daily, you can sign up and get personalized suggestions based on your experience.</p>
      </section>

      <section>
        <span class="flex flex-row gap-2 v-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-bar">
            <path d="M3 3v16a2 2 0 0 0 2 2h16" />
            <path d="M7 16h8" />
            <path d="M7 11h12" />
            <path d="M7 6h3" />
          </svg>
          <h2 class="text-xl font-semibold">Keep track of your progress</h2>
        </span>
        <div class="p-5">
          <img src="/src/appliedscreen.png" alt="Additional Image" class="w-full shadow-lg rounded-lg ml-auto mr-auto mb-5 md:w-1/2">
        </div>
        <p class="text-lg mb-5">core allows you to keep track of your job applications. With a simple interface, you can mark jobs as applied, and keep track of your progress.</p>
      </section>

      <section>
        <span class="flex flex-row gap-2 v-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lock">
            <rect width="18" height="11" x="3" y="11" rx="2" ry="2" />
            <path d="M7 11V7a5 5 0 0 1 10 0v4" />
          </svg>
          <h2 class="text-xl font-semibold">Privacy when you want</h2>
        </span>
        <div class="p-5">
          <img src="/src/privacyscreen.png" alt="Additional Image" class="w-full shadow-lg rounded-lg ml-auto mr-auto mb-5 md:w-1/2">
        </div>
        <p class="text-lg mb-5">core respects your privacy. We don't store any personal information, and we don't track you. You always have the option to make your education and work experience hidden from the public.</p>
      </section>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>

</html>