<!DOCTYPE html>
<html>
  <head>
    <title>About Core</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/learning.css" />
    <link rel="shortcut icon" href="img/core.png" />
  </head>
  <body>
    <div>
    <%- include('partials/navbar', { pagePath: 'home' }) %>
    <h1>Learning</h1>
    <div class="data-structures-container">
      Data Structures <br />
      <button class="complete">Array</button class="complete"> <button class="incomplete">Stack</button> <button class="incomplete">Queue</button>
      <button class="incomplete">Linked List</button> <button class="incomplete">Tree</button> <button class="incomplete">Graph</button>
      <button class="incomplete">Heap</button> <button class="incomplete">Hash Table</button> <button class="incomplete">Set</button>
      <button class="incomplete">Matrix</button> <button class="incomplete">Trie</button>
      <button class="incomplete">Priority Queue</button> <button class="incomplete">Map</button>
      <button class="incomplete">Tuple</button> <button class="incomplete">Bloom Filter</button>
    </section>
    </div>

    <div class="algorithms-container">
      <br />Algorithms <br />
      <button class="complete">Breadth-First Search</button class=>
      <button class="complete">Depth-First Search</button> <button class="incomplete">Binary Search</button>\
      <button class="incomplete">Merge Sort</button> <button class="incomplete">Quick Sort</button>
      <button class="incomplete">Heap Sort</button> <button class="incomplete">Bubble Sort</button>
      <button class="incomplete">Insertion Sort</button>\ <button class="incomplete">Selection Sort</button>
      <button class="incomplete">Topological Sort</button> <button class="incomplete">Dijkstra's Algorithm</button>
      <button class="incomplete">A* Search</button> <button class="incomplete">Kruskal's Algorithm</button>
      <button class="incomplete">Prim's Algorithm</button> <button class="incomplete">Tree Traversal</button>
      <button class="incomplete">Dynamic Programming</button> <button class="incomplete">Backtracking</button>
      <button class="incomplete">Hashing</button>
      <button class="incomplete">String Matching</button>
    </div>
    </div>
  </body>
</html>
