<!DOCTYPE html>
<html>
  <head>
    <title>About Core</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="css/navbar.css" />
  </head>
  <body>
    <%- include('partials/navbar', { pagePath: 'home' }) %>
    <h1>Learning</h1>
    <p>
      Data Structures <br />
      <button>Array</button> <button>Stack</button> <button>Queue</button>
      <button>Linked List</button> <button>Tree</button> <button>Graph</button>
      <button>Heap</button> <button>Hash Table</button> <button>Set</button>
      <button>Matrix</button> <button>Trie</button>
      <button>Priority Queue</button> <button>Map</button>
      <button>Tuple</button> <button>Bloom Filter</button>

      <br />Algorithms <br />
      <button>Breadth-First Search</button>
      <button>Depth-First Search</button> <button>Binary Search</button>\
      <button>Merge Sort</button> <button>Quick Sort</button>
      <button>Heap Sort</button> <button>Bubble Sort</button>
      <button>Insertion Sort</button>\ <button>Selection Sort</button>
      <button>Topological Sort</button> <button>Dijkstra's Algorithm</button>
      <button>A* Search</button> <button>Kruskal's Algorithm</button>
      <button>Prim's Algorithm</button> <button>Tree Traversal</button>
      <button>Dynamic Programming</button> <button>Backtracking</button>
      <button>Hashing</button>
      <button>String Matching</button>
    </p>
  </body>
</html>
