<!DOCTYPE html>
<html>
  <head>
    <title>CORE Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <%- include('partials/navbar', { pagePath: 'home' }) %>
    <main>
      <div id="login">
        <% if (messages.error) {%> <%= messages.error %> <% } %>
        <form action="/login" method="POST">
          <div class="input-container">
            <input
              type="text"
              placeholder="Username"
              name="username"
              required
              maxlength="50"
            />
          </div>

          <div class="input-container">
            <input
              type="password"
              placeholder="Password"
              name="password"
              required
              id="password"
            />
          </div>
          <button type="submit" id="login-button">Login</button>
        </form>
        Click
        <a href="/register" class="join-link"
          ><span class="highlight">here</span></a
        >
        to join
      </div>
    </main>
  </body>
</html>
