<!DOCTYPE html>
<html>

<head>
  <title>CORE - Login</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="css/navbar.css" />
  <link rel="stylesheet" href="css/login.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <%- include('partials/navbar', { pagePath: 'home' }) %>

  <main>
    <img src="/img/core.png" onclick="window.location.href = '/'" alt="CORE Logo" class="core-logo" />
    <div class="account-stuff">
      <div id="register">
        <div class="current-user-container">
          <div class="radar-pulse">
            <div class="circle"></div>
            <div class="pulse"></div>
            <div class="pulse"></div>
          </div>
          <span class="current-user-count text-sm text-muted-foreground">0</span>
        </div>

        <div class="user-res main-text">
          <h3 class="font-semibold tracking-tight text-2xl">Login</h3>

          <p class="text-sm text-muted-foreground">
            Not a member? <a class="underline underline-offset-4 hover:text-primary" href="/register">Register here</a>
          </p>
        </div>
      </div>

      <div id="login">

        <% if (successMessages && successMessages.length > 0) { %>
        <div class="success-messages">
          <% successMessages.forEach(function(msg) { %>
          <p class="success-message"><%= msg %></p>
          <% }); %>
        </div>
        <% } %>
        <% if (errorMessages && errorMessages.length > 0) { %>
        <div class="error-messages">
          <% errorMessages.forEach(function(msg) { %>
          <p class="error-message"><%= msg %></p>
          <% }); %>
        </div>
        <% } %>
        <div class="login-buttons flex justify-center">
          <a href="https://github.com/login/oauth/authorize?client_id=b37718dbac10df16ec0c&redirect_uri=https%3A%2F%2Fgetcore.dev%2Fauth%2Fgithub%2Fcallback">
            <button class="inline-flex items-center justify-center whitespace-nowrap rounded-lg text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring/70 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:shrink-0 border border-input bg-background shadow-sm shadow-black/5 hover:bg-accent hover:text-accent-foreground h-9 w-9" aria-label="Login with GitHub"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" aria-hidden="true" class="remixicon ">
                <path d="M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z"></path>
              </svg></button>
          </a>
        </div>
        <div class="relative flex justify-center text-xs uppercase"><span class="bg-card px-2 text-muted-foreground mb-4">Or continue with</span></div>
        <form action="/login" method="POST">
          <div class="input-container mb-4 relative">
            <input class="flex h-9 w-full rounded-lg border border-input bg-background px-3 py-2 text-sm text-foreground shadow-sm shadow-black/5 ring-offset-background transition-shadow placeholder:text-muted-foreground/70 focus-visible:border-ring focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring/30 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" type="text" name="username" id="username" placeholder="Username" required>
          </div>

          <div class="input-container mb-4 relative">
            <button type="button" class="lucide lucide-search absolute right-5 top-2 h-4 w-4 text-foreground" id="toggle-password" onclick="togglePasswordVisibility()">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye">
                <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
                <circle cx="12" cy="12" r="3" />
              </svg>
            </button>
            <input type="password" class="flex h-9 w-full rounded-lg border border-input bg-background px-3 py-2 text-sm text-foreground shadow-sm shadow-black/5 ring-offset-background transition-shadow placeholder:text-muted-foreground/70 focus-visible:border-ring focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring/30 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" name="password" id="password" placeholder="Password" required>


          </div>

          <button type="submit" class="inline-flex mb-4 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-400 disabled:pointer-events-none disabled:opacity-50 bg-gray-900 text-white hover:bg-gray-800 dark:bg-white dark:text-gray-900 dark:hover:bg-gray-100 shadow h-9 px-4 py-2 w-full">
            <span class="text-background">Login</span>
          </button>
          <p class="flex-1 text-sm text-muted-foreground">Forgot your password? Reset it <a class="link" href="/forgot-password"> here</a></p>

        </form>
      </div>
    </div>
    <%- include('partials/footer') %>

  </main>
</body>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback" async defer></script>

<script>
  async function updateUserCount() {
    try {
      const response = await fetch('/api/get-current-user-count');
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      const userCount = await response.json();
      document.querySelector('.current-user-count').textContent = userCount + ' active users';
    } catch (error) {
      console.error('Error fetching user count:', error);
    }
  }

  function togglePasswordVisibility() {
    const passwordInput = document.getElementById('password');
    const toggleButton = document.getElementById('toggle-password');
    const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordInput.setAttribute('type', type);

    /* closed eye
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-closed"><path d="m15 18-.722-3.25"/><path d="M2 8a10.645 10.645 0 0 0 20 0"/><path d="m20 15-1.726-2.05"/><path d="m4 15 1.726-2.05"/><path d="m9 18 .722-3.25"/></svg>
     */
    toggleButton.innerHTML = type === 'password' ? `
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye">
      <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
      <circle cx="12" cy="12" r="3" />
    </svg>` : `
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-closed">
      <path d="m15 18-.722-3.25"/><path d="M2 8a10.645 10.645 0 0 0 20 0"/><path d="m20 15-1.726-2.05"/><path d="m4 15 1.726-2.05"/><path d="m9 18 .722-3.25"/>
    </svg>`;


  }
  document.addEventListener("DOMContentLoaded", function () {
    updateUserCount();
    const inputs = document.querySelectorAll('.input-container input');
    const labels = document.querySelectorAll('.input-container label');

    inputs.forEach((input, index) => {
      input.addEventListener('focus', () => {
        labels[index].classList.add('active');
        inputs[index].placeholder = '';
        inputs[index].classList.add('active');
      });

      input.addEventListener('blur', () => {
        if (input.value === '') {
          labels[index].classList.remove('active');
          inputs[index].placeholder = labels[index].textContent;
          inputs[index].classList.remove('active');
        }
      });
    });
  });

  function onTurnstileSuccess(token) {
    // Enable the login buttons
    document.getElementById('submit-button').disabled = false;
    document.getElementById('github-login-btn').removeAttribute('disabled');

    // You may want to store the token to send it with your form submission
    document.getElementById('turnstile-token').value = token;
  }


  function onSignIn(googleUser) {
    // Useful data for your client-side scripts:
    var profile = googleUser.getBasicProfile();

    // The ID token you need to pass to your backend:
    var id_token = googleUser.getAuthResponse().id_token;

    // Send the ID token to your backend via an HTTPS POST request
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'YOUR_BACKEND_URL_HERE');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function () {};
    xhr.send(JSON.stringify({
      token: id_token
    }));
  }

  // Sign out function (if you want to provide a sign-out button)
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {});
  }
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

</html>