<!DOCTYPE html>
<html>

<head>
  <title>CORE/login</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <link rel="stylesheet" href="css/login.css" />
  <link rel="stylesheet" href="css/navbar.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <%- include('partials/navbar', { pagePath: 'home' }) %>
  <main>
    <div id="register">
      <div class="user-res">
        Not a member? <a href="/register">Register here</a>
      </div>

    </div>
    <div id="login">
 <a href="https://github.com/login/oauth/authorize?client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_REDIRECT_URI" class="github-login-btn">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo">
    Login with GitHub
  </a>
      <% if (messages.error) {%> <%= messages.error %> <% } %>
      <form action="/login" method="POST">
        <div class="input-container">
          <label for="username">Username</label>
          <input type="text" name="username" required maxlength="50" />
        </div>

        <div class="input-container">
          <label for="password">Password</label>
          <a href="#" id="forgot-pass">Forgot?</a>

          <input type="password" name="password" required id="password" />
        </div>
        <button type="submit" id="login-button">
          <p id="login-text">Login</p>
        </button>
      </form>
    </div>
  </main>
</body>

</html>