<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Join</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/register.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <%- include('partials/navbar', { pagePath: 'home' }) %>
    <div id="registration">
      <h1>CORE</h1>
      <form action="/register" method="POST">
        <div class="input-container">
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>

        <div class="input-container">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Username"
            required
            maxlength="25"
          />
        </div>

        <div class="input-container">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>

        <div class="input-container">
          <input
            type="text"
            id="zipcode"
            name="zipcode"
            placeholder="Zip Code"
            required
            style="display: block"
          />
        </div>
        <a href="/register" id="register-text" class="register-text">
          <button type="button" id="register-button">Join</button>
        </a>
      </form>
      <a href="/login" id="login-text"
        ><button id="login-button">Login</button></a
      >
    </div>
  </body>
</html>
