<!DOCTYPE html>
<html>

<head>
  <title>CORE- Reset Password</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/navbar.css" />
  <link rel="stylesheet" href="../css/register.css" />
  <link rel="shortcut icon" href="/img/core.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<style>
  .account-stuff {
    padding: 15px 13px !important;
    box-sizing: border-box;
  }

  .user-res {
    margin-bottom: .4rem;
  }

  .account-stuff {
    padding: 15px 0;
  }

  .account-stuff h3 {
    margin-bottom: .7rem;
  }

  .error-messages p {
    color: red;
  }

  .input-container input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .input-container button {
    display: block;
    width: 100%;
  }

  .password-strength {
    margin-bottom: 1rem;
  }

  .password-match {
    margin-bottom: 1rem;
  }
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'home' }) %>

  <main>
    <div class="account-stuff">
      <h3>Reset Password</h3>
      <% if (errorMessages && errorMessages.length > 0) { %>
      <div class="error-messages">
        <% errorMessages.forEach(function(msg) { %>
        <p class="error-message"><%= msg %></p>
        <% }); %>
      </div>
      <% } %>
      <form class="input-container" action="/reset-password/<%= token %>" method="POST">
        <input type="password" id="password" name="password" placeholder="New Password" required>
        <span id="password-strength" class="password-strength flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 flex-1"></span>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" required>
        <span id="password-match" class="password-match"></span>
        <button class="regular-button" type="submit">Reset Password</button>
      </form>
    </div>
    <%- include('partials/footer') %>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var password = document.getElementById("password");
      var confirmPassword = document.getElementById("confirmPassword");
      var passwordStrengthText = document.getElementById("password-strength");
      var passwordMatchText = document.getElementById("password-match");

      function checkPasswordStrength() {
        var strength = 0;
        if (password.value.length > 5) strength += 1;
        if (password.value.match(/(?=.*[0-9])/)) strength += 1;
        if (password.value.match(/(?=.*[!@#$%^&*])/)) strength += 1;
        if (password.value.match(/(?=.*[a-z])/)) strength += 1;
        if (password.value.match(/(?=.*[A-Z])/)) strength += 1;

        switch (strength) {
        case 1:
        case 2:
          passwordStrengthText.textContent = "Weak";
          password.style.borderColor = "red";
          password.classList.add("weak");
          password.classList.remove("medium");
          password.classList.remove("strong");
          break;
        case 3:
        case 4:
          passwordStrengthText.textContent = "Medium";
          password.style.borderColor = "yellow";
          password.classList.add("medium");
          password.classList.remove("weak");
          password.classList.remove("strong");
          break;
        case 5:
          passwordStrengthText.textContent = "Strong";
          password.style.borderColor = "green";
          password.classList.remove("medium");
          password.classList.remove("weak");
          password.classList.add("strong");
          break;
        default:
          passwordStrengthText.textContent = "";
          password.style.borderColor = "";
        }
      }

      function checkPasswordMatch() {
        if (password.value === confirmPassword.value) {
          passwordMatchText.textContent = "Passwords match";
          confirmPassword.style.borderColor = "green";
          confirmPassword.classList.add("match");
          confirmPassword.classList.remove("no-match");
        } else {
          passwordMatchText.textContent = "Passwords do not match";
          confirmPassword.style.borderColor = "red";
          confirmPassword.classList.remove("match");
          confirmPassword.classList.add("no-match");
        }
      }

      password.addEventListener("input", function () {
        checkPasswordStrength();
        checkPasswordMatch();
      });

      confirmPassword.addEventListener("input", checkPasswordMatch);
    });
  </script>
</body>

</html>