<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE Feedback Success</title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/login.css" />

  <link rel="shortcut icon" href="/img/core.png" />
</head>
<style>
  .account-stuff {
    padding: 15px 13px !important;
    box-sizing: border-box;
  }

  .account-stuff h3 {
    margin-bottom: .3rem;
  }

  .account-stuff .user-res {
    margin-bottom: .9rem;
  }
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'updates' }) %>
  <main>
    <div class="account-stuff">
      <h3>Success!</h3>
      <div class="user-res">
        Your feedback has been submitted successfully.
      </div>
    </div>
    <%- include('partials/footer') %>
  </main>
  <script>

  </script>
</body>

</html>