<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>CORE/updates</title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/updates.css" />
  <link rel="shortcut icon" href="/img/core.png" />
</head>
<style>
</style>

<body>
  <%- include('partials/navbar', { pagePath: 'updates' }) %>
  <main>
    <div id="updates-header">
      <h4 id="updates-header-text">Loading...</h4>
      <% if (typeof user !== 'undefined') { %>
      <% if (user.isAdmin) { %>
      <a href="/updates/new">
        <button class="null-button-normal"><span class="material-symbols-outlined">
            add
          </span> Update
        </button>
      </a>
      <% } %>
      <% } %>
    </div>
    <div id="commits-container">
    </div>
    <%- include('partials/footer') %>
  </main>
  <script>
    function fetchUpdates() {
      fetch('/api/updates')
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json(); // Parse the JSON from the response
        })
        .then(data => {
          console.log('Received data:', data);
          const updatesHeader = document.getElementById('updates-header-text');
          const commitsContainer = document.getElementById('commits-container');

          if (updatesHeader && commitsContainer) {
            // Update your DOM elements here
            updatesHeader.textContent = 'Latest Updates';
            commitsContainer.innerHTML = ''; // Clear existing content

            // Assuming 'data' is an array of updates
            data.updates.forEach(update => {
              const updateElement = document.createElement('div');
              updateElement.classList.add('update');
              updateElement.onclick = () => (window.location.href = `/updates/${update.id}`);

              const updateIcon = document.createElement('div');
              updateIcon.classList.add('update-icon');
              updateIcon.innerHTML = '<span class="material-symbols-outlined">update</span>';

              const updateContent = document.createElement('div');
              updateContent.classList.add('update-content');

              const updateHeader = document.createElement('div');
              updateHeader.classList.add('update-header');
              updateHeader.classList.add('secondary-text');
              updateHeader.classList.add('mini-text')
              updateHeader.textContent = new Date(update.post_date).toDateString();

              const updateBody = document.createElement('div');
              updateBody.classList.add('update-body');
              updateBody.classList.add('main-text');

              updateBody.innerHTML = `<h4>${update.title}</h4>`;
              updateBody.innerHTML += `<p class="sub-text secondary-text">${update.content}</p>`;
              updateBody.innerHTML += `<p class="mini-text third-text"><span style="margin-right: 0.6rem;"><a class="link" href="${update.pull_request_url}">${update.pull_request_url.split('/').slice(-2).join('/')}<span class="material-symbols-outlined">open_in_new</span></a></span><span>${update.comment_count} comment${update.comment_count !== 1 ? 's' : ''}</span></p>`;


              updateContent.appendChild(updateHeader);
              updateContent.appendChild(updateBody);
              updateElement.appendChild(updateIcon);
              updateElement.appendChild(updateContent);
              commitsContainer.appendChild(updateElement);
            });
          } else {
            console.error('Required DOM elements not found');
          }
        })
        .catch(error => {
          console.error('Error fetching updates:', error);
        });
    }
    fetchUpdates();
  </script>
</body>

</html>