<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="./css/navbar.css" />
    <link rel="stylesheet" href="./css/communities.css" />
  </head>
  <body>
    <%- include('partials/navbar', { pagePath: 'communities' }) %>
    <div id="profile">
      <h1>User Profile</h1>
      <div class="profile-info">
        <p><strong>Username:</strong> <%= user.username %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
        <p><strong>Zip Code:</strong> <%= user.zipcode %></p>
      </div>
    </div>
  </body>
</html>
