.main {
    padding: 0px 20px;
}
/* Container for GitHub updates */
.github-updates {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f6f8fa;
    padding: 0px;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', monospace;
    color: #24292e;
    width: 40%; /* Adjust width as needed */
  }
  
  /* Style for each update card */
  .github-update-card {
    border-bottom: 1px solid #e1e4e8;
    padding: 10px;
    background-color: white;
  }
  
  /* Last child shouldn't have a border at the bottom */
  .github-update-card:last-child {
    border-bottom: none;
  }
  
  /* Style for commit messages and other details */
  .commit-message {
    margin: 0;
    /* Add more styles if needed */
  }
  
  /* Add styles for author, date, etc. */
  
  /* Style for glyphs */
.update-glyph {
    /* Style for the glyph container */
    margin-right: 10px;
  }
  
  .glyph-commit {
    /* Specific style for commit glyph */
    color: blue;
  }
  
  .glyph-merge {
    /* Specific style for merge glyph */
    color: green;
  }
  
  /* Style for update details */
  .update-details {
    color: black;
    /* Styles for the details of the update */
  }