body, h1, h2, h3, p {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Set default font family */
}
i {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust the left position as needed */
    transform: translateY(-50%);
    font-size: 1.2rem; /* Adjust the font size as needed */
    color: #777; /* Adjust the color of the icon */
  }

  .input-container select#country {
    padding-left: 30px; /* Adjust the padding to make space for the icon */
    width: 100%; /* Set the width to 100% to fill the available space */
    min-height: 40px !important; /* Add !important to increase specificity */
    border: 1px solid #ccc; /* Add border styles as needed */
    border-radius: 4px; /* Add border-radius as needed */
}


  #username {
    padding-left: 30px; /* Add padding to the left of the input field to make space for the icon */
    width: 100%; /* Set the width of the input field */
    border: 1px solid #ccc; /* Add border styles as needed */
    border-radius: 4px; /* Add border-radius as needed */
  }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Style the form inputs */
input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
}

/* Style the submit button */
button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* Style the submit button on hover */
button:hover {
    background-color: #0069d9;
}
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

#com-btn-container {
      /* scroll bar and stuff*/
      padding-top: 30px;
      padding-left: 9px;
      display: flex;
      overflow-x: auto;
      scrollbar-width: none;
      &::-webkit-scrollbar {
          display: none;
      }
}

.com-btn {
  flex: 0 0 auto;
  margin: 0px 10px;
  cursor: pointer;

  /* Add more styling as needed */
}

.content {
  padding: 20px; /* Add some padding to separate content from the navbar */
}
