:root {
  --primary-text-color: #1D2935;
  --light-mode-main-color: #fff;
  --light-mode-body-color: #F6F8FA;
  --border-color: #D8E0E9;
  --hover-background-color: #ddd;
  --active-indicator-color: #0e6655;
  --dark-mode-main-color: #1B1F22;
  --dark-mode-body-color: #16191B;
  --dark-mode-text-color: #fff;
  --dark-mode-border-color: #272D31;
  --dark-mode-hover-background-color: #444;
}

.com-btn-container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
  }
  

  #com-btn-container {
    padding: 15px 30px;
    display: flex; 
    background-color: #F6F8FA;
    flex-direction: column;
    overflow-x: none;
    scrollbar-width: none; 
    overflow-y: auto;
    height: calc(100vh - 115px);
  }
  
  .communities {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.create-post-btn {
  padding: 4px;
  width: 60px;
  background: #229954;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: all 0.7s ease;
  text-decoration: none;
  flex: 0 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  gap: 2px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.trending-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.trending-posts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.trending-post-content {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit the text block to just one line */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Hide text that doesn't fit in the box */
  text-overflow: ellipsis; /* Add an ellipsis at the end of the text that doesn't fit */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  max-width: 100%; /* Ensure it takes the full width of its container */
}


.avatar-com-container img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

  #com-btn-container h4 {
    margin: 2px 0px;
    margin-bottom: 4px;
    font-size: 19px;
    font-weight: 400;
  }
  
  .trending-post-avatar img 
  {
  width: 16px;
  border-radius: 50%;
  height: auto;
}
  
  #com-btn-container::-webkit-scrollbar, #job-btn-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
  }

  #com-btn-container { 
    width: 13%;
    flex: none; /* This will prevent the container from growing */
    display: flex;
    flex-direction: column; /* Stacks the buttons vertically */
    -webkit-scrollbar {
      display: none;
    }
    
    -ms-overflow-style: none; 
    scrollbar-width: none;
    -ms-autohiding-scrollbar: none;
  
  }
  
  #com-btn-container {
    border-right: 1px solid #D8E0E9;
  }

  #com-btn-container a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 425;
    color: black;
    margin: 4px 0px;
  }

  #com-btn-container .user {
    font-size: 14px;
    font-weight: 700;
    margin: 3px;
  }

  .create-post-btn {
    padding: 4px;
    width: 60px;
    background: #0C8346;
    border: 1px solid #0E954F;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: all 0.7s ease;
    text-decoration: none;
    flex: 0 0 auto;
    text-align: center;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    gap: 2px;
  }
  
  .create-post-btn .material-symbols-outlined {
    font-size: 17px;
    vertical-align: -3px;
  }
  
  .create-post-btn a:hover {
    text-decoration: none;
  }

  .communities .material-symbols-outlined, .trending-post .material-symbols-outlined {
    font-size: 16px;
}
  
  #com-btn-container a:hover {
    color: var(--active-indicator-color);
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    #com-btn-container {
        background-color: #1B1F22;
      }
    
      .com-btn, .job-btn {
        background: rgba(0,0,0,0);
        color: var(--btn-text-dark);
    }

  #com-btn-container a {
    text-decoration: none;
    color: #ddd;
  }

  #com-btn-container {
    border-right: 1px solid #272D31;
  }
    
  }
  @media (max-width: 768px) {
    #com-btn-container {
        display: none;
      }
  }