/* General Button Style */
button {
  padding: 7px 15px;
  margin-top: 0;
  cursor: pointer;
}

/* Post Container Styles */
.post {
  border: 2px solid #ddd; /* Post border */
  margin-top: 10px;
  margin-bottom: 25px; /* Vertical margin for post */
  padding: 20px; /* Increased padding for better spacing */
  border-radius: 5px; /* Increased border radius for softer corners */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack content vertically */
  justify-content: space-between; /* Distribute space evenly between items */
  position: relative; /* Positioning context for child elements */
  flex: 1; /* Ensure all posts take up the same amount of space */
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); /* Smooth transition for hover effect */
}

.post:hover {
  border: 2px solid #aaa; /* Post border */
  box-shadow: 0 14px 50px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.01); /* Increase shadow on hover for a "lift" effect */
}

/* Thumbnail Styles */
.thumbnail {
  position: absolute; /* Absolute positioning inside post */
  top: 0; /* Top alignment */
  bottom: 0; /* Bottom alignment */
  left: 0; /* Left alignment */
}

.thumbnail-image {
  border-radius: 5px; /* Increased border radius for softer corners */

  width: 100px; /* Width */
  height: 100%; /* Full height */
  aspect-ratio: 1/1; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the space without stretching */
}

/* Post Content Styles */
.post-content {
  flex-grow: 1; /* Take up remaining space */
  margin-left: 100px; /* Space for thumbnail */
  padding: 0; /* No padding */
}

.post-content .community-name {
  font-weight: bold; /* Bold font */
  color: #4682B4; /* Color */
}

.post-content .header {
  background: linear-gradient(to right, #ff9966, #ff5e62);
  color: white; /* Text color */
  padding: 3px 6px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  font-size: 12px; /* Smaller font size for the flair */
  font-weight: bold; /* Bold text */
  transform: translateY(+50%); /* Move the flair up by 50% of its height */
}

.com-btn {
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.com-btn:hover {
  background-position: right;
  color: white;
  text-decoration: none;
}
.title {
  font-size: 22px; /* Font size */
  font-weight: bold; /* Bold font */
  margin: 0; /* No margin */
}


/* Styles for Post Elements */
.user-info, .post-date, .description, .reactions {
  font-size: 14px; /* Font size for consistency */
  color: #333; /* Default text color */
}

.title {
  color: #333; /* Specific color for title */
}

.user-info, .post-date {
  color: #666; /* Lighter text color */
}

.description {
  margin: 5px 0; /* Margin around description */
}

.reactions {
  margin-top: 10px; /* Margin above reactions */
}

.reaction-icon {
  width: 20px; /* Icon width */
  vertical-align: text-bottom; /* Align with bottom of text */
}

/* Icon Styles */
.material-symbols-outlined {
  font-size: 16px; /* Icon size */
  vertical-align: -3px; /* Vertical alignment */
}

#trending-icon {
  font-size: 20px; /* Trending icon size */
  color: #ff5722; /* Trending icon color */
}

#verified-icon {
  font-size: 15px; /* Verified icon size */
  color: green; /* Verified icon color */
}

#com-btn-container {
  padding-top: 20px;
}

#com-btn-container::-webkit-scrollbar, #job-btn-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

/* Button Styles */
.com-btn, .job-btn {
  flex: 0 0 auto;
  margin: 10px; /* Margin around buttons */
  cursor: pointer; /* Pointer cursor on hover */
}