:root {
  --primary-text-color: #1D2935;
  --light-mode-main-color: #fff;
  --light-mode-body-color: #F6F8FA;
  --border-color: #D8E0E9;
  --hover-background-color: #ddd;
  --active-indicator-color: #0e6655;
  --dark-mode-main-color: #1B1F22;
  --dark-mode-body-color: #16191B;
  --dark-mode-text-color: #fff;
  --dark-mode-border-color: #272D31;
  --dark-mode-hover-background-color: #444;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.post {
  display: flex; 
  background: var(--light-mode-body-color);
  border: 1px solid var(--border-color);
  flex-direction: row;
  justify-content: space-between; 
  position: relative; 
  height: auto;
  flex: 0 1 auto; 
  border-radius: 5px;
  margin: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
  overflow-y: none;
}

.post:hover {
  cursor: pointer;
}

.link {
  padding-top: 1px;
  text-decoration: none;
  font-size: 17px;
}

.score {
  display:flex;
  font-size: 18px;
}

.post-info {
  color: #666; 
}

#posts-container {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

.votes {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7px;
}

.reaction-interactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



div.vote-interactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.thumbnail {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding: 5px 5px;
}

.thumbnail-image {
  border-radius: 5px; 
  max-width: 39px; 
  max-height: 39px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 1px solid var(--border-color);
}

.current-job {
  font-size: 12px;
}

.post-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  border-radius: 6px;
  margin-top: 7px;
  margin-left: 5px;
  width: 100%;
  align-items: center;
}

.post-header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-content {
  position: relative;
  margin: 4px 12px;
  flex-grow: 1; /* Take up remaining space */
  padding: 0; /* No padding */
  padding-top: 5px;
}

.com-btn {
  background: rgba(0,0,0,0);
}


.job-flair {
  display: inline-block;
  padding: 2px 3px;
  margin: 2px;
  background-color: #FF6F59; 
  border: 1px solid #e05624; 
  color: white;
  border-radius: 6px;
  font-size: 12px;
  position: relative;
}

.reaction-button, .main-reaction-button, .boost-button {
  background-color: var(--light-mode-body-color);
  border: 1px solid var(--border-color);
  color: #666;
  border-radius: 15px;
  padding: 4px 8px;
  margin: 3px 5px;
  font-size: 14px;
  font-weight: 500;
}

.reaction-interactions .material-symbols-outlined {
  font-size: 14px;
  vertical-align: -2px;
}

.main-reaction-button {
  padding: 4px 6px;
  margin: 0px;
  border-radius: 100%;
}

.reaction-button:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.reaction-button .material-symbols-outlined {
  font-size: 15px;
  vertical-align: -3px;
}

#post-flair {
  display: inline-block;
  padding: 2px 3px;
  margin: 2px;
  background-color: #6d93b1; 
  border: 1px solid #6488a4; 
  color: white;
  border-radius: 6px;
  font-size: 14px;
  position: relative;
}

.create-post-btn {
  padding: 4px;
  width: 60px;
  background: #229954;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: all 0.7s ease;
  text-decoration: none;
  flex: 0 0 auto;
  text-align: center;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  gap: 2px;
}

.recent-post-avatar img {
  width: 16px;
  height: auto;
}

.trending-post-avatar img {
  width: 16px;
  border-radius: 50%;
  height: auto;
}


.create-post-btn .material-symbols-outlined {
  font-size: 17px;
  vertical-align: -3px;
}

.create-post-btn a:hover {
  text-decoration: none;
}

.communities {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.communities .material-symbols-outlined {
  font-size: 16px;
}

.link-preview {
  background-color: #E5EBF1;
  margin: 10px 3px;
  border-radius: 6px;
  padding: 4px 6px;
}

.reaction-menu {
  position: absolute;
  transform: translateX(-38%) translateY(-100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #bbb;
  border-radius: 25px;
  border: 1px solid #ccc;
  pointer-events: none;
  z-index: 999;
}

.reaction-menu button {
  pointer-events: auto;
  font-size: 16px;
  padding: 10px;
  border: 0;
  background: 0;
  border-radius: 6px;
  transition: transform 2s ease;
}

.title {
  font-size: 21px;
  font-weight: 600;
  margin-top: 7px;
  margin-left: 3px;
  color: #333; 
}



#date-icon, #user-icon, #comments-icon, #score-icon {
  vertical-align: -4px;
  padding: 3px;
  font-size: 15px;
  color: #666; 
}

.post-info {
  padding-bottom: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

/* Styles for Post Elements */
.user-info, .post-info, .description, .reactions {
  font-size: 16px; 
  color: #333;
  margin-right: 5px;
}

.description {
  font-size: 14px;
  margin-left: 5px;
  font-weight: bold;
  padding: 3px;
}

.description .material-symbols-outlined {
  font-size: 14px;
  vertical-align: -3px;
  margin: 0px 4px;
  color: #69956e;
  font-weight: bold;
}

.title {
  color: #333; 
}

.user-info, .post-info {
  color: #666; /* Lighter text color */
}

.timestamp {
  font-size: 14px;
  color: #666; /* Lighter text color */
}

.comments {
  font-size: 14px;
  color: #666;
  float: right;
  border-radius: 6px;
  padding: 5px;

}

.username a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.username a:hover {
  color: #0e6655;
  text-decoration: underline;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5em;
  max-height: 3em; /* Max height for 2 lines */
}

div .mini-link {
  padding: 6px;
  display: flex;
  flex-direction: row ;
  max-width: 100%;
  font-size: 15px;
}

.mini-link-url {
  text-decoration: underline;
  color: rgb(14, 102, 85);
}

div .mini-link-title {
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.community-header, .job-header {
  margin: 20px 10px 0px 10px;
}

.header-button {
  background: rgba(0,0,0,0);
  border: 1px solid var(--border-color);
  color: inherit;
  border-radius: 6px;
  padding: 6px 12px;
  margin: 3px 5px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}


#filter-button {
  border: 0;
}

#filter-button .material-symbols-outlined {
  font-size: 22px;
  vertical-align: -3px;
  font-weight: normal;
}

#filterMenu {
  display: none;
  position: absolute;
  transform: translateX(-38%) translateY(-50%);
  z-index: 10;
}

.community-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mini-link-body {
  color: #666;
  margin-left: 6px;
}

.mini-link-url a {
  color: inherit;
}

div .mini-link-desc {
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}


#post-button {
  background: #229954;
  border: #117732;
  color: white;
}



/* Dark Mode Styles */

.container {
  background-color: #fff;
  display: flex;
  height: calc(100vh - 85px);
  overflow-y: hidden;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
  
.column {
  flex: 1;
  overflow-y: auto; /* Enables vertical scrolling */
}

.column::-webkit-scrollbar {
  display: none;
}

.column {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


#posts-container {
  width: 40%;
  flex: none;
  flex-direction: column;
  -webkit-scrollbar {
    display: none;
  }
  
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.jobs-container {
  width: 15%;
  flex: none;
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  -webkit-scrollbar {
    display: none;
  }
  
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.jobs-container {
  overflow-y: auto; /* or scroll */
}



.job-content {
  border-radius: 5px;
  background-color: var(--light-mode-body-color);
  border: 1px solid var(--border-color);
  padding: 5px 10px;

  flex-direction: column;
}
.job {
  padding: 10px;
}

 .job-content:hover {
  cursor: pointer;
}

/* Job-specific Styles */


.company-name {
  font-size: 15px;
}

.job-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-top: 2px;
}

.jobs-header {
  display: flex;
  flex-direction: row;
}

.company-logo-container {
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.company-logo {
  padding: 8px;
  width: 24px;
  height: auto;
}

.job-body {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 4px;
  line-height: 1.4;
}

/* Styles for Container and Button */
#job-btn-container {
  padding-bottom: 10px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
}

:root {
  --btn-bg-light: white; /* Light mode background */
  --btn-text-light: #212529; /* Light mode text */
  --btn-bg-dark: rgb(30,30,30); /* Dark mode background */
  --btn-text-dark: #f8f9fa; /* Dark mode text */
}

@media (max-width: 768px) {

  .community-header, .job-header {
    margin: 10px 10px 10px 10px;
  }

  .post {
    background: var(--light-mode-body-color);
  }
  .post-content, .job-content {
      margin-left: 30px;
      margin-right: 25px;
  }

  .comments {
      font-size: 14px;
  }

  .thumbnail-image {
      width: 58px;
      height: 58px;
      aspect-ratio: 1/1;
      object-fit: cover;
      
  }

  .thumbnail {
    display: flex;
    align-items: center;
  }

  .container {
    height: calc(100vh - 85px);
  }

}


@media (prefers-color-scheme: dark) {

  .mini-link-body {
    color: #eee;
  }
  .reaction-menu {
    background-color: #333;
    border: 1px solid #444;
  }

  #post-flair {
    background-color: #345995;
  }

  body {
      background-color: #16191B;
      color: #fff;
  }

  .container {
    background-color: #16191B;
  }

  .post, .job-content {
      background-color: #1B1F22;
      border: 1px solid #272D31;

  }
 .job-content:hover {
      background-color: rgb(38,38,38);
  }

}
@media (max-width: 768px) {
  .post {
    border: none;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid var(--border-color);
  }

  .job-flair {
    background-color: #DB504A;
  }
  body {
    overflow-y: hidden;
  }
  .title {
    font-size: 18px;
  }

  .post-info {
    font-size: 14px;
  }

  .description {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
  }


  .jobs-container {
    display: none;
  }
  .post-content {
    margin-left: 0px;
  }

  .post-content {
    margin-left: 10px;
  }

  .mini-link {
    max-width: 100%;
  }

  .thumbnail-image {
    margin-left: 10px;
    margin-right: 10px;
    width: 58px;
    height: 58px; 
    aspect-ratio: 1/1; 
    object-fit: cover; 
  }
  #posts-container {
    width: 100%;
    max-width: 100%;
  }


  @media (prefers-color-scheme: dark) {
    .post {
      border-top: 1px solid #333;
  }
}
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}


@media (prefers-color-scheme: dark) {
  /* General background and text colors */
  body {
      background-color: #111; /* Dark background */
      color: #ddd; /* Light text */
  }

  .main-reaction-button, .boost-button { 
    background-color: var(--dark-mode-main-color);
    border: 1px solid #444;
  }

  .link-preview {
    background-color: #1F2427;
  }


  .reaction-button {
    background-color: var(--dark-mode-main-color);
    border: 1px solid #444;
    color: #ddd;
  }

  .reaction-button:hover {
    background-color: #222;
  }

  .comments {
      color: #ccc; /* Lighter text color for comments */
  }

  .username a {
    color: #0e6655;
  }

  .timestamp {
    color: #ccc;
  }
  /* Post styling adjustments */

  .job-content:hover, .com-btn:hover {
      background-color: #222; /* Dark background on hover */
  }
  
  .post:last-child {
      border-bottom: none;
  }
  .post-info {
      color: #ccc; /* Lighter text color for post information */
  }


  /* Adjustments for buttons and interactive elements */

  /* Adjustments for scores and icons */
  .score, #score-icon {
      color: #fff; /* Light color for scores */
  }
  #date-icon, #user-icon, #comments-icon {
      color: #ccc; /* Lighter icon colors */
  }

  /* Adjustments for specific post elements */
  .boosted {
      color: #bada55; /* Adjusted color for boosted posts */
  }
  .votes:hover {
      cursor: pointer;
  }


  /* Adjustments for community ID tags */
  .communities_id {
      background-color: #006400; /* Darker background */
      color: #fff; /* Light text */
  }
  /* Other elements adjustments */
  .title {
      color: #fff; /* Light color for titles */
  }
  .user-info, .description, .reactions {
      color: #ccc; /* Lighter text color for additional information */
  }


  /* Responsive design adjustments for smaller screens */

}