.post {
  margin-top: 10px;
   display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  position: relative; 
  flex: 1; 
  border-radius: 5px;
  border: 2px solid #aaa; 
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); 

}

.post:hover {
  border: 2px solid #fff; 

}

#posts-container {
  padding: 30px;
  padding-top: 0px;
}


/* Thumbnail Styles */
.thumbnail {
  position: absolute; /* Absolute positioning inside post */
  bottom: 4px; /* Bottom alignment */
  left: 10px; /* Left alignment */
}

.thumbnail-image {
  border-radius: 5px; /* Increased border radius for softer corners */
  width: 50px; /* Width */
  height: 50px; /* Full height */
  aspect-ratio: 1/1; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the space without stretching */
}


/* Post Content Styles */
.post-content {
  position: relative;
  left: 30px;
  flex-grow: 1; /* Take up remaining space */
  margin-left: 40px;
  margin-right: 40px;

  padding: 0; /* No padding */
}

.com-btn {
  font-size: 12px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #117a65 ,  #0e6655); 
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  flex: 0 0 auto;
  margin-right: 10px; /* Margin around buttons */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 10px 20px; /* Button padding */
  margin-top: 10px; /* Top margin */
  cursor: pointer; /* Pointer cursor */
}

.create-post-btn {
  background: linear-gradient(to right,  #5d6d7e , #34495e
  );
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  flex: 0 0 auto;
  margin-right: 10px; /* Margin around buttons */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 10px 20px; /* Button padding */
  margin-top: 10px; /* Top margin */
  cursor: pointer; /* Pointer cursor */
}

.com-btn:hover {
  background-position: right;
  color: white;
  text-decoration: none;
}

.title {
  font-size: 17px; /* Font size */
  margin: 0; /* No margin */
}


/* Styles for Post Elements */
.user-info, .post-date, .description, .reactions {
  font-size: 14px; /* Font size for consistency */
  color: #333; /* Default text color */
}

.title {
  color: #333; /* Specific color for title */
}

.user-info, .post-date {
  color: #666; /* Lighter text color */
}

.description {
  margin: 5px 0; /* Margin around description */
}

.reactions {
  margin-top: 10px; /* Margin above reactions */
}

.reaction-icon {
  width: 20px; /* Icon width */
  vertical-align: text-bottom; /* Align with bottom of text */
}

/* Icon Styles */
.material-symbols-outlined {
  font-size: 16px; /* Icon size */
  vertical-align: -3px; /* Vertical alignment */
}

#trending-icon {
  font-size: 20px; /* Trending icon size */
  color: #ff5722; /* Trending icon color */
}

#verified-icon {
  font-size: 15px; /* Verified icon size */
  color: green; /* Verified icon color */
}

#com-btn-container {
  padding-top: 10px;
  padding-left: 9px; /* Left padding */
  display: flex; /* Display contents inline */
  overflow-x: auto; /* Horizontal scroll */
  scrollbar-width: none; /* Hide scrollbar */

}

#com-btn-container::-webkit-scrollbar, #job-btn-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

@media (max-width: 768px) {

  .post-content {
    left: 40px;
  }

  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
  .thumbnail-image {
    border-radius: 5px; /* Increased border radius for softer corners */
    width: 67px; /* Width */
    height: 67px; /* Full height */
    aspect-ratio: 1/1; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the space without stretching */
  }
}


@media (prefers-color-scheme: dark) {
  .logo img {
    filter: invert(1); /* Invert colors for dark mode */
  }

}