/* Comments section */
.comments-section {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.comments {
    width: 100%;
}


.dropbtn .material-symbols-outlined {
    font-size: 20px;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0;
    margin: 0;
    color: var(--primary-text-color);
}

.comments-section h3 {
    font-size: 1rem;
    color: var(--light-mode-text-color);
    margin-bottom: 0px;
}

/* Individual comment */
.comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 12px;
    margin-bottom: 2px;
}

.comment-avatar {
    margin-right: 13px;
    margin-top: 0px;
    margin-bottom: auto;
}

.comment .comment {
    margin-left: 10px;
}

.comment-header {
    padding: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pinned-comment {
    border: 1px solid #18181847;
    background-color: #b0b0b036;
}

div.interact-buttons {
    display: flex;
    padding: 0 13px;
    gap: .6rem;
    box-sizing: border-box;
    margin-bottom: 1.3rem;
}

.admin-tag {
    color: #b40000;
    border: 1px solid #b40000;
    background: #b4000030;
}

.comment-with-replies>.comment>.comment-main>.comment-header {
    width: 100%;
}


.comment-tag {
    font-size: .725rem !important;
    font-weight: 550;
    padding: 2px 6px;
}

.comment-header a {
    text-decoration: none;
}

.user-actions a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.comment-with-replies {
    margin-top: .9rem;
    border-top: 1px solid var(--border-color);
    padding-top: .9rem;
}

.user-actions {
    display: flex;
    margin-top: 11px;
    align-items: center;
    padding: 0px 13px;
    padding-top: 0;
    padding-right: 9px;
    justify-content: flex-start;
}

.commentMainReactionButton,
#delete-post-button,
#delete-comment-button {
    background-color: var(--light-mode-body-color);
    border: 1px solid var(--border-color);
    color: var(--light-mode-text-color);
    border-radius: 6px;
    height: 30px;
    padding: 0;
    display: flex;
    width: 30px;
    font-size: .8rem;
    text-decoration: none;
    white-space-collapse: collapse;
    align-items: center;
    justify-content: center;
}

.comment-timestamp {
    font-size: .8rem;
}

.comment-body {
    font-size: 16px;
    padding: 0;
}

.comment-avatar img {
    border-radius: 6px;
    border: 1px solid var(--border-color);
    height: 40px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
}

/* Comment actions */
.comment-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 6px;
}

.comment-user-interactions {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

/* Nested comments */
.nested-comments {
    padding-left: 13px;
    border-left: 1px solid #A10100;
}

.nested-comment>.comment {
    margin-left: 18px;
    border-left: 2px solid var(--active-indicator-color);
    box-sizing: border-box;
}

.nested-comment>.nested-comment {
    padding-left: 26px;
    box-sizing: border-box;
}

.nested-comment>.comment {
    margin-bottom: 6px;
}

/* Comment form */
.comment-form {
    margin: 0;
}

.comment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    box-sizing: border-box;
    background: var(--light-mode-body-color);
    border: 1px solid var(--border-color);
    margin: 0 13px;
}

.comment-container textarea {
    flex-grow: 1;
    padding: 10px 20px;
    border-radius: 6px;
    border: 0;
    background-color: transparent;
    color: var(--input-text-color);
    overflow: hidden;
    font-family: inherit;
    line-height: normal;
}

.comment-container textarea:focus {
    border: 0;
    box-shadow: 0;
    outline: none;
}

.comment-container button.fab {
    background-color: var(--profile-background-color);
    color: var(--text-color);
    padding: 7px 13px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    transition: background-color 0.15s;
}

/* Dark mode styles for comments */
@media (prefers-color-scheme: dark) {
    .comments-section h3 {
        color: var(--dark-mode-text-color);
    }

    .comment-body p {
        color: #b1b1b1;
    }

    .comment-container textarea {
        background-color: transparent;
        color: var(--dark-mode-text-color);
    }

    .comment-header {
        color: var(--dark-mode-text-color) !important;
    }

    .comment-container,
    .comment-container textarea {
        border: 0;
        color: var(--dark-mode-text-color);
    }
}

/* Mobile styles for comments */
@media screen and (max-width: 600px) {
    .comment-body p {
        font-size: .95rem;
    }

    .dropbtn {
        color: var(--dark-mode-text-color)
    }

    .comment-body {
        font-size: .825rem;
    }

    .comment-timestamp {
        font-size: 14px;
    }

    .comment-form {
        margin-bottom: 10px;
    }

    .comments-section h3 {
        font-size: .85rem;
    }
}