main {
    height: calc(100dvh - var(--navbar-height));
    background-color: var(--light-mode-main-color);
    display: flex;
    flex-direction: row;
  }

.company-info-container {
  max-width: 800px;
    margin-right: auto;
    padding: 13px;
}

.company-header {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 16px;
}

.company-flair {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin: 7px 0;
}

.company-flair-item {
  display: inline-flex;
  gap: 5px;
  margin: 3px 7px 0px 0px;
  margin-bottom: 3px;
  border-radius: 7px;
  font-size: .825rem;
  position: relative;
  }

  
  .company-flair-item p {
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space-collapse: collapse;
    white-space: nowrap;
    margin: 0;
  }

  .job-flair p {
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space-collapse: collapse;
    white-space: nowrap;
    margin: 0;
  }


  .job-entry {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5px 0;
    border-bottom: 1px solid var(--border-color);
  }
  .company-flair-item .material-symbols-outlined {
    font-size: .95rem;
    vertical-align: -2px;
    padding-right: .2rem;
  }

.company-name {
    font-weight: bold;
    margin: 0;
}

.company-location {
    font-size: 14px;
  margin: 0;
}

.link-display {
  display: flex;
  flex-direction: row;
  gap: 7px;
  background: #1c81c933;
  border-radius: 8px;
  padding: .2rem .4rem;
  align-items: center;
}

.company-info {
    display: flex;
    flex-direction: column;
    
}

.company-description {
  line-height: 1.125rem;
  margin: 0;
  font-size: .925rem;
}

p.job-description {
  inline-size: min-content;
  white-space: normal;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1.125rem;
  margin: 0;
  font-size: .9255rem;
  margin: 2px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  }

  .job-posting-flairs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: auto;
    margin-top: 5px;
  }


  .job-buttons {
    align-content: center;
  }

  .job-main {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  h3.job-title {
    margin: 0;
    margin-top: 3px;
    font-size: 1rem;
  }

.job-info .company-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 0px;
  width: 100%;
  }


.see-more {
  font-size: .825rem;
}

  

.job-flair {
  display: inline-flex;
  gap: 5px;
  padding: 3px 7px;
  margin: 3px 7px 0px 0px;
  margin-bottom: 3px;
  background-color: #5abe6e36;
  color: #5abe6e;
  border-radius: 7px;
  font-size: .925rem;
  position: relative;
}

  .job {
    background-color: var(--light-mode-main-color);
    margin: 0;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid var(--border-color);
  }


  .job-preview {
    display: flex;
    align-items: center;
    padding: 9px 0;
  }

  .job-info {
    flex-grow: 1;
    display: flex;
    gap: 6px;
    max-width: 100%;
    box-sizing: border-box;
    flex-direction: column;
  }




  @media screen and (max-width: 600px) {
    main {
      height: calc(100dvh - var(--mobile-navbar-height));
    }

    .job-flairs {
        padding-bottom: 5px;
      }

      
  }



  @media (prefers-color-scheme: dark) {
    main {
      background-color: var(--dark-mode-body-color);
      color: var(--dark-mode-text-color);
    }

    .job {
        background-color: var(--dark-mode-body-color);
        border-color: var(--dark-mode-border-color);
      }
  }