.header {
  text-align: center;
  margin: 20px 0;
}

.opportunities {
  display: flex; /* Display the opportunities side by side */
  justify-content: space-between; /* Align the opportunities at opposite ends */
  margin-bottom: 20px; /* Add some spacing between the opportunities and the trending projects and posts */
}


.jobs, .communities {
  width: 48%; /* Set the width of the element */
  border: 1px solid #000; /* Add a border around the element */
  padding: 20px; /* Add some padding */
  text-align: center;  /* Align the text to the center */
  margin: 20px 30px;  /* Add some margin */
  background-color: var(--gray-900); /* Sets the background color using your custom property */
  border-radius: 10px; /* This will give the section rounded corners */

}

.trending {
  display: flex;  /* Display the trending projects and posts side by side */
  justify-content: space-between; /* Align the trending projects and posts at opposite ends */
}

.trending-projects, .trending-posts {
  width: 48%; /* Set the width of the element */
  border: 1px solid #000;
  border-radius: 10px; /* This will give the section rounded corners */
  padding: 20px; /* Add some padding */
  margin: 20px 30px; /* Add some margin */
}

button {
  padding: 10px 10px; /* Add some padding to the button */
  margin-top: 10px; /* Add some spacing between the button and the text */
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

