@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 5px;
    margin-bottom: 6px;
}

.editor-toolbar button {
    color: var(--primary-text-color);
}

.main-container {
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 12px 15px;
    background-color: var(--light-mode-main-color);
    border: 0;
    border-radius: 6px;
}

div.form-group:first-of-type {
    margin-top: 0px;
}

div.form-group {
    display: flex;
    flex-direction: column;
}

#submit-button[disabled] {
    background-color: #c4c4c4;
    cursor: not-allowed;
    border-color: #929292;
  }

#confirmation-question {
    display: flex;
    gap: 10px;
    margin: 0px 0px 15px;
    flex-direction: row;
}

.CodeMirror-wrap pre.CodeMirror-line, .CodeMirror-wrap pre.CodeMirror-line-like {
    font-size: 1.2rem !important;
    font-weight: inherit;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 8px !important;
    margin-bottom: -5px !important;
}

.post-selector {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0px 13px;
    margin-bottom: 5px;
    margin-top: 6px;
}

.post-type {
    border: 1px solid var(--border-color);
    background-color: var(--light-mode-body-color);
    border-radius: 10px;
    display: inline-flex;
    padding: 5px 8px;
}

.post-type a {
    text-decoration: none;
    color: var(--primary-text-color);
    border-radius: 6px;
}


.post-header {
    display: flex;
    justify-content: space-between;
    margin: 7px 14px;
    margin-bottom: 6px;
}

.main-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editor-toolbar {
    border: 1px solid var(--border-color);
    background-color: var(--light-mode-body-color);
        display: flex;
        flex-direction: row;
}

.editor-statusbar {
    display: none !important;
}


.main-container input[type="text"], .main-container textarea, .main-container select, .main-container input[type="number"], .main-container input[type="date"] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    padding-top: 20px;
    background-color: var(--light-mode-body-color);
    border: 1px solid var(--border-color);
    font-size: 16px;
    border-radius: 6px;
    margin: 9px 0px; 
}

.EasyMDEContainer {
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    }
    
.main-container select {
    padding-top: 20px !important;
    padding: 8px;
    border: 1px solid var(--border-color);
    background: var(--light-mode-body-color);
    border-radius: 6px;
}

select#community_choice, input#title, input#link, #EasyMDEContainer, tags-select, div.CodeMirror-code, textarea.select2-search__field {
    font-size: 16px !important;
    }
    
    textarea.select2-search__field {
        height: 16px;
        font-weight: 300;
        }
i.fa {
    font-size: 16px !important;
    }
    


.add-post-button {
    background: #489769;
    border: 1px solid #318755;
    width: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

#tags-container {
    margin: 12px 0px;
}

.main-container .post,
.main-container .comment {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.select2-container--default .select2-selection--multiple {
    border: 0 !important;
}

.EasyMDEContainer .CodeMirror {
    border: 0 !important;
    border-radius: 6px;
    min-height: 60px;
}

.main-container .post-title,
.main-container .comments-section h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.main-container .user-info {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

.select2-container .select2-search--inline .select2-search__field {
    height: calc(16px + .7rem) !important;
}

.main-container .post-content,
.main-container .comment-content {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.main-container .comments-section {
    margin-top: 40px;
}

.main-container .comment {
    margin-left: 20px;
}


.form-group {
    position: relative;
}

.form-group label {
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: .75rem;
    color: var(--light-mode-secondary-text-color);
}
  

.post-type {
    transition: background-color 0.3s ease;
    transition: border-color 0.3s ease;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--light-mode-main-color) !important;
    border-color: var(--border-color) !important;
    color: var(--primary-text-color);
    margin-top: 0px !important;
    padding-top: 3px !important;
  }

  .EasyMDEContainer .CodeMirror {
    background: var(--light-mode-body-color);
    box-sizing: border-box;
    height: auto;
    border: 1px solid var(--border-color) !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 10px;
    font: inherit;
    z-index: 0;
    word-wrap: break-word;
}

.CodeMirror-wrap pre.CodeMirror-line, .CodeMirror-wrap pre.CodeMirror-line-like {
    font-size: 16px !important;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .main-container {
        margin: 0;
        border-radius: 0;
        margin-bottom: 50px;
    }
    
    main {
        align-items: flex-start;
    }

    .main-container h2,
    .main-container .post-title,
    .main-container .comments-section h3 {
        font-size: 20px;
    }

    .main-container .user-info,
    .main-container .post-content,
    .main-container .comment-content {
        font-size: 14px;
    }
}

#confirm-google {
    background-color: var(--light-mode-body-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
}

.select2-selection--multiple {
    background-color: var(--light-mode-main-color) !important;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
}

.select2-container--default .select2-search--inline .select2-search__field, .select2-container--default .select2-selection--multiple {
    background-color: var(--light-mode-body-color) !important;
    font-weight: inherit;
    font-size: 16px;
}

.editor-toolbar {
    margin-bottom: 10px;
    font-size: 1.1rem;
    border: 1px solid var(--border-color) !important;
    border-radius: 10px !important;
    background: var(--light-mode-body-color) !important;
    position: fixed;
    bottom: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid var(--border-color) !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid var(--border-color) !important;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-mode-body-color);
        color: var(--dark-mode-text-color);
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: var(--dark-mode-main-color) !important;
        border-color: var(--dark-mode-border-color) !important;
        color: var(--dark-mode-text-color);
    }

    #confirm-google {
        background-color: var(--dark-mode-body-color);
        border: 1px solid var(--dark-mode-border-color);
        border-radius: 6px;
    }

    .post-type {
        background-color: var(--dark-mode-border-color);
        border-color: var(--dark-mode-border-color);
    }

    .post-type a {
        color: var(--dark-mode-text-color);
    }

    .main-container select {
        color: var(--dark-mode-text-color);
    }

    .editor-toolbar button {
        color: var(--dark-mode-text-color);
    }

    .main-container {
        background-color: var(--dark-mode-body-color);
        border-color: var(--dark-mode-border-color);
        color: var(--dark-mode-text-color);
    }
    
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: 0 !important;
        border-color: 0 !important;
        color: var(--dark-mode-text-color);
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        border-color: 0 !important;
    }

    .main-container input[type="text"],
    .main-container textarea, .main-container input[type="number"], .main-container input[type="date"] {
        background: var(--dark-mode-main-color);
        border: 1px solid var(--dark-mode-border-color);
        color: var(--dark-mode-text-color);
    }

    div.form-group .CodeMirror, div.form-group .select2-container--default .select2-selection--multiple, div.form-group .editor-toolbar, div.form-group .select2-dropdown select2-dropdown--above {
        background: var(--dark-mode-main-color) !important;
        border: 1px solid var(--dark-mode-border-color) !important;
        color: var(--dark-mode-text-color);
    }

    .main-container select {
        background: var(--dark-mode-main-color);
        border-color: var(--dark-mode-border-color);
        color: var(--dark-mode-text-color);
    }

    .select2-container--default .select2-search--inline .select2-search__field {
        background: var(--dark-mode-main-color) !important;
        border: 1px solid var(--dark-mode-border-color);
        color: var(--dark-mode-text-color);
    }

    .select2-results__option--selectable {
        background-color: var(--dark-mode-body-color);
        color: var(--dark-mode-text-color);
    }

    .select2-container--open .select2-dropdown--above {
        border-color: var(--dark-mode-border-color);
    }


    .main-container button:hover {
        background-color: #004400; 
    }

    .main-container .post,
    .main-container .comment {
        border-bottom-color: var(--dark-mode-border-color); 
    }

    .form-group label {
        color: var(--dark-mode-secondary-text-color);
    }   

    .main-container .post-title,
    .main-container .comments-section h3,
    a .material-symbols-outlined, 
    .user-info:hover, 
    .boosts:hover, 
    .detracts:hover, 
    #reply-button, 
    .user-actions a {
        color: #e0e0e0; 
    }

    div .user-info, 
    .header, 
    .communities_id {
        color: #bbb; 
    }

}
