/* Specific styles for main container and its children */
.main-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.main-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-container input[type="text"],
.main-container textarea {
    width: calc(100% - 30px); /* Adjust width to account for padding */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 15px 8px; /* Add margin for external spacing */
}


.main-container button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.main-container button:hover {
    background-color: darkgreen;
}

.main-container .post,
.main-container .comment {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.main-container .post-title,
.main-container .comments-section h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.main-container .user-info {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

.main-container .post-content,
.main-container .comment-content {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.main-container .comments-section {
    margin-top: 40px;
}

.main-container .comment {
    margin-left: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .main-container {
        margin: 20px;
        padding: 10px;
    }

    .main-container h2,
    .main-container .post-title,
    .main-container .comments-section h3 {
        font-size: 20px;
    }

    .main-container .user-info,
    .main-container .post-content,
    .main-container .comment-content {
        font-size: 14px;
    }
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212; /* Dark background for body */
        color: #e0e0e0; /* Light text color for better readability */
    }

    .main-container {
        background-color: #1e1e1e; /* Dark background for main container */
        box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.1); /* Adjusted box-shadow */
        color: #e0e0e0; /* Light text color for content within main container */
    }

    .main-container input[type="text"],
    .main-container textarea {
        background-color: #262626; /* Dark background for input fields */
        border-color: #555; /* Darker border for input fields */
        color: #f4f4f4; /* Light text color for input fields */
    }

    .main-container button {
        background-color: #005f00; /* Darker green for buttons */
    }

    .main-container button:hover {
        background-color: #004400; /* Even darker green for button hover */
    }

    .main-container .post,
    .main-container .comment {
        border-bottom-color: #333; /* Darker border color for posts and comments */
    }

    .main-container .post-title,
    .main-container .comments-section h3,
    a .material-symbols-outlined, 
    .user-info:hover, 
    .boosts:hover, 
    .detracts:hover, 
    #reply-button, 
    .user-actions a {
        color: #e0e0e0; /* Lighter text color for titles and links */
    }

    div .user-info, 
    .header, 
    .communities_id {
        color: #bbb; /* Lighter color for user info, headers, and community IDs */
    }

    /* Adjustments for responsive design in dark mode */
    @media screen and (max-width: 768px) {
        .main-container {
            background-color: #1e1e1e;
            color: #e0e0e0;
        }
    }
}
