:root {
    --primary-text-color: #1D2935;
    --light-mode-main-color: #fff;
    --light-mode-body-color: #F6F8FA;
    --border-color: #D8E0E9;
    --hover-background-color: #ddd;
    --active-indicator-color: #0e6655;
    --dark-mode-main-color: #16191B;
    --dark-mode-body-color: #000;
    --dark-mode-text-color: #fff;
    --dark-mode-border-color: #272D31;
    --dark-mode-hover-background-color: #151515;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 5px;
    margin-bottom: 6px;
}

.editor-toolbar button {
    color: var(--primary-text-color);
}

/* Specific styles for main container and its children */
.main-container {
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    margin: 40px auto;
    padding: 12px 17px;
    background-color: var(--light-mode-body-color);
    border: 0;
    border-radius: 6px;
}

div.form-group:first-of-type {
    margin-top: 0px;
}

div.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.post-selector {
    display: flex;
    flex-direction: row;
    gap: 11px;
    margin: 12px 13px;
    margin-bottom: 18px;
}

.post-type {
    border: 1px solid var(--border-color);
    background-color: var(--border-color);
    border-radius: 6px;
    display: inline-flex;
    padding: 2px 3px;
}

.post-type a {
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 5px 10px;
    border-radius: 6px;
}


.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 12px;
    margin-top: 16px;
    margin-bottom: 12px;
}

.main-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editor-toolbar {
    border: 0 !important;
        display: flex;
        flex-direction: row;
}

.editor-statusbar {
    display: none !important;
}


.main-container input[type="text"], .main-container textarea, .main-container select, .main-container input[type="number"], .main-container input[type="date"] {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    margin: 9px 0px; /* Add margin for external spacing */
}

.EasyMDEContainer {
    margin-top: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.main-container select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
}


.add-post-button {
    background: #489769;
    border: 1px solid #318755;
    width: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

#tags-container {
    margin: 12px 0px;
}

.main-container .post,
.main-container .comment {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}

.select2-container--default .select2-selection--multiple {
    border: 0 !important;
}

.EasyMDEContainer .CodeMirror {
    border: 0 !important;
    border-radius: 6px;
    min-height: 60px;
}

.main-container .post-title,
.main-container .comments-section h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.main-container .user-info {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

.main-container .post-content,
.main-container .comment-content {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.main-container .comments-section {
    margin-top: 40px;
}

.main-container .comment {
    margin-left: 20px;
}

.post-type {
    transition: background-color 0.3s ease;
    transition: border-color 0.3s ease;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--light-mode-body-color) !important;
    border-color: var(--border-color) !important;
    color: var(--primary-text-color);
    margin-top: 0px !important;
    padding-top: 3px !important;
  }

/* Responsive styles */
@media screen and (max-width: 768px) {
    .main-container {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        margin: 0;
        border-radius: 0;
        margin-bottom: 50px;
    }
    

    .main-container h2,
    .main-container .post-title,
    .main-container .comments-section h3 {
        font-size: 20px;
    }

    .main-container .user-info,
    .main-container .post-content,
    .main-container .comment-content {
        font-size: 14px;
    }
}

#confirm-google {
    background-color: var(--light-mode-body-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-mode-body-color);
        color: var(--dark-mode-text-color);
    }

    #confirm-google {
        background-color: var(--dark-mode-body-color);
        border: 1px solid var(--dark-mode-border-color);
        border-radius: 6px;
    }

    .post-type {
        background-color: var(--dark-mode-border-color);
        border-color: var(--dark-mode-border-color);
    }

    .post-type a {
        color: var(--dark-mode-text-color);
    }

    .main-container select {
        background-color: var(--dark-mode-body-color);
        border-color: var(--dark-mode-border-color);
        color: var(--dark-mode-text-color);
    }

    .editor-toolbar button {
        color: var(--dark-mode-text-color);
    }

    .main-container {
        background-color: var(--dark-mode-main-color);
        border-color: var(--dark-mode-border-color);
        color: var(--dark-mode-text-color);
    }
    
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: var(--dark-mode-main-color) !important;
        border-color: var(--dark-mode-border-color) !important;
        color: var(--dark-mode-text-color);
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        border-color: var(--dark-mode-border-color) !important;
    }

    .main-container input[type="text"],
    .main-container textarea, .main-container input[type="number"], .main-container input[type="date"] {
        background-color: var(--dark-mode-body-color);
        border-color: var(--dark-mode-border-color);
        color: var(--dark-mode-text-color);
    }

    div.form-group .CodeMirror, div.form-group .select2-container--default .select2-selection--multiple, div.form-group .editor-toolbar, div.form-group .select2-dropdown select2-dropdown--above {
        background-color: var(--dark-mode-body-color);
        border: 1px solid var(--dark-mode-border-color) !important;

        color: var(--dark-mode-text-color);
    }


    .main-container button:hover {
        background-color: #004400; /* Even darker green for button hover */
    }

    .main-container .post,
    .main-container .comment {
        border-bottom-color: #333; /* Darker border color for posts and comments */
    }

    .main-container .post-title,
    .main-container .comments-section h3,
    a .material-symbols-outlined, 
    .user-info:hover, 
    .boosts:hover, 
    .detracts:hover, 
    #reply-button, 
    .user-actions a {
        color: #e0e0e0; /* Lighter text color for titles and links */
    }

    div .user-info, 
    .header, 
    .communities_id {
        color: #bbb; /* Lighter color for user info, headers, and community IDs */
    }

}
