@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  body {
    font-family: 'Roboto', sans-serif;
  }

  .edit-profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 12px;
  }

.container {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    border-radius: 6px;
    margin: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.avatar-preview-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#avatar-preview {
    width: 150px;
    object-fit: cover;
    box-shadow: 0 2px 20px rgb(25 116 48);
    border: 4px solid #4c8d6b !important;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
    border: 1px solid var(--border-color);
}

.container span {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.container input {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-sizing: border-box;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    max-width: none;   
    cursor: pointer;
    background-color: none;
    border: none;
    border-radius: 4px;
  }
  
  .custom-file-upload .material-symbols-outlined {
    vertical-align: middle;
    font-size: 30px;
    color: #0C8346;
  }
  
  .avatar-image {
    position: relative;
  }
  
  .avatar-overlay {
    position: absolute;
    top: 0;
    object-fit: cover;
    border-radius: 50%;
    box-sizing: border-box;
    left: 0;
    width: calc(100% + 3.5px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  
  .avatar-preview-container:hover .avatar-overlay {
    opacity: 1;
  }
  
  .overlay-text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }

.container label {
    margin-left: 10px;
    width: 35%;
    font-size: 16px;
    font-weight: 500;
}

.container select {
    padding: 10px;
    width: 100%;
    margin: 5px;
    font-size: 16px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-sizing: border-box;
}

.container input[type="file"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-sizing: border-box;
}

.container input[type="color"] {
    padding: 0px;
    margin: 5px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    box-sizing: border-box;
}

.container  img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

.container button {
    padding: 10px;
    margin: 5px;
    background: #0C8346;
    border: 1px solid #0E954F;
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--light-mode-main-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-mode-body-color);
        color: var(--dark-mode-text-color);
    }

    .container {
        background: none;
        border: none;
    }

    .container img {
        border-color: var(--dark-mode-border-color);
    }

    .container input {
        background: var(--dark-mode-body-color);
        color: var(--dark-mode-text-color);
        border-color: var(--dark-mode-border-color);
        width: 100%;
    }

    .container select {
        background: var(--dark-mode-body-color);
        color: var(--dark-mode-text-color);
        border-color: var(--dark-mode-border-color);
    }

    .container input[type="file"] {
        background: var(--dark-mode-body-color);
        color: var(--dark-mode-text-color);
        border-color: var(--dark-mode-border-color);
    }

}