form {
  display: flex;
  flex-direction: column;
}

#jobExperienceContainer input,
#jobExperienceContainer textarea,
#educationExperienceContainer input,
#educationExperienceContainer textarea {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--light-mode-main-color) !important;
  border: 1px solid var(--border-color) !important;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
  color: var(--light-mode-text-color);
}

.educationExperience p,
.jobExperience p {
  display: flex;
  flex-direction: column;
}

p strong {
  color: var(--light-mode-bold-text-color);
  margin-bottom: .4rem;
}

.educationExperience,
.jobExperience {
  padding: .5rem .9rem;
  display: flex;
  gap: 0.6rem;
  border-radius: 9px;
  flex-direction: column;
  align-items: flex-start;
}

.edit-form-container {
  margin: 0 13px;
}

div.button-container {
  display: flex;
  justify-content: space-between;
}

div.edit-form-header {
  display: flex;
  width: 100%;
  margin: 14px 0;
}

div.jobExperience,
div.educationExperience {
  display: flex;
  padding: 11px 17px;
  border-radius: 15px;
  flex-direction: column;
  gap: 3.5px;
  font-size: .875rem;
}

div#jobExperienceContainer,
div#educationExperienceContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--dark-mode-text-color) !important;
  }

  p strong {
    color: var(--dark-mode-text-color);
  }

  p {
    color: var(--dark-mode-text-color);
  }

  div.jobExperience {
    border: 1px solid var(--dark-mode-border-color);
    background: var(--dark-mode-main-color);
  }

  #jobExperienceContainer input,
  #jobExperienceContainer textarea,
  #educationExperienceContainer input,
  #educationExperienceContainer textarea {
    background-color: var(--dark-mode-main-color) !important;
    border: 1px solid var(--dark-mode-border-color) !important;
    color: var(--dark-mode-text-color);
  }
}