main {
    padding: 10px 14px;
    margin-bottom: 30px;
}

form>div {
    display: flex;
    flex-direction: column;
}

.edit-company-header {
    padding: 21px 0;
    padding-top: 24px;
}

.select2-container .select2-selection--multiple {
    min-height: 40px !important;
    padding: 4px !important
}

form>div>textarea {
    width: 100%;
    font-family: 'Inter', sans-serif;
    line-height: 1.65rem;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--light-mode-body-color) !important;
    border: 1px solid var(--border-color) !important;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
    resize: none;
    overflow-y: hidden;
}

label {
    font-size: .8rem;
    margin-bottom: .3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.2rem;
}

@media (prefers-color-scheme: dark) {
    form>div>textarea {
        background-color: var(--dark-mode-main-color) !important;
        border: 1px solid var(--dark-mode-border-color) !important;
        color: var(--dark-mode-text-color);
    }
}