.favorite h5 {
    font-size: 1rem;
}

.favorite p {
    font-size: .9rem;
}

.favorites-text {
    font-weight: normal;
    line-height: 1.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
  main {
    display: block;
  }

  .favorite:hover {
    background-color: var(--light-mode-hover-color);
    cursor: pointer;
  }

  .favorites-header {
    margin: 13px 10px;
  }

  .favorites-type-button .material-symbols-outlined {
    font-size: 1rem;
  }

  .favorites-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    font-size: .825rem;
  }

  .dropdown-content {
    display: none;
  }

  .favorite-title {
    max-width: 85%;
  }

  .favorite-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .dropbtn .material-symbols-outlined {
    font-size: 1.2rem;
  }

  .favorite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding: 10px 17px;
    box-sizing: border-box;
    margin: 10px 0;
    background: none;
    border-radius: 18px;
    border: 1px solid var(--border-color);
  }

  .favorites {
    /* padding: 0px 14px; */
    display: flex;
    flex-direction: column;
  }

  .favorite:hover {
    background-color: var(--light-mode-hover-color);
    cursor: pointer;
  }

  .favorites-header {
    margin: 13px 10px;
  }

  .favorites-type-button {
    cursor: pointer;
    background-color: var(--light-mode-body-color);
    border: 1px solid var(--light-mode-body-color);
    border-radius: 10px;
    padding: 8px 10px;
    text-align: left;
    font-weight: bold;
    font-size: .9em;
    color: var(--light-mode-text-color);
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  .favorites-type-button.active {
    background-color: #798494;
    border: 1px solid #414d53;
    color: var(--light-mode-text-color);
  }

  .favorite-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .favorites-type-button .material-symbols-outlined {
    font-size: 1rem;
  }

  .favorites-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
  }

  .dropdown-content {
    display: none;
  }

  .favorite-title {
    max-width: 85%;
  }

  .favorite-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  main {
    height: calc(100dvh - var(--navbar-height));
    background-color: var(--light-mode-main-color);
  }

  @media screen and (max-width: 600px) {
    body {
      height: calc(100dvh - var(--mobile-navbar-height) - var(--mobile-second-navbar-height)) !important;
      overflow-y: hidden;
    }

    main {
      overflow-y: auto;

    }
  }


  button.dropbtn {
    background-color: transparent;
    border: none;
    color: var(--light-mode-secondary-text-color);
    font-size: 16px;
    cursor: pointer;
  }

  .dropdown-content.show {
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content a {
    color: var(--light-mode-secondary-text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content {
    position: absolute;
    background-color: var(--light-mode-main-color);
    min-width: 160px;
  }

  #favorites-header {
    margin: 13px 13px;
  }

  .favorites-container {
    max-width: 800px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }

  div.favorites-type-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    overflow-x: auto;

    -webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  div.favorites-type-selector::-webkit-scrollbar {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    main {
      background-color: var(--dark-mode-body-color);
    }

    .favorite {
      background-color: var(--dark-mode-body-color);
      border-color: var(--dark-mode-border-color);
    }

    .favorites-type-button {
      background-color: var(--dark-mode-lighter-color);
      border: 1px solid var(--dark-mode-border-color);
      color: var(--dark-mode-text-color);
    }

    .favorites-type-button.active {
      background-color: var(--dark-mode-main-color);
      border: 1px solid var(--dark-mode-border-color);
      color: var(--dark-mode-text-color);
    }

    .favorite:hover {
      background-color: var(--dark-mode-hover-background-color);
    }
  }

  @media screen and (max-width: 600px) {
    .favorites-container {
      align-items: normal
    }

    .favorite {
        border: 0;
        margin: 0;
        border-radius: 0;
        border-top: 1px solid var(--border-color);
    }
  }