div.company-info-header {
    display: flex;
    align-items: center;
    gap: .8rem;
}

div#companies-container .material-symbols-outlined {
    font-size: 1.05rem;
    vertical-align: -3px;
}

div.company-info-tags {
    display: flex;
    gap: .3rem;
    align-items: center;
}

div#companies-container {
    display: flex;
    flex-direction: column;
    padding: 1.4rem 0;
}

div#companies-container>div {
    padding: 1.4rem 1.3rem;
    background: var(--light-mode-main-color);
    border-bottom: 1px solid var(--border-color);
}

div#companies-container>div:last-child {
    border-bottom: none;
}

div#companies-container>div:hover {
    filter: brightness(.8);
}

@media (prefers-color-scheme: dark) {
    div#companies-container>div {
        background: var(--dark-mode-main-color);
    }
}