main {
  display: flex;
  height: calc(100dvh - var(--navbar-height));
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100vw;
  flex-direction: row;
}

.container {
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
  width: 53%;
  max-width: 1000px;
}

.job-details-container {
  overflow-y: auto;
}


.job-listing {
  background-color: var(--light-mode-main-color);
  margin-bottom: 0px;
  max-width: 100vw;
  padding-bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.job-listing>.company-info {
  padding: 0 14px;
  margin-top: 1rem;
  margin-bottom: .8rem;
}

.posting-company-name {
  font-weight: normal;
  font-size: .875rem;
}

.company-info {
  display: flex;
  gap: .9rem;
  align-items: center;
  box-sizing: border-box;
}

.job-details>* {
  padding: 0 1rem;
}

.similar-company-jobs h4,
.similar-jobs h4 {
  padding: 0 1rem;
}

.similar-company-jobs,
.similar-jobs {
  padding: 0;
}

img.company-logo {
  max-height: 55px !important;
}

.company-location,
.company-size,
.company-industry {
  font-size: 0.825rem;
  color: var(--light-mode-secondary-text-color);
}

.company-information {
  display: flex;
  flex-direction: column;
}

.experience-level,
.job-location,
.expiry-date,
.posted-date,
.salary-range {
  display: inline-block;
  padding: 3px 5px;
  margin-bottom: 2px;
  background-color: #2f2f2f66;
  border: 1px solid #4949499e;
  color: white;
  border-radius: 9px;
  font-size: .825rem;
  position: relative;
}

.job-benefits ul,
ul.locations {
  padding: 0 14px;
  list-style: none;
  margin: 0;
  line-height: 1.5;
  font-size: .875rem;
}

.job-benefits ul li,
.locations li {
  border-left: 3px solid var(--active-indicator-color);
  padding-left: .8rem;
  margin-bottom: .6rem;
}

.label {
  font-weight: bold;
  margin-right: 4px;
}

.post-date-text {
  margin: .9rem 0;
}

div.similar-jobs-list {
  display: flex;
  flex-wrap: nowrap;
  /* Prevent wrapping of job elements */
  flex-direction: column;

  -webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.similar-jobs-list::-webkit-scrollbar {
  display: none;
}


.similar-job:hover .company-info a {
  text-decoration: underline;
}

.job-date.green::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #0daf0d;
  border-radius: 50%;
  margin-right: 3px;
}

.job-date.yellow::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: yellow;
  border-radius: 50%;
  margin-right: 3px;
}

.job-date.red::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  margin-right: 3px;
}

div.similar-job {
  flex-direction: row;
  gap: .8rem;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  margin: 1.2rem;
  margin-bottom: 0;
  padding: .9rem 1.33rem;
  position: relative;
}

.job-info-flairs p {
  display: inline-block;
}

div.apply-button-container {
  width: 100%;
}

div.job-info-flairs span.material-symbols-outlined {
  color: var(--light-mode-third-text-color);
  font-size: .95rem;
  vertical-align: -2px;
  padding-right: .3rem;
}


.job-skills p {
  display: inline-block;
  margin: 0;
}


.interact-buttons .material-symbols-outlined {
  font-size: .95rem;
  vertical-align: -2px;
  padding-right: .6rem;
}



.similar-company-jobs,
.similar-jobs {
  margin-top: 15px;
  margin-bottom: 1.1rem;
}

div.similar-job h4 {
  margin: 0 !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines you want */
  -webkit-box-orient: vertical;
  max-width: 80%;
}

.interact-buttons form {
  display: flex;
}


.job-details h4,
.similar-jobs h4,
.similar-company-jobs h4 {
  font-size: 1.2rem;
  margin: .8rem 0;
  font-weight: 700;
  margin-top: 1.35rem;
}

.skill {
  display: inline-block;
}

.job-listing .caution-messages {
  margin-left: 0;
  margin-right: 0;
}

.related-jobs-count,
.related-jobs-company-count {
  height: 15px;
  min-width: 10px;
  font-size: .7rem;
  margin-left: .5rem;
  background: #ffffff45;
  border: 1px solid #707070;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.job-listing-menu {
  background: var(--light-mode-main-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 0.75rem 1rem;
  margin: 1.2rem;


}

.job-details p,
.job-details ul,
ul.locations,
.job-listing-menu p {
  font-size: var(--default-sub-font-size);
  line-height: 1.5;
  font-weight: 500;
  margin: 0;
  margin-bottom: 0;
}


.job-info-flairs p {
  font-weight: 500;
  font-size: 1rem;
}

.job-flair p {
  font-size: 1rem;
  color: #5abe6e;
}

.interact-buttons {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 100%;
  gap: .8rem 1rem;
  box-sizing: border-box;
  justify-content: space-between;
}

.job-details {
  margin-bottom: 40px;
}

.job-tags p {
  font-size: .825rem;
}

.job-tags {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: auto;
}

.job-listing-menu .dropdown {
  display: inline-block;
}

.job-info-flairs {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  gap: .25rem;
  flex-wrap: wrap;
}

.job-listing-menu {
  padding-bottom: 0;
}

.job-listing-menu .second-nav-links {
  padding: 0;
  padding-top: .3rem;
  display: flex;
  justify-content: space-between;
}

.job-listing-menu li.dropdown a.active {
  border-color: orange;
  padding-bottom: .4rem !important;
}

.job-listing-menu .navbar-button {
  display: flex;
  font-size: var(--default-sub-font-size);
  margin: 0;
}

.company-name {
  color: var(--light-mode-text-color);
}

.button {
  display: inline-block;
  padding: 9px 19px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.company-logo {
  padding: 0;
  margin: 0;
}

.second-buttons-container {
  width: 100%;
  gap: .7rem;
  display: flex;
  justify-content: space-between;
}

.job-recruiter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .6rem;
}

.job-recruiter-name {
  display: flex;
  flex-direction: column;
}

.second-buttons-container>* {
  width: 100%;
}

.button:hover {
  background-color: #0056b3;
}

.job-details {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: dark) {
  .job-listing {
    background-color: var(--dark-mode-body-color);
  }

  .job-listing-menu {
    border-color: var(--dark-mode-border-color);
    background: var(--dark-mode-body-color);
  }

  .company-location,
  .job-listing-menu p {
    color: var(--dark-mode-third-text-color);
  }

  .container {
    border-color: var(--dark-mode-border-color);
  }

  .company-name {
    color: var(--dark-mode-text-color);
  }

  .related-jobs-count,
  .related-jobs-company-count {
    background: #232323;
    border-color: #414141;
  }

  div.job-info-flairs span.material-symbols-outlined {
    color: var(--dark-mode-third-text-color);
  }
}

@media screen and (max-width: 600px) {
  main {
    height: 100%;
  }

  .job-info-flairs p {
    font-size: .85rem !important;
  }

  .job-listing-menu .navbar-button {
    font-size: .85rem;
  }

  .job-content {
    padding: 0;
  }

  div.similar-job {
    flex-direction: row;
    cursor: pointer;
    display: flex;
    background: 0;
    border-radius: 0;
    border: 0;
    padding: .6rem 1.33rem;
    position: relative;
    margin: 0;
  }




  .container {
    width: 100% !important;
    height: 100%;
    border: 0 !important;
    border: 0;
  }

  .job-details p,
  .job-details ul,
  ul.locations,
  .job-listing-menu p,
  .job-posting-flairs,
  div.job-skills,
  div.job-skills-display,
  .job-details h4,
  .similar-jobs h4,
  .similar-company-jobs h4 {
    font-size: var(--mobile-default-sub-font-size);
  }


  .job-listing-menu {
    margin: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--border-color);
  }

  @media (prefers-color-scheme: dark) {
    .job-listing-menu {
      border-color: var(--dark-mode-border-color)
    }

    .job-details h4,
    .similar-jobs h4,
    .similar-company-jobs h4 {
      font-size: var(--mobile-default-sub-font-size);
      margin: .8rem 0;
      margin-top: 1.35rem;
    }

    div.similar-job {
      border: 0;
      background: 0;
    }


  }
}