:root {
  --primary-text-color: #1D2935;
  --light-mode-body-color: #F6F8FA;
  --light-mode-main-color: #fff;
  --light-mode-hover-color: #E5EBF1;
  --border-color: #DCE6F2;
  --light-mode-button-color: #DCE6F2;
  --light-mode-button-hover-color: #BECBDA;
  --light-mode-text-color: #243342;
  --light-mode-secondary-text-color: #586C7F;
  --hover-background-color: #ddd;
  --active-indicator-color: #0e6655;
  --dark-mode-main-color: #16191B;
  --dark-mode-body-color: #000;
  --dark-mode-hover-color: #24292D;
  --dark-mode-button-hover-color: #363F44;
  --dark-mode-lighter-color: #1F2427;
  --dark-mode-text-color: #fff;
  --dark-mode-secondary-text-color: #999;
  --dark-mode-border-color: #272D31;
  --dark-mode-hover-background-color: #444;
}

.job-listing {
  background-color: var(--light-mode-main-color);
  border-radius: 8px;
  padding: 10px 14px;
  margin-bottom: 24px;
}

.company-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

img.company-logo {
  max-height: 55px !important;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.company-location {
  font-size: 14px;
  color: var(--light-mode-secondary-text-color);
  margin: 4px 0 0;
}

.job-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 8px;
}

.experience-level,
.job-location, .expiry-date, 
.posted-date, .salary-range {
  font-size: 1rem;
  margin-bottom: 8px;
}

.label {
  font-weight: bold;
  margin-right: 4px;
}

.job-description,
.company-description {
  margin-top: 24px;
}

.job-description h4,
.company-description h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 8px;
}

.job-description p,
.company-description p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.apply-link {
  margin-top: 24px;
}

.job-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 4px;
}

.company-name {
  color: var(--light-mode-text-color);
}

.button {
  display: inline-block;
  padding: 9px 19px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.company-logo {
  padding: 0;
  margin: 0;
}

.button:hover {
  background-color: #0056b3;
}

@media (prefers-color-scheme: dark) {
  .job-listing {
    background-color: var(--dark-mode-body-color);
  }

  .company-location {
    color: var(--dark-mode-secondary-text-color);
  }

  .company-name {
      color: var(--dark-mode-text-color);
  }
}