main {
  display: flex;
  height: calc(100dvh - var(--navbar-height));
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100vw;
  flex-direction: row;
}

.container {
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
}
.job-details-container {
  overflow-y: auto;
}

.container {
  width: 53%;
    max-width: 1000px;
}

.job-listing {
  background-color: var(--light-mode-main-color);
  padding-top: 13px;
  margin-bottom: 0px;
  max-width: 100vw;
  padding-bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.job-listing > .company-info {
  padding: 0 14px;
  margin-bottom: .8rem;
}

.posting-company-name {
    font-weight: normal;
    font-size: .875rem;
}

.company-info {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.job-details > * {
  padding: 0 14px;
}
.similar-jobs-company h4, .similar-jobs h4 {
  padding: 0 14px;
}

.similar-jobs-company, .similar-jobs {
  padding:0;
}
img.company-logo {
  max-height: 55px !important;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.company-location, .company-size, .company-industry {
  font-size: 0.825rem;
  color: var(--light-mode-secondary-text-color);
}

.company-information {
  display: flex;
  gap: 10px;
}

.job-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 8px;
}

.experience-level,
.job-location, .expiry-date, 
.posted-date, .salary-range {
  display: inline-block;
  padding: 3px 5px;
  margin-bottom: 2px;
  background-color: #2f2f2f66;
  border: 1px solid #4949499e;
  color: white;
  border-radius: 9px;
  font-size: .825rem;
  position: relative;
}

.job-benefits ul {
  padding: 0 14px;
  margin: 0;
  line-height: 1.5;
  font-size: .875rem;

}

.label {
  font-weight: bold;
  margin-right: 4px;
}

.post-date-text {
  margin: .9rem 0;
}

  div.similar-jobs-list {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of job elements */
    flex-direction: column;
    padding: 0 14px;
    gap: 1.5rem; 
    -webkit-scrollbar {
      display: none;
    }
    
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

  div.similar-jobs-list::-webkit-scrollbar {
    display: none;
  }


  .similar-job:hover .company-info a {
    text-decoration: underline;
  }

  .job-skills {
    margin-bottom: 1.1rem;
  }

  div.similar-job {
    flex-direction: column;
    cursor: pointer;
    display: flex;
    background: var(--light-mode-main-color);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding: 13px 17px;
    position: relative;
}

.job-info-flairs {
  display: inline-block;
}

.job-info-flairs p {
  display: inline-block;
  margin: 3px 6px 3px 0 !important;
}


.similar-jobs-company, .similar-jobs {
  margin-top: 15px;
}

div.similar-job h4 {
  margin: 0 !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines you want */
  -webkit-box-orient: vertical;
  max-width: 80%;
}

.interact-buttons > div {
  flex-grow: 1;
}

.interact-buttons form {
  display: flex;
}

.interact-buttons #regular-button-normal, .interact-buttons #submit-button-normal {
  width: -webkit-fill-available;
}

.job-details h4 {
  font-size: 1.05rem;
  font-weight: bold;
  margin: .65rem 0;
  margin-top: 0;
}

.job-details > div > p, .job-details > div > ul {
  color: #616161;
  font-size: .925rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1.2rem;
}

.job-flair p {
  font-size: .825rem;
  color: #5abe6e;
}

.interact-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  margin: .35rem 0;
  margin-bottom: 1.25rem;
}

.job-details {
  margin-bottom: 40px;
}

.job-tags p {
  font-size: .825rem;
}

.job-tags {
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
    margin-bottom: .4rem;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: auto;
}


.job-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 7px;
}

.company-name {
  color: var(--light-mode-text-color);
}

.button {
  display: inline-block;
  padding: 9px 19px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.company-logo {
  padding: 0;
  margin: 0;
}

.button:hover {
  background-color: #0056b3;
}

.job-details {
  display: flex;
  flex-direction: column;
}
@media (prefers-color-scheme: dark) {
  .job-listing {
    background-color: var(--dark-mode-body-color);
  }

  div.similar-job { 
    background: var(--dark-mode-body-color);
    border-color: var(--dark-mode-border-color)

  }

  .company-location {
    color: var(--dark-mode-secondary-text-color);
  }

  .job-details > div > p, .job-details > div > ul {
    color: #b1b1b1;
  }
  .container {
    border-color: var(--dark-mode-border-color);
  }

  .company-name {
      color: var(--dark-mode-text-color);
  }
}
@media screen and (max-width: 600px) {
main {
  height: calc(100dvh - var(--mobile-navbar-height) - var(--mobile-second-navbar-height)) !important;
}

.container {
  width: 100%;
}
}
