body, h1, h2, h3, p {
    margin: 0px;
    padding: 0px;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


h1 {
    text-align: center;
}

/* Create a grid layout */
.jobs-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

/* Style each job container */
/* Card Styling */
.job-card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: white;
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    overflow: hidden; /* Ensures that children elements do not overflow the rounded corners */
  }
  
  .job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  

  .job-header {
    background-color: #000;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px; /* Match the job-card border-radius */
    border-top-right-radius: 8px; /* Match the job-card border-radius */
  }
  
  .job-title-location {
    flex-grow: 1;
  }
  
  .company-logo-container {
    padding: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  
  .company-logo {
    width: 40px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .job-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .job-location {
    font-size: 0.9em;
  }

  .job-body {
    padding: 20px; /* Increase padding as needed */
    line-height: 1.4;
    border-bottom: 1px solid #eee;
    /* Rest of your styles */
  }

  .job-footer {
    padding: 15px; /* Increase padding as needed */
    text-align: center;
    /* Rest of your styles */
  }
  
  /* ... Other styles remain the same ... */
  
  /* Add responsive design if needed */
  @media (max-width: 768px) {
    .job-header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .company-logo-container {
      margin-top: 10px;
      align-self: center;
    }
  }
  
#job-btn-container {
  /* scroll bar and stuff*/
  padding-top: 120px;
  padding-left: 8px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
      display: none;
  }
}


#com-btn-container::-webkit-scrollbar, #job-btn-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.material-symbols-outlined {
  font-size: 16px; /* Icon size */
  vertical-align: -3px; /* Vertical alignment */
}

.job-btn {
  font-size: 12px;
  margin: 10px 10px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, #A9B388, #5F6F52);    
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}