:root {
  --primary-text-color: #1D2935;
  --light-mode-body-color: #fff;
  --light-mode-main-color: #F6F8FA;
  --light-mode-hover-color: #E5EBF1;
  --border-color: #DCE6F2;
  --light-mode-button-color: #DCE6F2;
  --light-mode-button-hover-color: #BECBDA;
  --light-mode-text-color: #243342;
  --light-mode-secondary-text-color: #586C7F;
  --hover-background-color: #ddd;
  --active-indicator-color: #0e6655;
  --dark-mode-main-color: #16191B;
  --dark-mode-body-color: #000;
  --dark-mode-hover-color: #24292D;
  --dark-mode-button-hover-color: #363F44;
  --dark-mode-lighter-color: #1F2427;
  --dark-mode-text-color: #fff;
  --dark-mode-secondary-text-color: #999;
  --dark-mode-border-color: #272D31;
  --dark-mode-hover-background-color: #444;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, h1, h2, h3, p {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
  }


h1 {
    text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  max-width: 1200px;

}


.job-content {
  background-color: var(--light-mode-body-color);
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  position: relative; 
  flex: 1; 
  flex-grow: 1; /* Take up remaining space */
  padding-left: 5px; /* No padding */
  padding-right: 5px;
}

.jobs-sort-selector {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  margin-left: 13px;
  margin-top: 0;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.jobs-sort-selector::-webkit-scrollbar {
  display: none;
}
.jobs-sort-selector select {
  font-size: 16px;
  width: auto; 
  padding: 7px 8px;
  color: var(--light-mode-text-color);
  background-color: var(--light-mode-body-color);
  border: 0;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000000"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px;
  padding-right: 15px;
}

.company-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 8px;
}

h3.job-title {
  margin: 0;
  margin: .4rem 0;
  font-size: 1rem;
}

p.job-description {
  inline-size: min-content;
  white-space: normal;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  line-height: 1.5em;
  margin: 0;
  margin: 16px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.company-mini-logo {
  max-height: 15px;
  object-fit: cover; 
  overflow: hidden;
}

.company {
  display: flex;
  flex-direction: row;
  gap: 5px;
  background-color: var(--light-mode-body-color);
  border: 1px solid var(--light-mode-body-color);
  border-radius: 10px;
  padding: 0px 12px;
  align-items: center;
  max-height: 46px;
  white-space: nowrap;
}

.company:hover, select:hover, .create-job:hover {
  cursor: pointer;
}


.companies-selectors {
  padding-top: 8px;
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  min-height: 37px;
  overflow-x: auto;
  -webkit-scrollbar {
    display: none;
  }
  
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.companies-selectors::-webkit-scrollbar {
  display: none;
}

.company-info img {
  max-height: 24px;
}

.create-job {
  border: 0;
  padding: 8px 14px;
    color: white;
  background-color: #007bff;
  border-radius: 10px;
}
.jobs-sort-selector option {
  font-size: 16px;
}


.job-content:hover {
  cursor: pointer;
}

#com-btn-container::-webkit-scrollbar, #job-btn-container::-webkit-scrollbar {
  display: none; 
}



  .job-header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; 
  }

  .job {
    background-color: var(--light-mode-body-color);
    margin: 0 13px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
  }
  
  .job-title-location {
    flex-grow: 1;
  }
  
  .company-logo-container {
    border-radius: 50%;
    display: flex;
    align-items: center;
  }

  .company-name {
    font-weight: bold;
  }
  
  .company-logo {
    width: 42px; 
    height: 42px; 
    padding-right: 10px;
  }
  
  
  .job-location {
    font-size: 0.9em;
  }

  .job-body {
    background-color: var(--light-mode-body-color);
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 6px;
    line-height: 1.4;
  }

  .job-footer {
    padding-bottom: 10px; 
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .job-title-location {
      font-size: 18px;
    }

    .job-flairs {
      padding-bottom: 5px;
    }
  }
  
#job-btn-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
      display: none;
  }
}


.jobs-container {
  overflow-y: auto;
  height: calc(100vh - 85px);
  width: 100%;
}

.jobs-container > h3 {
  margin: 8px 0;
}

.jobs-container-header {
  margin: 0 14px 6px 14px;
  margin-top: 14px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.job-preview {
  display: flex;
  align-items: center;
  padding: 11px;
  padding-top: 6px;
}

.company-logo {
  margin-right: 16px;
}

.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.job-info {
  flex-grow: 1;
}

.job-location,
.salary-range,
.experience-level,
.posted-date {
  font-size: 14px;
}

.apply-button {
  margin-left: 16px;
}

.apply-button a {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.apply-button a:hover {
  background-color: #0056b3;
}

.jobs-container::-webkit-scrollbar {
  display: none;
}

.job-list {
  display: flex;
  flex-direction: column;
}

.job-content {
  padding: 8px 10px;
}

.job-flair {
  display: inline-block;
  padding: 1px 3px;
  margin-bottom: 6px;
  background-color: #DB504A;
  border: 1px solid #FF8370; 
  color: white;
  border-radius: 6px;
  font-size: 14px;
  position: relative;
}

#pay-flair {
  background: #0C8346;
  border: 1px solid #0E954F;
}

#location-flair {
  background-color: #6d93b1; 
  border: 1px solid #6488a4; 
}

.job-content {
  background: var(--light-mode-body-color);
  border-radius: 6px;
}


.job-btn {
  font-size: 11px;
  margin: 7px 2px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #212f3d, #1c2833); 
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 10px 20px; /* Button padding */
  margin-top: 10px; /* Top margin */
  cursor: pointer; /* Pointer cursor */
}
div .material-symbols-outlined {
  font-size: 15px; /* Icon size */
  vertical-align: -3px; /* Vertical alignment */
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  /* General Background and Text Colors */
  body , .job-content    {
      background-color: var(--dark-mode-body-color); /* Dark background */
      color: #fff; /* Light text */
  }

  .job {
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-border-color);
  }

  .jobs-sort-selector select { 
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-border-color);
    color: var(--dark-mode-text-color);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/></svg>');

  }


  .job-list {
    border-color: var(--dark-mode-border-color);
  }


  .job-body {
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-main-color);
  }


  .company {
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-main-color);
  }
  .job-content {
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-border-color);
  }

  .job:hover {
    background-color: var(--dark-mode-body-color);
  }
}

@media (max-width: 768px) {
  body {
    display: block;
  }

  .job {
    border-width: .5px;
  }
  .jobs-container {
    height: calc(100dvh - 58px);
  }
}