:root {
  --primary-text-color: #000;
  --light-mode-main-color: #fff;
  --light-mode-body-color: #F6F8FA;
  --border-color: #ccc;
  --hover-background-color: #ddd;
  --active-indicator-color: #0e6655;
  --dark-mode-main-color: #1B1F22;
  --dark-mode-body-color: #16191B;
  --dark-mode-text-color: #fff;
  --dark-mode-border-color: #272D31;
  --dark-mode-hover-background-color: #444;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, h1, h2, h3, p {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }


h1 {
    text-align: center;
}

main {
  display: flex;
  flex-direction: row;

}


.job-content {
  background-color: var(--light-mode-body-color);
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  position: relative; 
  flex: 1; 
  flex-grow: 1; /* Take up remaining space */
  padding-left: 5px; /* No padding */
  padding-right: 5px;
  border-bottom: 1px solid #ccc;
}


.job-content:hover {
  cursor: pointer;
}

#com-btn-container::-webkit-scrollbar, #job-btn-container::-webkit-scrollbar {
  display: none; 
}


  .job-header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; 
  }
  
  .job-title-location {
    flex-grow: 1;
  }
  
  .company-logo-container {
    border-radius: 50%;
    display: flex;
    align-items: center;
  }

  .company-name {
    font-weight: bold;
  }
  
  .company-logo {
    width: 32px; 
    height: auto; 
    padding-right: 10px;
  }
  
  
  .job-location {
    font-size: 0.9em;
  }

  .job-body {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.4;
  }

  .job-footer {
    padding-bottom: 10px; 
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .job-title-location {
      font-size: 15px;
    }

    .job-flairs {
      padding-bottom: 5px;
    }
  }
  
#job-btn-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
      display: none;
  }
}


.jobs-container {
  overflow-y: auto;
  height: calc(100vh - 85px);
  width: 100%;
}

.jobs-container h3 {
  margin: 30px 50px;
}

.jobs-container::-webkit-scrollbar {
  display: none;
}

.job-list {
  margin: 30px 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.job-content {
  padding: 12px;
}

.job-flair {
  display: inline-block;
  padding: 2px 3px;
  margin: 2px;
  background-color: #f07826; 
  border: 1px solid #e05624; 
  color: white;
  border-radius: 6px;
  font-size: 14px;
  position: relative;
}




.job-btn {
  font-size: 11px;
  margin: 7px 2px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #212f3d, #1c2833); 
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 10px 20px; /* Button padding */
  margin-top: 10px; /* Top margin */
  cursor: pointer; /* Pointer cursor */
}
div .material-symbols-outlined {
  font-size: 15px; /* Icon size */
  vertical-align: -3px; /* Vertical alignment */
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  /* General Background and Text Colors */
  body , .job-content    {
      background-color: var(--dark-mode-body-color); /* Dark background */
      color: #fff; /* Light text */
  }

  .job-list {
    border-color: var(--dark-mode-border-color);
  }

  .job-content {
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-border-color);
  }

  .job:hover {
    background-color: var(--dark-mode-body-color);
  }
}
