body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  padding-top: 0 !important;
  padding: 0 !important;
}

.github-login-btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 0 !important;
}

.login-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.github-login-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.github-login-btn:hover {
  background-color: #443eaa;
}

.account-stuff {
  width: 55%;
  max-width: 490px;
  background: #ffffffa3;
  border: 1px solid #ffffffae;
  border-radius: 9px;
  padding: 0;
}

footer {
  margin-top: auto;
}

.footer-container {
  background-color: transparent !important;
}

.footer-container a {
  color: black !important;
}

.mobile-search-input {
  border: 1px solid transparent !important;
  background: transparent !important;
}

.navbar {
  background-color: #ffffff7d !important;
}

.second-nav-bar {
  background-color: #ffffff7d !important;
}

main {
  display: flex;
  background-image: url("../core-login-backgrounds/ISS071E170979 Large.jpg") !important;
  padding-top: 240px;
  flex-direction: column;
  align-items: center;
  height: calc(100dvh - 65px);
  font-family: 'Open Sans', sans-serif;
}

#forgot-pass {
  color: var(--active-indicator-color);
  text-decoration: none;
}

#register {
  max-width: 500px;
  padding: 16px 15px;
  border-radius: 16px;
  background-color: none;
  border: 0;
  width: 100%;
  box-sizing: border-box;

}

#register a,
#forgot-pass a {
  text-decoration: none;
  color: var(--active-indicator-color);
}


#login {
  max-width: 500px;
  padding: 5px 14px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
}

#forgot-pass {
  float: right;
}


#login-button {
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #0C8346;
  border: 1px solid #0E954F;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  flex: 0 0 auto;
  margin-right: 10px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.floating-label {
  display: none;
  font-size: .625rem;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 14px;
  transition: 0.2s ease all;
  color: var(--light-mode-secondary-text-color);
}

.floating-label.active {
  display: block;
}



input[type="text"]:focus+.floating-label,
input[type="password"]:focus+.floating-label,
input[type="text"]:not(:placeholder-shown)+.floating-label,
input[type="password"]:not(:placeholder-shown)+.floating-label {
  top: -20px;
  color: #333;
}

.toggle-password {
  position: absolute;
  right: 10px;
  border: none;
  display: flex;
  background: none;
  cursor: pointer;
  color: #333;
  align-items: center;
  top: 4px;
}

.toggle-password .material-symbols-outlined {
  font-size: 1.15rem;
}

input:focus+.floating-label,
input:not(:placeholder-shown)+.floating-label,
.toggle-password:focus~.floating-label {
  opacity: 1;
  visibility: visible;
  transform: translateY(-150%);
  /* Move label up when active */
  font-size: 12px;
  color: #333;
}


#login-button:hover {
  background: #0c6537;
  border-color: #0e8045;
}

.button-container {
  display: flex;
  justify-content: center;
}

.input-container input {
  width: 100%;
  padding: 11px 9px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f6f8fa91 !important;
  border: 1px solid #868686 !important;
  font-size: .8rem;
  transition: box-shadow 0.3s ease;
}



.input-container {
  margin-bottom: 10px;
}

#login h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}


#login select {
  cursor: pointer;
}

.abcRioButtonLightBlue {
  background: transparent !important;
  border: 0 !important;
  color: white !important;
}

.abcRioButton {
  height: min-content !important;
}

nav {
  display: none !important;
}

.core-logo {
  height: 120px;
  top: 50px;
  position: absolute;
}

.login-buttons {
  display: flex;
  margin-bottom: 1.2rem;
  align-items: center;
  gap: 20px;
}

.abcRioButton {
  height: 20px !important;

  box-shadow: none !important;
}

.abcRioButtonIcon {
  padding: 0 !important;
  float: none !important;
}

.abcRioButton {
  margin-left: auto !important;
  margin-right: auto !important;
}

.abcRioButtonContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cf-turnstile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-link {
  text-decoration: none;
  color: inherit;
}

.join-link .highlight {
  font-weight: bold;
  color: var(--active-indicator-color);
}

.join-link:hover .highlight {
  text-decoration: underline;
}


@media screen and (max-width: 600px) {
  main {
    height: calc(100dvh - 58px);
  }

  .floating-label {
    font-size: .725rem;
  }

  .input-container input {
    padding: 11px 14px;
    background: #f6f8fa7a !important;
    font-size: 16px;
  }

  .account-stuff {
    width: 90%;
  }

  #register,
  #login {
    max-width: 100%;
    background: none;
    border-radius: 0;
  }
}

@media (prefers-color-scheme: dark) {
  main {
    background-image: url("/core-login-backgrounds/Web First Images Release.webp") !important;
    color: var(--dark-mode-text-color);
  }

  .footer-container a {
    color: white !important;
  }

  #login {
    background: none;
    border-color: none;
  }

  .account-stuff {
    background: #1f1f21eb;
    border: 1px solid #444444bf;
  }

  .navbar,
  .second-nav-bar {
    background: #00000078 !important;
  }

  #register {
    background: none;
    border-color: none;
  }

  #login h1 {
    color: var(--dark-mode-text-color);
  }

  .core-logo {
    content: url(/img/core-dark.png);
  }

  .github-login-btn {
    color: var(--dark-mode-text-color);
  }

  .input-container input {
    background-color: #0b0c0c8c !important;
    border-color: #646464d1 !important;
    color: var(--dark-mode-text-color) !important;

  }
}