:root {
  --primary-text-color: #0E141A;
  --light-mode-main-color: #fff;
  --light-mode-body-color: #F6F8FA;
  --border-color: #D8E0E9;
  --hover-background-color: #ddd;
  --active-indicator-color: #0e6655;
  --dark-mode-main-color: #1B1F22;
  --dark-mode-body-color: #16191B;
  --dark-mode-text-color: #fff;
  --dark-mode-border-color: #272D31;
  --dark-mode-hover-background-color: #444;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  height: calc(100dvh - 65px);
  background-color: var(--light-mode-main-color);
font-family: 'Open Sans', sans-serif;
}

#forgot-pass {
  color: var(--active-indicator-color);
  text-decoration: none;
}

#register {
  padding: 20px 20px;
  border-radius: 6px;
  background-color: var(--light-mode-body-color);
  border: 1px solid var(--border-color);
  width: 350px; 
  box-sizing: border-box;
  text-align: center;
  display:flex;
  flex-direction: column;
  gap: 4px;
}

#register a, #forgot-pass a {
  text-decoration: none;
  color: var(--active-indicator-color);
}

#login {
  padding: 20px 20px;
  border-radius: 6px;
  background-color: var(--light-mode-body-color);
  border: 1px solid var(--border-color);
  width: 350px; 
  box-sizing: border-box;
}

#forgot-pass {
  float: right;
}

#login-button {
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: var(--active-indicator-color); /* New gradient for dark mode */
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  flex: 0 0 auto;
  margin-right: 10px; /* Margin around buttons */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 10px 20px; /* Button padding */
  margin-top: 10px; /* Top margin */
  cursor: pointer; /* Pointer cursor */
}

.button-container {
  display: flex;
  justify-content:center;
}

.input-container input {
  width: 100%;
  padding: 7px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px; /* This makes the input rounded */
  background-color: var(--navbar-background-color);
  border: 1px solid var(--border-color);
  font-size: 16px;
}

#login h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;  
}


#login select {
  cursor: pointer;
}

.join-link {
  text-decoration: none; 
  color: inherit; 
}

.join-link .highlight {
  font-weight: bold; 
  color: var(--active-indicator-color);
}

.join-link:hover .highlight {
  text-decoration: underline; 
}
/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  main {
    background-color: var(--dark-mode-body-color); /* Dark background for main */
    color: #f4f4f4; /* Light text color for better readability */
  }

  #login {
    background: var(--dark-mode-main-color); /* Dark background for login */
    border-color: var(--dark-mode-border-color);
  }

  #register
  {
    background: var(--dark-mode-main-color); /* Dark background for login */
    border-color: var(--dark-mode-border-color);
    }

  .input-container input {
    background-color: var(--dark-mode-body-color); /* Dark background for input fields */
    border: 1px solid var(--dark-mode-border-color); /* Darker border for input fields */
    color: #f4f4f4; /* Light text color */
  }

  .input-container input:-internal-autofill-selected {
    background-color: var(--dark-mode-body-color) !important; /* Dark background for autofill */
    color: #f4f4f4 !important; /* Light text color for autofill */
  }


  #login h1 {
    color: #f4f4f4; /* Light color for headings */
  }

  /* Additional dark mode styles can be added as needed */
}
