:root {
  --primary-text-color: #1D2935;
  --light-mode-body-color: #F6F8FA;
  --light-mode-main-color: #fff;
  --light-mode-hover-color: #E5EBF1;
  --border-color: #DCE6F2;
  --light-mode-button-color: #DCE6F2;
  --light-mode-button-hover-color: #BECBDA;
  --light-mode-text-color: #243342;
  --light-mode-secondary-text-color: #586C7F;
  --hover-background-color: #ddd;
  --active-indicator-color: #0e6655;
  --dark-mode-main-color: #16191B;
  --dark-mode-body-color: #000;
  --dark-mode-hover-color: #1b1f22;
  --dark-mode-button-hover-color: #363F44;
  --dark-mode-lighter-color: #1F2427;
  --dark-mode-text-color: #fff;
  --dark-mode-secondary-text-color: #999;
  --dark-mode-border-color: #272D31;
  --dark-mode-hover-background-color: #151515;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.github-login-btn {
  display: inline-flex;
  align-items: center;
  background: none;
  border: 2px solid #114736;
  margin-bottom: 25px;
  color: #fff;
  padding: 20px 20px;
  text-decoration: none;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.github-login-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.github-login-btn:hover {
  background-color: #114736;
}

main {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
  height: calc(100dvh - 65px);
  background-color: var(--light-mode-main-color);
  font-family: 'Open Sans', sans-serif;
}

#forgot-pass {
  color: var(--active-indicator-color);
  text-decoration: none;
}

#register {
  max-width: 500px;
  padding: 20px 20px;
  border-radius: 16px;
  background-color: var(--light-mode-body-color);
  border: 0;
  width: 100%;
  box-sizing: border-box;

}

#register a, #forgot-pass a {
  text-decoration: none;
  color: var(--active-indicator-color);
}

#login {
  max-width: 500px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: var(--light-mode-body-color);
  width: 100%;
  box-sizing: border-box;
  border: 0;
}

#forgot-pass {
  float: right;
}

#login-button {
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #0C8346;
  border: 1px solid #0E954F;
    color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  flex: 0 0 auto;
  margin-right: 10px; /* Margin around buttons */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 10px 20px; /* Button padding */
  margin-top: 10px; /* Top margin */
  cursor: pointer; /* Pointer cursor */
}

#login-button:hover {
  background: #0c6537;
  border-color: #0e8045;
}

.button-container {
  display: flex;
  justify-content:center;
}

.input-container input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px; /* This makes the input rounded */
  background-color: var(--light-mode-main-color) !important;
  border: 1px solid var(--border-color) !important;
  font-size: 16px;
}

.input-container {
  margin-bottom: 10px;
}

#login h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;  
}


#login select {
  cursor: pointer;
}

.join-link {
  text-decoration: none; 
  color: inherit; 
}

.join-link .highlight {
  font-weight: bold; 
  color: var(--active-indicator-color);
}

.join-link:hover .highlight {
  text-decoration: underline; 
}
/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  main {
    background-color: var(--dark-mode-body-color); /* Dark background for main */
    color: #f4f4f4; /* Light text color for better readability */
  }

  #login {
    background: none; /* Dark background for login */
    border-color: none;
  }

  #register
  {
    background: none; /* Dark background for login */
    border-color: none;
    }

  .input-container input, input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus
  input:-webkit-autofill, 
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #D2D7DB;
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-mode-main-color) inset;
    transition: background-color 5000s ease-in-out 0s;
    background-color: var(--dark-mode-main-color) !important; /* Dark background for input fields */
    color: #f4f4f4; /* Light text color */
  }

  .input-container input {
    border-color: var(--dark-mode-border-color) !important; /* Dark border color */
  }

  #login h1 {
    color: #f4f4f4; /* Light color for headings */
  }

  /* Additional dark mode styles can be added as needed */
}

@media screen and (max-width: 600px){
  main {
    height: calc(100dvh - 58px);
  }

  #register, #login {
    max-width: 100%;
    border-radius: 0;
  }
}