@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-text-color: #1D2935;
  --light-mode-body-color: #F6F8FA;
  --light-mode-main-color: #fff;
  --light-mode-hover-color: #eef3f7;
  --border-color: #DCE6F2;
  --light-mode-button-color: #DCE6F2;
  --light-mode-button-hover-color: #BECBDA;
  --light-mode-text-color: #243342;
  --light-mode-secondary-text-color: #586C7F;
  --hover-background-color: #ddd;
  --active-indicator-color: #5083ca;
  --dark-mode-main-color: #0b0c0c;
  --dark-mode-body-color: #000;
  --dark-mode-hover-color: #1b1f22;
  --dark-mode-button-hover-color: #363F44;
  --dark-mode-lighter-color: #1F2427;
  --dark-mode-text-color: #fff;
  --dark-mode-secondary-text-color: #999;
  --dark-mode-border-color: #181a1b;
  --dark-mode-hover-background-color: #151515;

  /* Font and size variables */
  --font-family: 'Roboto', sans-serif;
  --default-font-size: 14px;
  --navbar-button-font-size: 16px;
  --nav-text-font-size: 20px;
  --navbar-height: 65px;
  --mobile-navbar-height: 50px;
  --mobile-second-navbar-height: 34px;
  --logo-max-height: 65px;
  --mobile-logo-max-height: 45px;
  --search-bar-width: 170px;
  --mobile-search-bar-width: 180px;
  --search-bar-height: 27px;
}


/* Global Style */
body {
  margin: 0;
  padding-top: var(--navbar-height);
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, p {
  margin: 0; 
  padding: 0; 
}

a {
  text-decoration: none;
  color: var(--active-indicator-color);
}

a:visited {
  color: #6a57c3;
}

.top-bar {
  display: flex;
  flex-direction: row;
}

.user-links {
  list-style: none; /* Remove list bullets */
  margin: 0;
  top: -27px;
  padding-left: 0;
  display: flex; /* Display links inline */

}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

.tag {
  display: inline-flex;
  gap: 5px;
  padding: .2rem .45rem;
  margin: 3px 7px 0px 0px;
  margin-bottom: 3px;
  background-color: #6790f436;
  color: #85a5e6;
  border-radius: 7px;
  font-size: .825rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tag-clickable {
  display: inline-flex;
  gap: 5px;
  padding: .2rem .45rem;
  margin: 3px 7px 0px 0px;
  margin-bottom: 3px;
  background-color: #6790f436;
  color: #85a5e6;
  border-radius: 7px;
  font-size: .925rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tag-clickable:hover {
  filter: brightness(0.9);
}

.tag-clickable.selected {
  background-color: #04ca2e52;
  color: #209939;
  font-weight: 500;
}

.job-posting-flairs .tag.highlighted {
  background-color: #04ca2e52;
  color: #209939;
  font-weight: 500;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-03 {
  gap: 0.3rem;
}

.gap-06 {
  gap: 0.6rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.hamburger-menu {
  display: none;
}

#nb-icon {
  font-size: 19px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
  color: var(--light-mode-text-color);
}

.search-container {
  display: none;
  position: relative;
}

.search-results-container {
  position: absolute; /* Position it below the search bar */
  top: var(--navbar-height);
  left: 0;
  width: 100%; /* Match the width of the search bar */
  background-color: var(--light-mode-main-color); /* Match your design */
  max-height: 300px; /* Limit the height and make it scrollable */
  overflow-y: auto;
}
.search-results-container > div {
  padding: 9px 13px;
  background-color: var(--light-mode-main-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-results-container > div:hover {
  background-color: var(--border-color); /* Highlight item on hover */
}

.overlay {
  position: fixed; /* Cover the whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* Semi-transparent black */
  z-index: -11; /* Ensure it's above other content but below the search form */
}

.latest-commit-banner {
  position: relative;
  background-color: #bb4242;
  width: 100%;
  color: white;
  padding: 0;
  margin-top: -3px;
  z-index: 1;
  box-sizing: border-box;
}

.latest-commit-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


#closeCommitBanner {
  border: 0;
  background-color: transparent;
  color: white;
}

#closeCommitBanner .material-symbols-outlined {
  font-size: 1.2rem;
}

.latest-commit-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.latest-commit-message,
.latest-commit-author,
.latest-commit-date {
  margin: 0 10px;
  font-size: .9rem
}

#secondary-text {
  color: var(--light-mode-secondary-text-color);
}

.count-bubble {
  display: none;
  background-color: #ff6070;
  border: 1px solid #ba5b65;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  height: 16px;
  top: -6px;
  margin-left: 21px;
  font-weight: bold;
  text-align: center;
  width: 16px;
  aspect-ratio: 1/1;
  line-height: 1rem;
}

.mobile-search-input:focus {
  outline: 0 !important;
  border-color: transparent !important;
  box-shadow: none !important
}

.mobile-search-input {
  font-size: 16px;
  width: 58vw;
  max-width: 100%;
  padding: 6px 10px;
  padding-left: 25px;
  border-radius: 11px;
  border: 1px solid var(--light-mode-main-color);
  background: var(--light-mode-main-color);
  transition: opacity 0.2s ease, visibility 0.2s ease;
  opacity: 1;
  visibility: visible;
}

.mobile-search-input.hidden {
  opacity: 0;
  visibility: hidden;
}

.search-icon.hidden {
  opacity: 0;
  visibility: hidden;
}


.avatar-online-status {
  border: 2px solid var(--light-mode-main-color);
}

@media (min-width: 400px) {
  .mobile-search-input {
    width: 61.5vw; /* Adjust width for medium-sized screens */
  }
}

@media (min-width: 700px) {
  .mobile-search-input {
    width: 78vw; /* Adjust width for medium-sized screens */
  }
}

.EasyMDEContainer .CodeMirror.CodeMirror-focused, .select2-container--default.select2-container--focus .select2-selection--multiple {
  outline: none;
  border-color: #a0cfe6 !important;
  box-shadow: 0 0 3px 1px rgba(160, 207, 230, 0.5);
}

.search-form {
  display: inline-flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100dvw;
  background-color: var(--light-mode-main-color);
  box-sizing: border-box;
  height: 55px;
  height: 61px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}


.search-input {
  font-size: 16px;
  flex-grow: 1;
  border: 0;
  background-color: var(--light-mode-body-color);
  border-radius: 6px;
  padding: 10px 10px;
}

.search-btn {
  background: none;
  margin: 0;
  margin-left: 7px;
  padding: 0;
  border: none;
  cursor: pointer;
  display: flex; /* Align the icons properly */
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center icons vertically */
}

.search-results-container h3 {
  margin: 10px;
}

/* Hide the form by default */
#searchForm {
  display: none;
}



#menu-icon {
  padding: 9px 9px;
  position: relative;
  display: none;
  background-color: rgba(0,0,0,0);
  border-radius: 5px; 
  color: var(--primary-text-color); /* Icon color */
  font-size: 22px; /* Icon size */
  font-weight: 400;
}


.navbar {
  background-color: var(--light-mode-main-color); 
  color: var(--primary-text-color); 
  border: 0;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  top: 0;
  z-index: 10;
}

.second-nav-bar {
  display: none;
}

/* Navbar Links Style */
.nav-links, .second-nav-links {
  list-style: none; /* Remove list bullets */
  margin: 0;
  display: flex; /* Display links inline */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%; 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding-bottom: 7px;
  justify-content: center;
  padding-inline-start: 0px;
}

.navbar-button .material-symbols-outlined {
  font-size: 14px;
    vertical-align: -3px;
    padding-right: .4rem;
}

li.dropdown a.active {
    padding-bottom: 6px !important;
    border-bottom: 1px solid #1e6626;
}

.second-nav-links {
  gap: .4rem;
  justify-content: space-around;
}

#second-nav-icon {
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: var(--light-mode-text-color);
  vertical-align: -3px;
}

.second-nav-links .navbar-button {
  margin-top: 5px;
  padding: 0;
  font-size: .965rem;
  font-weight: 500;
  color: var(--light-mode-text-color);
}

.nav-links::-webkit-scrollbar {
  display: none;
}

.nav-links li {
  font-size: var(--default-font-size); /* Font size of navbar links */
}


.nav-links {
  text-decoration: none; /* Remove underline */
  color: var(--light-mode-text-color); /* Link color */
}

.nav-links a {
  color: var(--light-mode-text-color);
  font-weight: normal;
}



.nav-links li a:hover {
  text-decoration: none; /* Underline on hover */
}


.inbox-button, .logout-button, #search-button, .search-button {
  display: flex; 
  justify-content: center; 
  gap: 4px; 
  line-height: 1.5; 
  background-color: rgba(0,0,0,0);
  color: var(--primary-text-color);
  font-size: var(--default-font-size); /* Button font size */
  border: 0;
  border-radius: 6px; 
  text-decoration: none; /* Remove underline */
  transition: background-color 0.15s, transform 0.15s; /* Transition effects */
}

.search-button {
  padding: 0px;
  position: absolute;
  bottom: -6px;
  left: 75px;
}


.inbox-button:hover, .logout-button:hover, #search-button:hover {
  background-color: #ddd; /* Background color on hover */
  cursor: pointer; /* Pointer cursor on hover */
}


/* Navbar Button Style */
.navbar-button {
  display: flex;
  justify-content: center;
  gap: 4px;
  line-height: 1.5;
  color: var(--primary-text-color);
  padding: 3px 5px;
  margin:0 12px;
  font-size: .9rem;
  text-decoration: none;
  transition: background-color 0.15s, transform 0.15s;
  z-index: 3;
  padding-bottom: 6px;
  margin-top: 9px;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 16px;
  padding: 0;
  z-index: 100;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-bar {
  z-index: 2;
  width: 16px;
  height: 1.5px !important;
  background-color: var(--light-mode-text-color);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-button.active .top-bar {
  transform: translate(0px, 16px);
}

.menu-button.active .middle-bar {
  transform: translate(0px, 8px);
}

.avatar-dropdown-item #nb-icon {
  padding: 0;
  margin: 4px 10px !important;
  font-size: 19px;
}



.navbar-button:hover {
  cursor: pointer;
}


.logo img {
  max-height: 50px;
  object-fit: cover;
}

.navbar-button.active {
  border-bottom: 1.5px solid var(--active-indicator-color); /* Active button indicator */
}

.notification-sender-avatar {
  border-radius: 100%;
  height: 40px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.clear-btn .material-symbols-outlined {
  font-size: 1.35rem;
  font-weight: 400;
  color: #bababa;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0; /* Make overlay invisible initially */
  z-index: 1; 
  transition: opacity 0.3s ease; /* Apply transition to opacity only */
  pointer-events: none; /* Prevents click events when overlay is invisible */
}



ul.notification-list {
  padding-left: 0px;
  list-style: none; /* Remove list bullets */
}

.dropdown-menu {
  display: none;
  transform: translateY(-100vh); 
  will-change: transform; 
  transition: transform 0.3s ease-out;
}

.dropdown-menu.show {
  display: flex;
  transform: translateY(0); 
  transition: transform 0.3s ease-out;
}

ul.dropdown-menu {
  list-style: none;
  flex-direction: column;
  gap: 10px;
}

ul.dropdown-menu a {
  font-size: .855rem;
  color: var(--light-mode-secondary-text-color);
}

ul.dropdown-menu li, ul.dropdown-menu li a {
  width: 100% !important;
}
ul.dropdown-menu li {
  padding: 5px 0;
  text-align: center;
}

#clear-all-btn {
  margin: 3px 10px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, #0a5275, #003d66); /* New gradient for dark mode */
  color: var(--notification-background-color);
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 5px 10px; /* Button padding */

}

button.clear-btn {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: var(--light-mode-text-color);
}

.nav-links li {
  position: relative;
}

/* Nav Text Styles */
.nav-text, .nav-text:hover {
  color: var(--primary-text-color); /* Nav text and hover color */
  text-decoration: none; /* Remove underline */
}

.user-btns {
  display:flex;
  align-items: flex-end;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1180px;
  width: 100%;
  gap: 15%;
  z-index: 2;
}

.menu-content {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100dvh - 65px);
  overflow-x: hidden;
  transition: transform 0.3s ease-out;
  padding-top: 65px;
  background-color: var(--light-mode-main-color);
  z-index: 2;
  width: 100%;
  overflow-y: auto;
  transform: translateY(-100vh); 
  will-change: transform; 
}

a > .menu-item { 
font-weight: 400;
}

.nav-text:hover {
  text-decoration: underline; /* Underline on hover */
}

.nav-text-container {
  white-space: pre;
  font-size: 17px;
  display: flex;
  font-weight: bold;
  align-items: center;
  margin-top: 20px;
  margin-left: 17px;
  margin-left: 17px;
  margin-top: 11px;
  margin-bottom: -6px;
  white-space-collapse: collapse;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.nav-text-container a {
  font-weight:500;
}

.logo-img {
  margin-top: -2px;
}

/* Mobile Navbar Style */
.mobile-navbar {
  font-size: 10px;
  display: none; /* Hide by default on desktop */
}

.job-flair:hover {
  background-color: #37794436;
    color: #3e854c;
}

.search-icon {
  position: absolute;
  top: 5px;
  font-weight: 300 !important;
  left: -1px;
  color: var(--light-mode-secondary-text-color);
  font-size: 23px !important;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  opacity: 1;
  visibility: visible;
}


#user-avatar {
  width: 36px;
  border-radius: 50%;
  height: 36px;
  object-fit: cover; 
  overflow: hidden;
  z-index: 10;
}
#search-bar {
  padding: 4px 6px;
  margin-left: 5px;
  font-size: var(--default-font-size);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  height: 27px;
  width: 170px; /* Adjust the width as needed */
  margin-right: 3px;
}

.user-links {
  margin-top: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1; 
}

.second-nav-bar {
  display: none;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--light-mode-main-color);
  min-width: 70px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 2px 5px;
  padding-left: 12px;
  z-index: 2;
  align-items: flex-start;
  top: var(--mobile-second-navbar-height);
}

#search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.navbar-btn-text {
  font-size: 12px;
}

.nav-avatar {
  position: relative;
  display: flex;
  align-items: center; 
  padding-left: 2px;
}

.secondary-text, .secondary-text:visited {
  color: var(--light-mode-secondary-text-color);
}

.thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}


.thumbnail-tiny {
  width: 30px;
  height: 30px;
}

.thumbnail-small {
  width: 50px;
  height: 50px;
}

.thumbnail-medium {
  width: 70px;
  height: 70px;
}

.thumbnail-large {
  width: 100px;
  height: 100px;
}

.thumbnail-regular {
  border-radius: 0;
  aspect-ratio: maintain;
  width: auto;
  border-radius: 8px;
  object-fit: contain;
  
}

.dropdown {
  display: none;
}



#nb-icon {
  padding: 9px;
}
/* Responsive Design */
@media (max-width: 768px) {
  body {
    padding-top: constant(safe-area-inset-top); 
    padding-top: env(safe-area-inset-top);
    background-color: var(--light-mode-main-color) !important;
  }

  .dropdown {
    display: block;
  }

  main {
    background-color: var(--light-mode-main-color) !important;
  }


  .nav-btns {
    display: none;
  }

  .username a {
    font-size: 16px;
  }

  .menu-content {
    height: calc(100dvh - 58px);
  }

  .nav-text-container {
    font-size: 18px;
    margin: 0;
}


  .community-header {
    margin: 0px;
  }
  ul {
    padding-inline-start: 0px;
  }

  .search-container {
    display: inline-block; 
  }

  .user-links {
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap: 10px;
  } 

  #nb-icon {
    font-size: 27px;
    padding: 7px 4px;
  }

  .second-nav-bar {
    display: block;
    background-color: var(--light-mode-main-color);
    color: var(--primary-text-color);
    position: fixed;
    width: 100%;
    height: var(--mobile-second-navbar-height);
    top: calc(var(--mobile-navbar-height));
    z-index: 1;
    border-bottom: 1px solid var(--border-color);
}

  .second-nav-links {
    padding-bottom: 200px;
    overflow-y: none;
    pointer-events: none;
  }

  .second-nav-btns {
    pointer-events: none;
  }

li.dropdown {
    pointer-events: all;
  }
  .notification-count {
    display: none;
    left: 57px;
    margin-left: 0;
  }


  body, main { 
    height: calc(100dvh - var(--mobile-navbar-height) - var(--mobile-second-navbar-height)) !important;
  }


  .navbar-button {
    display: none;
  }

  .navbar-button.active {
    display: block;
    border: 0;
  }

  .search-results-container {
    top: var(--mobile-navbar-height);
  }

  .user-btns {
    position: absolute;
    right: 7px;
    top: 0;
    z-index: 500;
  }

  .user-btns #nb-icon {
    font-weight: 300;
  }

  #search-bar {
    display: none;
  }

  .nav-text-and-user-btns {
    position: relative;
    top: 15px;
    left: 82px;
    }

  .notification-popup {
    position: absolute;
    right: -18px;
    top: 54px;
  }


  .navbar {
    height: var(--mobile-navbar-height);
    padding: 0px;
  }

  .user-button {
    font-size: var(--default-font-size);
  }

  #user-avatar {
    padding-top: 0px;
    margin-left: 9px;
    margin-top: 0px;
  }

  .latest-commit-banner {
    top: 71px;
    margin-top: 3px;
    width: 100%;
  }

  .avatar-dropdown-item #nb-icon {
    font-size: 25px;
  }

  .navbar-button {
    padding: 7px 9px;
    font-size: 15px;
  }

  .hamburger-menu {
    display: block;
  }

  #menu-icon {  
    display: block;
  }

  body {
    padding-top: calc(var(--mobile-navbar-height) + var(--mobile-second-navbar-height)); /* Reduced padding for mobile */
    overflow-x: hidden;
  }

  .avatar-dropdown {
    right: -10px;
  }



  .user-links .user-avatar img {
    border-radius: 50%;
    width: 16px;
    vertical-align: -1px;
  }

  .user-links {
    top: 0;
  }



  .hamburger-menu {
    position: absolute;
    left: 18px;
    top: 13px;
    z-index: 100;
  } 
  
  .logo img {
    position: absolute;
    top: 7.4px;
    left: 49px;
    max-height: 34px;
    z-index: 999;
  }
}


.user-info div {
  font-size: 12px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: #a0cfe6 !important;
  box-shadow: 0 0 3px 1px rgba(160, 207, 230, 0.5);
}

input {
  width: 100%;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--light-mode-body-color) !important;
    border: 1px solid var(--border-color) !important;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
}

#submit-button, #cancel-button, #regular-button, .submit-button, .cancel-button, .regular-button, .special-button, #special-button {
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #1675351f;
  border: 1px solid #63856f;
  color: #63856f;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  flex: 0 0 auto;
  margin-right: 10px;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.no-bg {
  background: none;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none;
}

.clickable {
  cursor: pointer;
  color: var(--active-indicator-color);
}

#submit-button-normal:hover,
#cancel-button-normal:hover,
#regular-button-normal:hover,
.submit-button-normal:hover,
.cancel-button-normal:hover,
.regular-button-normal:hover,
.special-button-normal:hover,
#special-button-normal:hover,
.null-button-normal:hover,
#null-button-normal:hover,
#null-button:hover,
.null-button:hover, button:hover, .job:hover, .post:hover, .community-entry:hover, .inbox-button:hover {
    filter: brightness(0.8); /* Adjust the brightness to darken the button */
}

#submit-button-normal, #cancel-button-normal, #regular-button-normal, .submit-button-normal, .cancel-button-normal, .regular-button-normal, .special-button-normal, #special-button-normal, .null-button-normal, #null-button-normal, #null-button, .null-button {
  font-size: .875rem;
  border: none;
  width: auto;
  flex: 0;
  margin: 0;
  border-radius: 6px;
  background: #1675353d;
  border: 1px solid #4b9263;
  color: #4b9263;
  cursor: pointer;
  word-wrap: break-word;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  padding: .3rem .15rem;
  flex-grow: 1;
  cursor: pointer;
  text-wrap: nowrap;
}

.margin-auto {
  margin: auto;
}

.special-button, #special-button, .special-button-normal, #special-button-normal {
  border-color: #ffa600 !important;
  background: #ffa60038 !important;
  color: #ffa600 !important;
}

.null-button, #null-button, .null-button-normal, #null-button-normal {
  background: #88888836;
  color: #161616;
  border: 1px solid #333333;
}

.margin-v-auto {
  margin-top: auto !important; 
  margin-bottom: auto !important;
}

.flex {
  display: flex;
}

.margin-h-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

#cancel-button, #cancel-button-normal, .cancel-button, .cancel-button-normal {
  border: 1px solid #ae4444;
  background-color: #cd3a3a1c;
  color: #ae4444;
}

#regular-button, #regular-button-normal, .regular-button, .regular-button-normal {
  background: #007bff36;
  color: #1463b7;
  border: 1px solid #1463b7;
}

.select2-container--open .select2-dropdown--above {
  border-color: var(--border-color) !important;
  background-color: var(--light-mode-body-color);
}

.navbar-user-info {
  text-decoration: none;
  color: var(--primary-text-color);
}


.menu-content a:hover {
  background-color: var(--light-mode-hover-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
}


.border-background {
  margin-top: 9px;
  background: linear-gradient(90deg, rgba(83,117,226,1) 0%, rgba(216,214,187,1) 50%, rgba(60,73,106,1) 100%);
  padding: 1px;
  border-radius: 7px;
}

.community-flairs .material-symbols-outlined {
  font-size: .95rem;
  vertical-align: -2px;
  padding-right: .4rem;
}

#login-btn {
  background: white;
  font-size: .85rem;
  padding: .35rem 1.15rem;
  color: var(--light-mode-text-color);
}


.page-header {
  padding: 19px 13px !important;
  padding-bottom: 5px !important;
  width: 100%;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search-bar input[type="search"] {
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 5px;
  padding: 0 30px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.core-header-img {
  content: url('/img/core.png');
}

.menu-content h3 {
  margin: 10px 25px;
}

.search-bar input[type="search"]:focus,
.search-bar input[type="search"]:hover {
  width: 250px;
  outline: none;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}


#menu-community-icon {
  font-size: 1.4rem;
  padding: 0px .8rem;
  vertical-align: -2px;
  color: var(--light-mode-text-color);
}



.sidebar-open {
  transform: translateX(0); 
}

.user-links {
  display: flex;
  align-items: center;
  transition: transform 0.1s ease-out;
}


.user-links.slide-left {
  opacity: 0;
}

.user-links {
  position: relative;
  display: flex;
  align-items: center;
  transition: transform 0.1s linear;
}

.nav-avatar {
  position: relative;
  z-index: 20;
}

.avatar-dropdown {
  position: absolute;
  right: 85px;
  z-index: 10;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  padding-top: 18px;
  transform: translateX(30%);
  transition: transform 0.3s ease, opacity 0.05s ease 0.0125s, visibility 0.3s ease 0.15s;
}


.avatar-dropdown-item .material-symbols-outlined {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  white-space-collapse: collapse; 
}

.avatar-dropdown a {
  width: 100%;
  padding: 5px 0;
  text-decoration: none;
  font-size: 23px;
  color: var(--primary-text-color);
  display: block;
  transition: 0.3s;
}

.menu-content a {
  padding: 14px 0px 14px 15px;
  text-decoration: none;
  font-size: 16px;
  color: var(--primary-text-color);
  display: block;
  transition: 0.3s;
}
.avatar-dropdown-item {
  position: relative;
}

  .menu-content a:hover {
    color: var(--active-indicator-color);
  }

@media (prefers-color-scheme: dark) {

  body {
    background-color: var(--dark-mode-body-color);
    color: var(--dark-mode-text-color);
  }

  a {
    color: var(--active-indicator-color);
  }

  .menu-content {
    background-color: var(--dark-mode-main-color);
  }

  .menu-content a {
    color: #fff;
  }


  .secondary-text, .secondary-text:visted {
    color: var(--dark-mode-secondary-text-color);
  }
  
  #nb-icon {
    color: var(--dark-mode-text-color);
  }
  
  .secondary-text, .secondary-text:visited {
    color: var(--dark-mode-secondary-text-color);
  }

  .core-header-img {
    content: url('/img/core-dark.png');
  }
  
  .search-input {
     background-color: var(--dark-mode-body-color);
     color: var(--dark-mode-text-color);
     border-color: var(--dark-mode-border-color)
     }

     .search-results-container > div:hover {
      background-color: var(--dark-mode-hover-background-color); /* Highlight item on hover */
     }
  
  .search-form {
     background-color: var(--dark-mode-main-color);
  }
  .null-button, #null-button, .null-button-normal, #null-button-normal {
    color: white;
  }

  button.clear-btn {
    color: var(--dark-mode-text-color);
  }

  #secondary-text {
    color: var(--dark-mode-secondary-text-color);
  }
}

.search-category-option {
  color: var(--light-mode-secondary-text-color);
}


@media (prefers-color-scheme: dark) {
  #search-bar {
    background-color: var(--dark-mode-body-color); /* Darker background color for inputs */
    color: var(--navbar-background-color);
    border-color: var(--dark-mode-border-color); 
  }

  .menu-bar {
    background-color: var(--dark-mode-text-color);
  }

  #menu-community-icon {
    color: var(--dark-mode-text-color);
  }

  .navbar, .second-nav-bar, .search-results-container {
    background-color: var(--dark-mode-body-color);
    color: var(--dark-mode-text-color);
    border-color: var(--dark-mode-border-color) !important;
}

input {
  background-color: var(--dark-mode-main-color) !important;
  border: 1px solid var(--dark-mode-border-color) !important;
  color: var(--dark-mode-text-color);
}

.search-icon {
  color: var(--dark-mode-secondary-text-color);
}

.mobile-search-input {
  background-color: var(--dark-mode-body-color);
  color: var(--dark-mode-text-color);
  border-color: var(--dark-mode-body-color);
}

.second-nav-bar { 
  background-color: var(--dark-mode-body-color);
}

  .notification-popup {
    background-color: var(--dark-mode-background-color);
  }

  .inbox-button:hover {
    background-color: var(--dark-mode-hover-background-color); /* Background color on hover */
    cursor: pointer; /* Pointer cursor on hover */
  }
  .user-button:hover, #search-button:hover {
    background-color: var(--dark-mode-hover-background-color); /* Background color on hover */
    border-color: var(--active-indicator-color);
    cursor: pointer; /* Pointer cursor on hover */
  }

  #menu-icon {
    color: var(--dark-mode-text-color);
  }

  /* Navbar links styling */
  .nav-links, .nav-links li a {
      color: #fff; /* Light text color for links */
  }

  .EasyMDEContainer .CodeMirror.CodeMirror-focused, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #15516e !important;
    box-shadow: 0 0 3px 1px rgba(21, 81, 110, 0.5);
  }

  .nav-text {
    color: #fff;
  }

  .select2-container--default .select2-selection--multiple, .select2-dropdown {
    background: var(--dark-mode-main-color) !important;
    border-color: var(--dark-mode-border-color) !important;
    color: var(--dark-mode-text-color) !important;
  }
  
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--dark-mode-border-color) !important;
    border-color: var(--dark-mode-secondary-text-color) !important;
    color: var(--dark-mode-text-color) !important;
  }

  .select2-container--default .select2-results__option--selected {
    background-color: var(--dark-mode-hover-background-color) !important;
    color: var(--dark-mode-text-color) !important;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: var(--dark-mode-text-color) !important;
    border-color: var(--dark-mode-border-color) !important;
  }

  .search-category-option {
    color: var(--dark-mode-secondary-text-color);
  }

  #login-btn {
    color: white;
  }


  .nav-text:hover {
    color: var(--active-indicator-color);
  }

  .nav-links li a:hover {
      color: #ddd; /* Lighter color on hover */
      text-decoration: none; /* Underline on hover */
  }

  a.inbox-button {
    color: var(--dark-mode-text-color)
  }

  .avatar-dropdown a {
    color: var(--dark-mode-text-color)
  }
  
  .clear-btn .material-symbols-outlined {
    color: var(--dark-mode-secondary-text-color);
  }


  .navbar-button {
    color: #fff; 
}



.menu-content {
  background-color: var(--dark-mode-body-color);
  border-right: 1px solid var(--dark-mode-border-color);
  color: var(--dark-mode-text-color); 
}

.menu-content a {
    color: #fff;
}
.navbar-user-info {
  color: #fff;
}

  .menu-content a:hover {
      background-color: #555; 
  }

  .input-theme {
    background-color: var(--dark-mode-main-color) !important;
    color: var(--dark-mode-text-color);
    border-color: var(--dark-mode-border-color) !important;
  }

  input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #15516e !important;
    box-shadow: 0 0 3px 1px rgba(21, 81, 110, 0.5);
  }

  #login-btn {
    background: black;
  }

  .search-results-container > div, .select2-container--open .select2-dropdown--above {
      background-color: var(--dark-mode-main-color);
      border-color: var(--dark-mode-border-color);
  }

  .search-results-container {
      background-color: var(--dark-mode-background-color); 
  }

  .avatar-online-status {
    border-color: var(--dark-mode-body-color);
  }


  .search-bar input[type="search"] {
      background-color: #555; 
      color: #fff; 
  }

  .search-bar input[type="search"]:focus,
  .search-bar input[type="search"]:hover {
      background-color: #666; 
  }


  .border-background {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }

  @media (max-width: 768px) {
    body {
      padding-top: calc(constant(safe-area-inset-top) + calc(var(--mobile-navbar-height) + var(--mobile-second-navbar-height))) !important; 
      padding-top: calc(env(safe-area-inset-top) + calc(var(--mobile-navbar-height) + var(--mobile-second-navbar-height))) !important;
      background-color: #000 !important;
    }


#second-nav-icon, .second-nav-links .navbar-button, ul.dropdown-menu a {

  color: var(--dark-mode-text-color);
}

.dropdown-menu {
  background-color: var(--dark-mode-body-color);
  color: var(--dark-mode-secondary-text-color);

}

    main {
      background-color: var(--dark-mode-body-color) !important;
      color: var(--dark-mode-text-color);
    }
  }
}

.com-btn-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px ;
}

.mobile-trending-posts {
  box-sizing: border-box;
    padding: 25px 27px;
    padding-top: 10px;
}

.communities-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trending-post-content:hover {
  text-decoration: underline;
  cursor: pointer;
}


#com-btn-container {
  padding: 15px 15px;
  display: flex;
  background-color: var(--light-mode-main-color);
  flex-direction: column;
  overflow-x: hidden;
  scrollbar-width: none;
  overflow-y: auto;
  height: calc(100dvh - 95px);
}


.communities {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.communities:hover {
  cursor: pointer;
}

.trending-post-content, .communities {
  font-size: .9rem;
}

#com-btn-container.column h5 {
  padding-bottom: 14px;
  padding-top: 5px;
}

.create-post-btn {
padding: 4px;
width: 60px;
background: #229954;
border-radius: 6px;
color: white;
cursor: pointer;
transition: all 0.7s ease;
text-decoration: none;
flex: 0 0 auto;
text-align: center;
display: flex;
flex-direction: row;
justify-content: center;
cursor: pointer;
font-size: 14px;
gap: 2px;
}

.user-info {
display: flex;
flex-direction: row;
align-items: center;
gap: 3px;
}

.trending-post-content {
display: flex;
flex-direction: column;
}
.trending-post {
display: flex;
flex-direction: row;
align-items: center;
gap: 8px;
}

.trending-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.trending-posts {
display: flex;
flex-direction: column;
gap: 5px;
}


.avatar-com-container img {
width: 24px;
height: 24px;
border-radius: 50%;
}

#com-btn-container h4 {
  margin: 2px 0px;
  margin-bottom: 4px;
  font-size: 19px;
  font-weight: 400;
}

.trending-post-avatar img 
{
width: 16px;
border-radius: 50%;
height: auto;
}

#com-btn-container::-webkit-scrollbar, #job-btn-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.trending-post-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.trending-post-avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

#com-btn-container {
  margin-left: auto;
  width: 20%;
  max-width: 225px;
  flex: none; /* This will prevent the container from growing */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  -webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  -ms-autohiding-scrollbar: none;
}

#com-btn-container {
  border-right: 1px solid var(--border-color);
}

#com-btn-container a {
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  color: black;
  margin: 4px 0px;
}

.comm-text {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
#com-btn-container .user {
  font-size: 14px;
  font-weight: 700;
  margin: 3px;
}

.create-post-btn {
  padding: 4px;
  width: 60px;
  background: #0C8346;
  border: 1px solid #0E954F;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: all 0.7s ease;
  text-decoration: none;
  flex: 0 0 auto;
  text-align: center;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  gap: 2px;
}

.create-post-btn .material-symbols-outlined {
  font-size: 17px;
  vertical-align: -3px;
}

.caution-messages {
  max-width: 100%;
    border: 1px solid #ffa600;
    color: #ffa600 !important;
    background: #ffa60038 !important;
    padding: .55rem 0.85rem;
    margin: .5rem .75rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border-radius: 7px;
}

.caution-messages a {
  color: #ffa600;
  text-decoration: underline;
}

.error-messages {
  max-width: 100%;
    border: 1px solid #ae4444;
    background-color: #cd3a3a1c;
    color: #ae4444;
    padding: .55rem 0.85rem;
    margin: .5rem .75rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border-radius: 7px;
}

.error-messages a {
  color: #ae4444 !important;
  text-decoration: underline;
}

.success-messages {
  width: 100%;
  background: #1675351f;
  border: 1px solid #4b9263;
  color: #4b9263;
    padding: .55rem 0.85rem;
    margin: .5rem 0;
    box-sizing: border-box;
    border-radius: 7px;
}

.create-post-btn a:hover {
  text-decoration: none;
}

.communities .material-symbols-outlined, .trending-post .material-symbols-outlined {
  font-size: 1rem;
  font-weight: bold;
}

#com-btn-container a:hover {
  color: var(--active-indicator-color);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  #com-btn-container {
    background-color: var(--dark-mode-body-color);
    }
  
    .com-btn, .job-btn {
      background: rgba(0,0,0,0);
      color: var(--btn-text-dark);
  }

#com-btn-container a {
  text-decoration: none;
  color: #ddd;
}

#com-btn-container {
  border-right: 1px solid var(--dark-mode-border-color);

}
  
}
@media (max-width: 768px) {
  div.nav-text-container.hidden {
    opacity: 0;
  }

  .avatar-dropdown {
    opacity: 0;
    visibility: hidden;
    right: 0;
    pointer-events: none;
  }

  #submit-button-normal, #cancel-button-normal, #regular-button-normal, .submit-button-normal, .cancel-button-normal, .regular-button-normal, .special-button-normal, #special-button-normal, .null-button-normal, #null-button-normal, #null-button, .null-button {
    padding: .45rem .85rem;
  }

  .avatar-dropdown.open {
    transform: translateX(-30px);
    transition: transform 0.3s ease, opacity 0.3s ease 0.15s, visibility 0.3s ease 0.15s;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  

  .user-links.slide-left {
    transform: translateX(-60px); 
  }  

  #com-btn-container {
      display: none;
    }

    .trending-post {
      margin-bottom: 10px;
    }

    .trending-post a:hover {
      background-color: #555; /* Lighter background on hover */
  }
}

.communities:hover .community-name .community-text {
  color: var(--tint-color) !important;
}