body{
    margin: 0; /* Remove default margin */
    padding: 100px 0px; /* Remove default padding */
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Set default font family */
  }

  h1, h2, h3, p {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Set default font family */
  
  }
  
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
  .logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
  
  #com-btn-container {
        /* scroll bar and stuff*/
        padding-top: 30px;
        padding-left: 9px;
        display: flex;
        overflow-x: auto;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
  }
  
  .com-btn {
    flex: 0 0 auto;
    margin: 0px 10px;
    cursor: pointer;
  
    /* Add more styling as needed */
  }
  
  
  .navbar {
    background-color: #eee; /* Background color for the navbar */
    color: #000; /* Text color */
    display: flex; /* Display the navbar content side by side */
    justify-content: space-between; /* Align logo and links at opposite ends */
    align-items: center; /* Vertically center logo and links */
    padding: 10px 10px; /* Adjust padding as needed */

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .logo img {
    max-height: 40px; /* Set the maximum height for the logo */
  }
  
  .nav-links {
    list-style: none; /* Remove bullet points from the list */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Display the links side by side */
    gap: 20px; /* Adjust the gap between navigation links */
  }
  
  .nav-links li {
    font-size: 16px; /* Adjust font size for navigation links */
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #000; /* Link text color */
  }
  
  .nav-links li a:hover {
    text-decoration: none; /* Add an underline on hover */
  }
  
  .content {
    padding: 20px; /* Add some padding to separate content from the navbar */
  }
  
  .navbar-button {
    display: flex; /* Display button content side by side */
    justify-content: center; /* Center button content horizontally */ 
    gap: 4px; /* Adjust gap between button icon and text */ 
    line-height: 1.5; /* Adjust line height for button text */
  
    background-color: #eee; /* Background color for the button */
    color: #fff; /* Text color */
    padding: 4px 7px; /* Adjust padding as needed */
    border: none; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.15s, transform 0.15s; /* Smooth transition */
  }
  
  .navbar-button:hover {
    background-color: #ddd; /* Change background color on hover */
    cursor: pointer; /* Change the cursor to a pointer on hover */
  }
  
  /* Style for the second navbar */
  .second-navbar {
    background-color: #eee; /* Background color for the second navbar */
    color: #fff; /* Text color */
    padding: 10px 0; /* Adjust padding as needed */
    border-bottom: #ccc 1px solid; /* Add a border at the bottom */
    position: fixed;
    width: 100%;
    top: 50px; 
    z-index: 1000;
  }
  
  /* Style for the second navbar links */
  .second-nav-links {
    list-style: none; /* Remove bullet points from the list */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove padding */
    display: flex; /* Display the links side by side */
    align-items: center; /* Center the links vertically */
  }
  
  /* Style for the second navbar buttons */
  .navbar-button {
    text-decoration: none; /* Remove underline from links */
    color: #000; /* Link text color */
    display: flex; /* Display button content side by side */
    align-items: center; /* Center button content vertically */
    margin: 0 10px; /* Add spacing between buttons */
  }
  
  /* Style for the second navbar icons */
  .nb-icon {
    width: 18px; /* Set the icon size */
    height: 18px; /* Set the icon size */
    margin-right: 5px; /* Add spacing between icon and text */
  }
  
  #job-btn-container {
  /* scroll bar and stuff*/
  padding-top: 30px;
  padding-left: 8px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
      display: none;
  }
  }
  
  .job-btn {
  flex: 0 0 auto;
  margin: 0px 13px;
  cursor: pointer;
  
  /* Add more styling as needed */
  }
  
  button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  }
  
  .nav-text {
    color: #000; /* Text color */
    text-decoration:none;
   }
  
  .nav-text:hover {
    color: #000; /* Text color */
    /* underline text*/
    text-decoration: underline;
  }
  
  .nav-text-container {
    font-weight: bold;
    padding-top: 3px;
  }