/* Global Style */
body {
  margin: 0; /* Remove default margin */
  padding-top: 102px; /* Add padding */
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Set default font family */
}

@media (max-width: 768px) {
  body {
      padding-top: 60px; /* Reduced padding for mobile */
      overflow-x: hidden;

  }

  
}

/* Common Style for Headers and Paragraphs */
h1, h2, h3, p {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Navbar Styles */
.navbar {
  background-color: #f9f9f9; /* Modern background color */
  color: #000; /* Navbar text color */
  display: flex; /* Display navbar items inline */
  flex-direction: column;
  align-items: start; /* Align items vertically */
  padding: 15px; /* Navbar padding */
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

/* Navbar Links Style */
.nav-links {
  list-style: none; /* Remove list bullets */
  margin: 0;
  display: flex; /* Display links inline */
  position: absolute;
  left: 83px;
  margin-top: 40px;
  flex-direction: row;
  width: 100%;
}

.nav-links li {
  font-size: 14px; /* Font size of navbar links */
}


.nav-links {
  text-decoration: none; /* Remove underline */
  color: #000; /* Link color */
}

.nav-links li a:hover {
  text-decoration: none; /* Underline on hover */
}


/* Navbar Button Style */
.navbar-button {
  display: flex; /* Display button contents inline */
  justify-content: center; /* Center button content */
  gap: 4px; /* Gap between icon and text */
  line-height: 1.5; /* Button text line height */
  background-color: #f9f9f9; /* Modern background color */
  color: #000; /* Button text color */
  padding: 5px 7px; /* Button padding */
  margin-top: 11px; /* Top margin */
  margin-left: 12px;
  font-size: 14px; /* Button font size */
  border: none; /* No border */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.15s, transform 0.15s; /* Transition effects */
}

.navbar-button:hover {
  background-color: #ddd; /* Background color on hover */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Logo Style */
.logo {
  position: absolute; /* Position relative to the navbar */
  left: -40 px; /* Adjust as needed to align with navbar's left edge */
  top: 5px; /* Adjust as needed to align with navbar's top */
}

.logo img {
  max-height: 85px; /* Maximum height of the logo */
  padding: 0 5px; /* Padding around the logo */
  object-fit: cover;
}

.navbar-button.active::after {
  content: "";
  display: block;
  height: 1.75px;
  border-radius: 5px;
  background-color: #0e6655; /* Change color as needed */
  width: 100%;
  position: absolute;
  bottom: -3.75px;
  left: 5px;
}

.nav-links li {
  position: relative;
}

/* Nav Text Styles */
.nav-text, .nav-text:hover {
  color: #000; /* Nav text and hover color */
  text-decoration: none; /* Remove underline */
}

.nav-text:hover {
  text-decoration: underline; /* Underline on hover */
}

.nav-text-container {
  white-space: pre;
  font-weight: bold; /* Bold text */
  position: absolute; /* Top padding */
  left: 95px;
  top: -35px;
  font-size: 24px;
}

/* Mobile Navbar Style */
.mobile-navbar, .search-icon {
  font-size: 10px;
  display: none; /* Hide by default on desktop */
}

#menu-icon {
  display: none;
  padding-left: 10px; /* Left padding */
  color: #000; /* Icon color */
  font-size: 20px; /* Icon size */
}


/* Responsive Design */
@media (max-width: 768px) {

  .navbar {
    padding: 0px;

  }
  #menu-icon {  
    display: block;
  }

  .logo {
    left: 40%;
    transform: translateX(-50%);
  }
  .nav-text-container {
    font-size: 18px;
    position: absolute;
    left: 70px;
    top: -23px;
  }




  .hamburger-menu {
    position: absolute;
    left: 6px; 
    top: 26px; 
  }

  .hamburger-menu:hover {
    background-color: #ddd; 
    cursor: pointer;
    border-radius: 5px;
  }


  .nav-links {
    display: none;
  }

  .logo img {
    position: absolute;
    top: 8px;
    max-height: 45px; /* Maximum height of the logo */
  }
}

/* Hamburger Menu Style */
.hamburger-menu {
  position: relative;
  cursor: pointer;
}

.menu-content {
  display: none; /* Hide by default */
  position: absolute;
  top: 44px;
  background-color: #f9f9f9; /* Background color */
  min-width: 160px; /* Minimum width */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Box shadow */
  z-index: 1; /* Layering index */
  border: 1px solid #ccc;
}

.navbar-user-info {
  text-decoration: none;
  color: #000;
}

.menu-content a {
  color: black; /* Link color */
  padding: 12px 16px; /* Padding */
  text-decoration: none; /* Remove underline */
  display: block; /* Block display */
}

.menu-content a:hover {
  background-color: #f1f1f1; /* Background color on hover */
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.logo img {
  display: flex;
  justify-content: center;
  align-items: center;
}


#nb-icon {
  font-size: 16px;
  padding-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search-bar input[type="search"] {
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 5px;
  padding: 0 30px;
  font-size: 16px;
  transition: all 0.3s ease;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="search"]:focus,
.search-bar input[type="search"]:hover {
  width: 250px;
  outline: none;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
