body,
.container {
    font-family: var(--font-family);
    background-color: var(--light-mode-main-color);
    color: var(--light-mode-text-color);
}

.container {
    flex-direction: row;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#com-btn-container {
    margin: 0;
}

li.notification-item {
    list-style-type: none;
}

.notification-text {}

.notification-text-div {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
}

.notification-selector-btn {
    cursor: pointer;
    background-color: var(--light-mode-body-color);
    border: 1px solid var(--light-mode-body-color);
    border-radius: 10px;
    padding: 8px 16px;
    text-align: left;
    font-weight: bold;
    font-size: .9em;
    color: var(--light-mode-text-color);
}

.notification-selector {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: auto;
    padding: 6px 0px;
}

li.notification-item.read {
    color: var(--light-mode-secondary-text-color);
}

li.notification-item.unread {
    background: #5083ca1a;
    font-weight: bold;
}



.notification-header {
    font-size: 1rem;
    margin: 0 1rem;
    margin-top: 1.2rem;
    display: flex;
    margin-bottom: .7rem;
    align-items: center;
    justify-content: space-between;
}

.notification-text {
    padding-top: 5px;
    padding-bottom: 2px;
    font-size: .825rem;
}

.notification-container-header {
    margin: 0 14px 6px 14px;
    margin-top: 14px;
    margin-bottom: 8px;
}

.notification-item {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--light-mode-main-color);
}

.notification-item:last-child {
    border-bottom: 1px solid var(--border-color);
}

div .notification-type-icon {
    position: absolute;
    font-size: .7rem;
    background: #401ad3;
    border: 1px solid #1d0f54;
    border-radius: 50%;
    padding: 3px;
    bottom: 0;
    right: 0;
    color: white;
}

.notification-avatar-div {
    position: relative;
}


.time-flair {
    font-size: .75rem;
}

.no-notifications {
    width: 100%;
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content: center;
}

.notification-item>div {
    display: flex;
    flex-direction: row;
    gap: .2rem;
    align-items: center;
}

.notification-item:hover {
    background-color: var(--light-mode-hover-color);
}

.notification-is-read-indicator.unread {
    background-color: var(--active-indicator-color);
    border-radius: 50%;
    height: 6px;
    width: 6px;
}

.notification-is-read-indicator.read {
    background: none;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.notification-selector-btn.active {
    background-color: #798494;
    border: 1px solid #414d53;
    color: var(--light-mode-main-color);
}

@media (prefers-color-scheme: dark) {

    body,
    .container {
        background-color: var(--dark-mode-body-color);
        color: var(--dark-mode-text-color);
    }

    .notification-item {
        background-color: var(--dark-mode-body-color);
        border-color: var(--dark-mode-border-color);
        color: var(--dark-mode-text-color);
    }

    .notification-item:hover {
        background-color: var(--dark-mode-hover-color);
    }

    .notification-item:last-child {
        border-bottom: 1px solid var(--dark-mode-border-color);
    }

    .notification-selector-btn {
        background-color: var(--dark-mode-background-color);
        border: 1px solid var(--dark-mode-border-color);
        color: var(--dark-mode-text-color);
    }

    li.notification-item.read {
        color: var(--dark-mode-secondary-text-color);
    }

}

@media (max-width: 768px) {
    main {
        display: block;
        overflow-x: hidden;
    }

    .container {
        overflow-x: hidden;
    }

    #notification-list {
        min-width: 100%;
    }

    .notification-container-header {
        width: 100%;
        padding-left: 20px;
    }

    .notification-selector {
        gap: 15px;
    }
}