body {
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Set default font family */
  background-color: #f4f4f4;
}

#verified, a #verified {
  color: green;
}

a .material-symbols-outlined {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  vertical-align: -3px;
}

img.linkimage {
  width: 200px;
}
.boosts {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.detracts {
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.replies {
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.combined-score {
  display: flex;
  flex-direction: row;
}
.user-interactions {
  display: flex;
  flex-direction: row;
  align-items: space;
  justify-content: start;
  margin-right: 20px;
  gap: 5px; 
  font-weight: bold;

}

div .material-symbols-outlined {
  
  font-size: 20px; 
  vertical-align: -3px; 

}

.user-info:hover {
  color: green;
  text-decoration: none;
}
div .material-symbols-outlined:hover {
  cursor: pointer;
}

.boosts:hover {
  color: green;
}

.detracts:hover {
  color: red;
}


.main-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.post, .comment {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.nested-comment {
  margin-left: 20px;
  border-left: 2px solid #eaeaea;
}

.post-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

div .user-info {
  color: #333;
  text-decoration: none;
}


.user-info {
  font-size: 16px;
  font-weight: bold;
  color: #888;
  margin-bottom: 25px;
}

.post-content, .comment-content {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.comments-section {
  margin-top: 40px;
}

.comments-section h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.comment {
  margin-left: 20px;
}
.user-actions {
  display: flex;
  align-items: space-between;
}

#reply-button {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  vertical-align: 5px;
}


.user-actions a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  vertical-align: 5px;
}

.input-container input, .input-container textarea {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px; /* This makes the input rounded */
  background-color: #f8f9fa;
  font-size: 16px;
}

.input-container textarea {
  resize: none;
}

@media screen and (max-width: 600px) {
  .main-container {
    margin: 20px 10px;
    padding: 10px;
  }

  .post, .comment {
    padding: 10px;
    margin-bottom: 10px;
  }

  .nested-comment {
    margin-left: 10px;
  }

  .post-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .user-info {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .post-content, .comment-content {
    font-size: 14px;
  }

  .comments-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .input-container input, .input-container textarea {
    width: 100%; /* Adjust input width */
    padding: 10px 15px;
    margin: 8px 0;
  }

  .user-interactions, .boosts, .detracts, .replies {
    flex-direction: row;
    align-items: flex-start;
    margin-right: 0;
  }

  .user-actions a {
    font-size: 12px;
  }

  /* Reduce the font size of material symbols on smaller screens */
  .material-symbols-outlined {
    font-size: 18px;
  }
}

.link-preview {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
}

.preview-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.preview-text {
  margin-left: 20px;
}

.preview-title {
  font-size: 14px;
  font-weight: bold;
}

.preview-description {
  font-size: 12px;
}
