.post-body :is(h1, h2, h3, h4, h5, h6) {
  padding: 0 3.5dvw;
}

.project-link :is(h1, h2, h3, h4, h5, h6) {
  font-size: 1rem;
  padding: 0;
}

.post-body :is(h1, h2, h3):first-of-type {
  font-size: 1.3rem;
  color: var(--light-mode-secondary-text-color);
}

.post-body h1 {
  font-size: 2rem;
  /* Adjust size as needed */
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
  font-weight: bold;
}

.alt-text {
  font-size: .85rem;
  font-family: 'Inter', sans-serif;
  color: var(--light-mode-secondary-text-color);
}

.post-body li {
  margin: 0.35rem 0.5rem;
}

.post-body h2 {
  font-size: 1.5rem;
  /* Adjust size as needed */
  margin-top: 0.83rem;
  margin-bottom: 0.83rem;
  font-weight: bold;
}

.link-info-description {
  font-size: .85rem;
  margin-top: 0.17rem;
  margin-bottom: 0.17rem;
}

.link-info-url {
  color: var(--active-indicator-color);
  font-size: .75rem;
  margin-top: 0.17rem;
}

.post-body>h3 {
  font-size: 1.10rem;
  margin-bottom: .6rem;
  font-weight: 600;
}

.post-body>h4 {
  font-size: 1.10rem;
  margin-bottom: .9rem;
  font-weight: 600;
}

.post-body>h5 {
  font-size: 1.25rem;
  margin-bottom: .9rem;
  font-weight: 700;
}

.post-body>h6 {
  font-size: 0.67rem;
  margin-top: 0.8rem;
  margin-bottom: .9rem;
  font-weight: bold;
}

.post-body>p {
  margin-top: 0;
  letter-spacing: normal;
  margin-bottom: .9rem;
  padding: 0 3.5dvw;
}


.post-body a {
  color: var(--active-indicator-color);
  text-decoration: underline;
}

.comment-header a,
#blog-username {
  color: var(--light-mode-text-color);
  font-weight: 500;
}

.post-body a:visited {
  color: var(--light-mode-text-color);
}

.tag p {
  line-height: normal !important;
  color: #85a5e6;
}

.post-body ul,
.post-body ol {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.post-body blockquote {
  padding: 10px 20px;
  margin: 0 0 3.5dvw;
  border-left: 5px solid #eeeeee;
  /* Adjust color as needed */
  background-color: #f5f5f5;
  /* Adjust color as needed */
  font-style: italic;
}

.post-body code {
  font-family: monospace;
  background-color: #fafafa;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.8rem;

}

.accepted-badge {
  background-color: #ffffff52;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  bottom: -11px;
  right: 14px;
  font-size: 0.8em;
}

.post-body pre {
  background-color: #fafafa;
  padding: .8rem 1.1rem;
  overflow: auto;
  margin-bottom: 1.1rem;
  border-radius: 0;
  line-height: 1.4rem;
  letter-spacing: 0.01rem;
}

.post-body img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  border: 0;
  max-width: 30dvw;
  max-height: 500px;
  border-radius: 0;
  object-fit: cover;
}

.post-body .link-image img {
  max-width: 100%;
}

.post-body .image-container {
  padding: 20px 10px;
  white-space-collapse: collapse;
}

.post-body> :first-child {
  margin-top: 0;
}

@media (max-width: 768px) {
  .post-body .link-image img {
    object-fit: cover;
  }

  .post-body img {
    max-height: 100dvh;
    max-width: 100dvw;
  }

}



@media (prefers-color-scheme: dark) {
  .post-body pre {
    background-color: var(--dark-mode-main-color);
  }

  .post-body p {
    color: var(--dark-mode-text-color);
  }

  .alt-text {
    color: var(--dark-mode-secondary-text-color);
  }

  .post-body :is(h1, h2, h3):first-of-type {
    color: var(--dark-mode-secondary-text-color);
    font-weight: 600;
  }

  .post-body li {
    color: var(--dark-mode-text-color);
  }

  .comment-header a,
  #blog-username,
  .main-container a {
    color: var(--dark-mode-text-color);
  }

  .project-link,
  .post-body h3,
  .solution {
    color: var(--dark-mode-text-color);
  }

  .post-body code {
    color: var(--dark-mode-text-color);
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-main-color);
  }

  .post-body a:visited {
    color: var(--dark-mode-text-color);
  }
}