body {
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Set default font family */
  background-color: #f4f4f4;
}

a .material-symbols-outlined {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  vertical-align: -3px;
}
.boosts {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.detracts {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.replies {
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.user-interactions {
  display: flex;
  flex-direction: row;
  align-items: space;
  justify-content: start;
  margin-right: 20px;
  gap: 5px; 
  font-weight: bold;

}

div .material-symbols-outlined {
  
  font-size: 20px; 
  vertical-align: -3px; 

}

.user-info:hover {
  color: green;
  text-decoration: none;
}
div .material-symbols-outlined:hover {
  cursor: pointer;
}

.boosts:hover {
  color: green;
}

.detracts:hover {
  color: red;
}


.main-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.post, .comment {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.nested-comment {
  margin-left: 20px;
  border-left: 2px solid #eaeaea;
}

.post-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

div .user-info {
  color: #333;
  text-decoration: none;
}

.user-info {
  font-size: 16px;
  font-weight: bold;
  color: #888;
  margin-bottom: 25px;
}

.post-content, .comment-content {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.comments-section {
  margin-top: 40px;
}

.comments-section h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.comment {
  margin-left: 20px;
}
.user-actions {
  display: flex;
  align-items: space-between;
}

#reply-button {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  vertical-align: 5px;
}


.user-actions a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  vertical-align: 5px;
}

.input-container input, .input-container textarea {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px; /* This makes the input rounded */
  background-color: #f8f9fa;
  font-size: 16px;
}

.input-container textarea {
  resize: none;
}