@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-width: 100vw;
}

.main-container {
  max-height: calc(100dvh - var(--navbar-height));
  overflow: hidden;
}

.EasyMDEContainer .CodeMirror-scroll {
  min-height: 120px !important;
}

.editor-statusbar {
  display: none !important;
}

.editor-toolbar {
  background-color: var(--light-mode-body-color) !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 12px !important;
  margin: 0 12px;
  margin-bottom: 10px;
  display: none;

}

.button-container {
  padding: 7px 12px;
  padding-bottom: 3px;
  background-color: var(--light-mode-main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.button-container button {
  padding: 6px 13px;
  border-radius: 6px;
  border: 0;
  background-color: var(--border-color);
}

.button-container button:hover {
  cursor: pointer;
}


.comment-form {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--light-mode-text-color);
  display: flex;
  justify-content: center;
}

#verified,
a #verified {
  color: green;
  font-size: 14px;
}

img.linkimage {
  width: 200px;
}

.boosts {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.detracts {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

pre {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid var(--border-color);
  background: var(--light-mode-main-color);
  font: 13px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
  padding: 8px;
  margin-bottom: 7px;
  margin-top: 7px;
}

code {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 1px solid var(--border-color);
  padding: 2px;
  font: 13px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
}

pre code {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border: 0px;
  padding: 2px;
  font: 13px Monaco, Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
}


.header-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.replies {
  display: flex;
  margin-left: 5px;
  flex-direction: row;
}


.combined-score {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.top-reactions {
  display: flex;
  flex-direction: row;
  gap: -2px;
}

.sidebar-body {
  display: flex;
  flex-direction: row;
}

.user-interactions {
  margin: 0px;
  margin-bottom: .8rem;
  margin-top: 1.1rem;
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
}


.timestamp {
  font-size: 12px;
}

div .material-symbols-outlined {
  font-size: 16px;
  vertical-align: -2px;
  pointer-events: none;

}


.user-info:hover {
  color: green;
  text-decoration: none;
}

div .material-symbols-outlined:hover {
  cursor: pointer;
}

.boosts:hover {
  color: green;
}

.detracts:hover {
  color: red;
}


.main-container {
  background-color: var(--background-color);
  overflow-y: scroll;
  border-right: 1px solid var(--border-color);
  width: 53%;
  max-width: 1000px;
}

#com-btn-container {
  margin-right: 0;
}


.sidebar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 19px;
  padding: 0px;
  box-sizing: border-box;
}

a.comment-url {
  text-decoration: none;
  color: blue;
}

a.comment-url:hover {
  color: blue;
  text-decoration: underline;
}

a.comment-url:visited {
  color: darkblue;
}

.post {
  margin-bottom: 5px;
}

.input-container textarea,
.comment-container textarea {
  flex-grow: 1;
  padding: 10px 20px;
  border-radius: 6px;
  border: 0;
  background-color: transparent;
  color: var(--input-text-color);
  overflow: hidden;
  font-family: inherit;
  line-height: normal;
}


/* Style for the send button */
.input-container button.fab,
.comment-container button.fab {
  background-color: var(--profile-background-color);
  color: var(--text-color);
  padding: 7px 13px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  transition: background-color 0.15s;
}

.link-preview {
  background-color: none;
  border-radius: 18px;
  margin: 0;
  margin-top: 10px;
}

.similar-posts .link-preview {
  margin-top: 0;
  padding-top: 0;
}


.nested-comment .comment {
  box-sizing: border-box;
  padding-left: 10px;
}

.nested-comments-container {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.nested-comment {
  width: 100%;
  box-sizing: border-box;
}

.comment-container {
  padding: 12px;
}

.comment-container textarea {
  box-sizing: border-box;
}




.post-title {
  font-size: 25px;
  color: var(--light-mode-text-color);
  margin-top: 0px;
}

div .user-info,
.header {
  font-size: 17px;
  color: var(--light-mode-text-color);
  text-decoration: none;
}


.post-userinfo {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: .85rem;
}

.post-user-info {
  display: flex;
  gap: .2rem;
  flex-direction: column;
}

img.blog-avatar {
  border-radius: 6px;
  height: 36px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  padding: 0 !important;
  margin: 0 !important;
}

.blog-post-info {
  display: flex;
  align-items: center;
}

.post-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

div.interact-buttons {
  display: flex;
  padding: 0 13px;
  gap: .6rem;
  box-sizing: border-box;
  margin-bottom: 1.3rem;
}

.admin-tag {
  font-size: .725rem !important;
  font-weight: 500;
  color: #b40000;
  background: #b4000030;
}

.reaction-button,
.main-reaction-button,
.boost-button,
#delete-post-button,
#delete-comment-button {
  background-color: var(--light-mode-body-color);
  border: 1px solid var(--border-color);
  color: var(--light-mode-text-color);
  border-radius: 6px;
  height: 32px;
  padding: 0;
  display: flex;
  width: 32px;
  font-size: .8rem;
  font-weight: 400;
  text-decoration: none;
  white-space-collapse: collapse;
  align-items: center;
  justify-content: center;
}

.reaction-button>p {
  margin-bottom: 0 !important;
  font-size: .8rem;
}

.reaction-button:hover,
.main-reaction-button:hover,
.boost-button:hover,
#delete-post-button:hover,
#delete-comment-button:hover {
  background-color: var(--light-mode-button-hover-color);
  cursor: pointer;
}

.replies .reaction-button {
  background: 0;
  border: 0;
  font-size: 1rem;
}

.dicussion-link {
  border: 1px solid var(--border-color);
  background-color: var(--light-mode-main-color);
  border-radius: 14px;
  margin: 17px 0 !important;
  white-space-collapse: collapse;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reaction-popup {
  position: absolute;
  display: flex;
  bottom: 52px;
  left: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  transition: opacity 0.3s ease;
  background-color: var(--light-mode-main-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  pointer-events: none;
  z-index: 999;
}

.solution-username .secondary-text {
  margin-left: auto;
}

.solution {
  margin-bottom: 1.8rem;
  display: flex;
  gap: .9rem;
  flex-direction: column;
  white-space-collapse: collapse;
  background-color: #e2efe2;
  border: 1px solid #84ab73;
  border-radius: 10px;
  padding: .8rem 1.1rem;
}

.solution-header {
  line-height: 1;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  gap: 7px;
}

.solution-username a {
  text-decoration: none !important;
  color: var(--light-mode-text-color) !important;
  font-weight: 500 !important;
}

.solution-avatar {
  height: min-content
}

.solution-body {
  line-height: 1.4rem;
  letter-spacing: .015rem;
}

.solution-avatar img {
  border-radius: 6px !important;
  max-height: 28px !important;
  object-fit: cover;
  overflow: hidden;
  aspect-ratio: 1/1;
  padding: 0 !important;
  margin: 0 !important;
}



.solution-username {
  white-space-collapse: collapse;
}

.reaction-popup {
  display: flex;
  position: absolute;
  bottom: 53px;
  opacity: 1;
  flex-direction: row;
  width: max-content;
}


.reaction-popup button {
  pointer-events: auto;
  font-size: 1rem;
  color: var(--light-mode-text-color);
  padding: 10px;
  border: 0;
  margin: 4px;
  background: 0;
  border-radius: 14px;
  transition: transform .5s ease;
}

.reaction-popup button:hover {
  transform: scale(1.2);
  background: var(--light-mode-hover-color);
}


#delete-post-button {
  padding: 5px 9px;
}

.reaction-interactions .material-symbols-outlined {
  font-size: 14px;
  vertical-align: -2px;
}

.header {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 13px;
  margin-top: 0;
  margin-bottom: .7rem;
}

.link-image,
.sidebar-poster-avatar {
  box-sizing: border-box;
  /* Keeps padding and border sizes inside the box's total width and height */
  display: inline-block;
  vertical-align: top;
  /* Helps remove unwanted space below the image */
  line-height: 0;
  /* Removes space caused by line height */
}

.link-image {
  max-width: 300px;
}

.large-preview-image {
  border-radius: 18px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0 !important;
  height: auto;
  display: block;
}

.link-info {
  display: flex;
  margin: 18px;
  gap: 5px;
  margin-bottom: 10px;
  margin-top: 12px;
  flex-direction: column;
  justify-content: center;
}


.github-repo-description {
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}


.tags {
  display: inline-block;
  width: 100%;
  justify-content: flex-start;
}

.github-repo-description p {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

.github-repo-title {
  display: flex;
  flex-direction: row;
}

.communities_id {
  display: inline-block;
  background-color: darkgreen;
  color: white;
  padding: 2px 7px;
  border-radius: 5px;
  font-size: 12px;
}

.post-info {
  padding: 8px 13px;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sort-selector {
  display: inline-flex;
  border-radius: 6px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}


.sort-selector button,
.post-counts {
  font-size: 14px;
}

.sidebar-link-info {
  padding: 6px 8px;
}

.sort-option {
  background-color: var(--light-mode-button-color);
  border: none;
  padding: 7px 13px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-option.active {
  background-color: var(--light-mode-button-hover-color);
  /* Active tab color */
}

.sort-option:focus {
  outline: none;
}

.sort-option:not(:last-child) {
  border-right: 1px solid var(--border-color);
}

.post-content,
.trending-posts .post-content {
  display: flex;
  flex-direction: column;
  background-color: var(--light-mode-main-color);
  margin-top: 0;
  position: relative;
  box-sizing: border-box;
}

.similar-posts .post-content {
  background: none !important;
}

.trending-posts .post-content {
  background-color: var(--light-mode-main-color);
}

.post-body {
  display: flex;
  flex-direction: column;
}

.post-interactions-header {
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropbtn {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  padding: 0;
  margin: 0;
  color: var(--primary-text-color);
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 12px;
  margin-bottom: 2px;
}

.comment-avatar {
  margin-right: 13px;
  margin-top: 0px;
  margin-bottom: auto;
}

.comment .comment {
  margin-left: 10px;
}

.comment-header {
  padding: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.comment-with-replies>.comment>.comment-main>.comment-header {
  width: 100%;

}

div.repliers-avatar,
div.repliees-avatar {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.total-reactions-count {
  font-family: 'Roboto', sans-serif !important;
  font-size: .975rem;
  color: var(--light-mode-secondary-text-color);
}

.add-comment-button {
  color: var(--light-mode-text-color);
  font-size: .875rem;
}

.add-comment-button {
  padding: 4px 8px;
  border-radius: 6px;
}

.add-comment-button:hover,
#reply-button:hover {
  background-color: var(--light-mode-hover-color);
  cursor: pointer;
}

.nested-comment>.comment {
  margin-left: 18px;
  border-left: 2px solid var(--active-indicator-color);
  box-sizing: border-box;
}

.nested-comment>.nested-comment {
  padding-left: 26px;
  box-sizing: border-box;
}

.comment-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3px;
  padding: 0;
  box-sizing: border-box;
}

.post-user-info {
  font-size: 15px;
  color: var(--light-mode-text-color);
}

.reaction-popup button.active {
  background-color: #b8e9ff4a;
  color: #3073c1;
  border: 1px solid #afd4ff;
}

.reaction-icon {
  font-size: .95rem;
}

.post-user-info-header {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: .4rem;
  width: 100%;
}

.tags-div {
  margin: 6px 0;
}

.comment .avatar,
.post-user-info-header .avatar {
  border-radius: 6px;
  border: 1px solid var(--border-color);
  height: 40px;
  cursor: pointer;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
}

.title {
  width: 100%;
}

.post-content {
  padding: 0px 14px;
  font-size: 14px;
  color: var(--light-mode-text-color);
}

.similar-posts .post-content {
  padding: 12px 14px;
  padding-top: 10px;
}

.comment-header a {
  text-decoration: none;
}

.comments-section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}


.similar-posts .post-content:hover {
  background-color: var(--light-mode-hover-color);
  cursor: pointer;
}

.comments-section h3 {
  font-size: 1rem;
  color: var(--light-mode-text-color);
  margin-bottom: 0px;
}

.user-actions {
  display: flex;
  margin-top: 3px;
  align-items: center;
  padding: 16px 13px;
  padding-top: 0;
  padding-right: 9px;
  justify-content: flex-start;
}

.thumbnail-image {
  width: 75px;
  height: 75px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  border-radius: 18px;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--border-color);
  object-fit: cover;
  margin: 8px 0;
  margin-left: 8px;
}

.link-preview {
  display: flex;
  flex-direction: row;
  margin: 0px;
  gap: 18px;
  align-items: center;
}

.similar-posts {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  padding: 0 13px;
}

.similar-posts .post a {
  text-decoration: none;
  color: var(--light-mode-text-color);
}

.similar-posts .post {
  border: 1px solid var(--border-color);
  border-radius: 16px;
  background: var(--light-mode-main-color);
  box-sizing: border-box;
}

.similar-posts .post:hover {
  background: var(--light-mode-hover-color);
}

.similar-posts .post-content {
  background: 0;
}

.similar-posts .post-content:hover {
  background: 0;
}

#reply-button {
  text-decoration: none;
  color: var(--light-mode-secondary-text-color);
  vertical-align: 5px;
  border-radius: 6px;
}


.comment-header {
  font-size: 14px !important;
  color: var(--light-mode-text-color) !important;
}


a.comment-user-info:hover {
  text-decoration: underline;
}

.comment-user-interactions {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.dropbtn .material-symbols-outlined {
  font-size: 20px;
}

.user-actions a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.comment-timestamp {
  font-size: .8rem;
}


.main-container textarea#comment {
  font-size: 16px;
  border-radius: 5px;
  margin: 5px 0px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  resize: none;
  /* Disable manual resizing */
  overflow: hidden;
  /* Hide the scrollbar */
}

.replies-count:hover {
  cursor: pointer;
}

.replies-count {
  font-size: 14px;
}

.comment-body {
  font-size: 16px;
  padding: 0;
}


.comment-avatar img {
  float: inline-start;
  object-fit: cover;
  overflow: hidden;
}


.main-container textarea#comment {
  height: calc(2 * 1.5em);
}

.mini-link-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.mini-link-favicon {
  width: min-content;
  border-radius: 100%;
  min-height: min-content;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-sizing: border-box;
}

.mini-link-url a {
  text-decoration: none;
}

.mini-link-body {
  color: var(--light-mode-text-color);
  margin: 12px;
  font-weight: 450;
}

.mini-link-url a {
  color: inherit;
}

div .mini-link-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: .825rem;
}

div.link {
  border-radius: 18px;
  margin: 0px 0px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  background: var(--light-mode-body-color);
  margin: 10px 0;
}

div .mini-link {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  font-size: 14px;
  overflow: hidden;
  align-items: center;
}



.mini-link-body-header {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.mini-link-url a {
  font-size: .75rem;
}

.mini-link-favicon img {
  width: 16px;
  height: 16px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 100%;
  margin: 0;
  padding: 0;
}

.mini-link-url a {
  text-decoration: none;
  color: var(--light-mode-secondary-text-color);
}

.sidebar-body a {
  max-width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border: 0;
  right: 0;
  border-radius: 16px;
  width: 140px;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  flex-direction: column;
  gap: .8rem;
  padding: 10px 6px;
  background-color: var(--light-mode-main-color);
  border: 1px solid var(--border-color);
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.dropdown-item button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dropdown-item button .material-symbols-outlined {
  margin-right: auto;
}

.dropdown-content button {
  border: 0;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: .875rem;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.comment-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 11px;
}

.dropdown-content .material-symbols-outlined {
  font-size: 20px !important;
  font-weight: 300;
}

.preview-image,
.sidebar-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.sidebar-description {
  display: flex;
  flex-direction: column;
}

.main-container a {
  text-decoration: none;
  color: var(--light-mode-bold-text-color);
  font-weight: bold;
}

.post-content a {
  font-weight: bold;
  text-decoration: none;
}

.link-info-url {
  color: var(--light-mode-secondary-text-color);
}

.link-info-title h3 {
  margin: 0 !important;
}

.preview-text {
  text-decoration: none;
  margin-left: 5px;
}

.post-body .preview-title {
  margin-bottom: 0px;
}

.preview-title {
  font-size: 14px;
  font-weight: bold;
}

.post-body {
  font-size: .955rem;
}

.no-comments {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.post-body p,
.comment-body p {
  line-height: 1.4rem;
  letter-spacing: .015rem;
}

.post-body p,
.comment-body p {
  font-size: .875rem;
}

.preview-description {
  font-size: 12px;
}

.preview-link {
  font-size: 12px;
  color: #0e6655;
  text-decoration: underline;
}


h4.preview-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.EasyMDEContainer .CodeMirror {
  background-color: var(--light-mode-body-color) !important;
  border-color: var(--border-color) !important;
  margin: 0 12px;
  border: 1px solid var(--border-color) !important;
  border-radius: 12px !important;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EasyMDEContainer .CodeMirror,
.EasyMDEContainer .CodeMirror-scroll {
  min-height: 60px !important;
  font-size: 16px;
}


p.preview-description {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.link {
  font-size: .775rem;
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .8rem;
}

.link-preview {
  background: none;
}

.post-header-username {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  object-fit: cover;
  overflow: hidden;
}

.description,
.mini-link-description p,
.mini-link-title p {
  font-size: .85rem;
  color: var(--light-mode-text-color);
  font-weight: normal;
  line-height: 1.25rem;
  overflow: hidden;
  display: -webkit-box;
  letter-spacing: .01rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.mini-link-description p,
.mini-link-title p {
  line-height: 1.15rem;
}



.post-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: flex-start;
  border-radius: 6px;
  width: 100%;
  justify-content: space-between;
}

.input-container,
.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  box-sizing: border-box;
  background: var(--light-mode-body-color);
  border: 1px solid var(--border-color);
  margin: 0 13px;
}

.input-container textarea {
  background-color: var(--light-mode-body-color);
}

.input-container textarea:focus,
.comment-container textarea:focus {
  border: 0;
  box-shadow: 0;
  outline: none;
}

.reaction-button.active {
  background-color: #b8e9ff4a;
  color: #3073c1;
  border: 1px solid #afd4ff;
}


.see-more {
  text-align: center;
  padding: .5rem;
}

.discussion-link {
  display: flex;
  background: var(--light-mode-body-color);
  border-radius: 18px;
  flex-direction: row;
  align-items: center;
  margin-bottom: .4rem;
}

.nested-comments {
  padding-left: 13px;
  border-left: 1px solid #A10100;
}

.level-2 {
  border-color: #DA1F05;
}

.level-3 {
  border-color: #F33C04;
}

.level-4 {
  border-color: #FE650D;
}

.level-5 {
  border-color: #FFC11F;
}

.level-6 {
  border-color: #FFF75D;
}

.post-title {
  margin-bottom: 0;
}

.project-link {
  background-color: var(--light-mode-main-color);
  border: 1px solid var(--border-color);
  border-radius: 18px;
  padding: 16px 21px;
}

.project-link-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-link-header a {
  font-size: 0.775rem;
  text-decoration: none !important;
  color: var(--active-indicator-color) !important;
}

.post-content>.title {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: .15rem;
  color: var(--light-mode-text-color);
}

.project-link-image img {
  width: 80px;
  height: 80px;
  border-radius: 18px !important;
  margin-right: 10px;
}

.post-subtitle {
  padding: 0;
  font-size: .85rem;
  color: var(--light-mode-secondary-text-color);
}

.project-link-image {
  height: 80px;
  float: left;
  padding: 8px;
  padding-right: 20px;
}

.nested-comment>.comment {
  margin-bottom: 6px;
}

.post-user-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

}

#community-header-text {
  font-weight: bold;
}

.tag-flair {
  display: inline-flex;
  gap: 5px;
  padding: 2px 7px;
  margin: 2px 4px 0px 0px;
  margin-bottom: 3px;
  background-color: #be5ab736;
  color: #be5aa6;
  border-radius: 7px;
  font-size: .925rem;
  position: relative;
}

.post-subtitle-text {
  color: #555658;
  font-size: .95rem;
  margin-bottom: 1.2rem;
}

div.post-information {
  padding: 0 .8rem;
  padding-bottom: .45rem;
}

.blog-tags-div {
  margin-bottom: .4rem;
  padding: 0 13px;
}

#github-flair {
  background-color: #0A8754;
  border-color: #0B9860;
}

.tag-flair a {
  color: white;
  text-decoration: none;
}

.github-repo-info .tags .tag-flair {
  background: #0C8346;
  border: 1px solid #0E954F;
}


.reply-buttons {
  width: 100%;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 14px;
  justify-content: space-between;
}

.reply-form .input-container {
  padding: 6px 12px;
}

.reply-form {
  width: 100%;
}

@media (prefers-color-scheme: dark) {

  body,
  .main-container {
    background-color: var(--dark-mode-body-color);
    /* Dark background for body */
    color: var(--dark-mode-text-color);
    /* Light text color for better readability */
  }

  .post-content {
    background-color: var(--dark-mode-main-color);
  }

  .reply-form {
    background-color: var(--dark-mode-body-color);
  }

  .post-body p,
  .reaction-popup button {
    color: var(--dark-mode-text-color);
    /* Light text color for better readability */
  }

  .dropdown-content {
    background-color: var(--dark-mode-main-color);
    color: var(--dark-mode-text-color);
    border-color: var(--dark-mode-border-color);
  }

  .sort-option:not(:last-child) {
    border-color: var(--dark-mode-border-color);
  }

  .input-container textarea,
  .comment-container textarea {
    background-color: transparent;
    color: var(--dark-mode-text-color);
  }

  .sort-option {
    background-color: var(--dark-mode-main-color);
    color: var(--dark-mode-text-color);
  }

  .sort-option.active {
    background-color: var(--dark-mode-border-color);
    /* Active tab color */
  }

  .reaction-button,
  .main-reaction-button {
    background-color: var(--dark-mode-main-color);
    border: 1px solid var(--dark-mode-border-color);
    color: var(--dark-mode-text-color);
  }

  .post-subtitle {
    color: var(--dark-mode-secondary-text-color);
  }

  .dropbtn,
  .main-container a {
    color: var(--dark-mode-text-color)
  }

  .solution {
    background-color: #021008;
    border: 1px solid #1d362a;
  }

  .comments-section h3,
  .post-user-info,
  .mini-link-body {
    color: var(--dark-mode-text-color);
  }

  .post-content {
    background-color: var(--dark-mode-body-color);
  }

  .sidebar,
  .button-container {
    background-color: var(--dark-mode-body-color);
  }

  div.link {
    background-color: var(--dark-mode-main-color);
    color: var(--dark-mode-text-color);
  }

  .similar-posts .post {
    background-color: var(--dark-mode-body-color);
    border-color: var(--dark-mode-border-color);
  }

  .similar-posts .post-content:hover {
    background-color: var(--dark-mode-hover-background-color);
  }

  .job:hover {
    background-color: var(--dark-mode-hover-color);
  }

  .link-preview,
  .username,
  .post-content {
    color: var(--dark-mode-text-color);
  }


  .add-comment-button:hover,
  #reply-button:hover {
    background-color: var(--dark-mode-hover-color);
  }

  .mini-link-body>*>p {
    color: var(--dark-mode-text-color);
  }


  .post-body p {
    color: #b1b1b1;
  }

  .nested-comment.level-1>.comment:first-child {
    background-color: var(--dark-mode-body-color);
  }

  .reaction-popup {
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-border-color);
  }

  .post-subtitle-text {
    color: #ededed;
  }

  .reaction-popup button:hover {
    background: var(--dark-mode-button-hover-color);
  }

  .dropdown-content button {
    color: var(--dark-mode-text-color);
  }

  .solution-username a {
    color: var(--dark-mode-text-color) !important;
  }

  .reaction-button:hover,
  .main-reaction-button:hover,
  .boost-button:hover,
  #delete-post-button:hover,
  #delete-comment-button:hover {
    background-color: var(--dark-mode-hover-color) !important;
  }

  pre {
    background-color: var(--dark-mode-body-color);
    /* Dark background for code blocks */
    border-color: var(--dark-mode-border-color);
    /* Dark border color for code blocks */
  }

  .input-container,
  .comment-container {
    border-color: var(--dark-mode-border-color);
  }

  .dicussion-link {
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-border-color);
    color: var(--dark-mode-text-color);
  }

  .comment .avatar,
  .post-user-info-header .avatar {
    border: 1px solid var(--dark-mode-border-color);
  }

  .editor-toolbar {
    background-color: var(--dark-mode-main-color) !important;
    border-color: var(--dark-mode-border-color) !important;
  }

  .post-content>.title {
    color: var(--dark-mode-text-color);
  }

  .similar-posts .post-content {
    background: none !important;
  }


  .description {
    color: var(--dark-mode-text-color);
  }

  .discussion-link {
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-border-color);
  }

  .EasyMDEContainer .CodeMirror {
    background-color: var(--dark-mode-main-color) !important;
    border-color: var(--dark-mode-border-color) !important;
    color: var(--dark-mode-text-color) !important;
  }

  .editor-toolbar button {
    color: var(--dark-mode-text-color) !important;
  }

  .project-link {
    background-color: var(--dark-mode-body-color);
    border-color: var(--dark-mode-border-color);
  }

  .reply-form .input-container {
    background-color: var(--dark-mode-main-color);
    border-color: var(--dark-mode-border-color);
  }

  .editor-toolbar i.separator {
    border-color: var(--dark-mode-border-color) !important;
  }

  .project-link-header a {
    color: var(--dark-mode-secondary-text-color) !important;
  }

  .reaction-button.active {
    background-color: #1c2830;
    color: #3073c1;
    border: 1px solid #224368;
  }


  .comment-header {
    color: var(--dark-mode-text-color) !important;
  }

  .post-title {
    color: var(--dark-mode-text-color);
  }

  .similar-posts .post:hover {
    background: var(--dark-mode-hover-color);
  }

  #reply-button,
  .three-dots {
    color: var(--dark-mode-secondary-text-color);
  }

  .votes {
    color: var(--dark-mode-secondary-text-color)
  }

  .button-container button {
    color: var(--dark-mode-text-color);
    background-color: var(--dark-mode-border-color);
  }

  .main-container textarea#comment {
    background-color: var(--dark-mode-body-color);
    /* Dark background for code blocks */
    border-color: var(--dark-mode-border-color);
  }

  .reaction-button,
  #delete-post-button,
  #delete-comment-button {
    border-color: var(--dark-mode-border-color);
  }

  .total-reactions-count,
  #reply-button .reaction-button {
    color: var(--dark-mode-secondary-text-color);
  }

  .add-comment-button {
    color: var(--dark-mode-text-color);
  }

  .main-container {
    border-color: var(--dark-mode-border-color);
  }

  div .user-info,
  .header {
    color: var(--dark-mode-text-color);
    /* Lighter text color for user info and headers */
  }



  .sidebar,
  .thumbnail-image {
    border-color: var(--dark-mode-border-color);
  }

  .input-container,
  .comment-container,
  .comment-container textarea {
    border: 0;
    color: var(--dark-mode-text-color);
  }

}

/* Style for the comment input field */
.sidebar-poster-job,
.sidebar-poster-name,
.sidebar-link-info-title,
.sidebar-link-info-url {
  margin: 3px;
  max-width: 100%;
  font-size: 14px;
}

.sidebar-poster-name a {
  color: var(--active-indicator-color);
  font-weight: bold;
}


.blog-username {
  text-decoration: none;
  font-weight: bold;
  font-size: .9rem;
}

#submit-button {
  flex: 0;
  margin: 0;
}

.post-title-container>div {
  width: 90%;
}

.post-title-container>div.dropdown {
  width: 5%;
}

.post-subinfo {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  width: 100%;
}

.post-subinfo>span {
  margin-right: 6px;
}

/* Style for the send button on hover */
.input-container button.fab:hover {
  background-color: var(--border-color);
}


.reaction-choice {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
}

div.username {
  font-size: .9rem;
}

.post-date,
.post-date a {
  font-size: .7rem;
}


@media screen and (max-width: 600px) {

  .user-interactions {
    gap: 10px;
  }

  .similar-posts-header {
    padding-top: 1.2rem;
    font-size: .95rem;
  }

  .sidebar-link-info-title,
  .sidebar-link-info-url {
    max-width: 100%;
    box-sizing: border-box;
  }

  .post-content {
    margin-bottom: 2px;
  }

  .sidebar-container {
    margin-top: 0px;
    padding-top: 2px;
  }

  .dropdown-content {
    right: 0;
  }

  .sidebar-container {
    padding: 0;
  }

  .post {
    padding: 0;

  }

  .large-preview-image {
    border-radius: 18px;
    margin: 0 !important;
    width: 100%;
    height: auto;
    display: block;
  }

  .dropdown-content {
    right: 0;
  }

  .post-subtitle {
    font-size: 1.05rem;
  }

  .post-body p,
  .comment-body p {
    font-size: .95rem;
  }

  .description {
    font-size: .95rem;
  }

  .tag p {
    line-height: normal !important;
    color: #85a5e6;
  }

  .post-userinfo {
    font-size: .925rem;
  }

  .job {
    padding: 12px 14px;
  }

  .sidebar-poster-avatar {
    width: 60px;
    height: 60px;
  }

  .sidebar-link-image {
    height: 160px;
    aspect-ratio: 1 / 1;
  }

  .preview-image,
  .sidebar-avatar {
    aspect-ratio: 1/1;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  .blog-username {
    font-size: 1rem;
  }

  img.blog-avatar {
    height: 40px !important;
    margin-right: .8rem !important;
  }

  .preview-image {
    width: auto;
    height: 100%;
  }

  #github-link-preview {
    margin: 0;
  }

  main {
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
  }

  .sidebar-container {
    width: 100%;
    flex-direction: row;
    gap: 7px;
  }


  .link-image {
    width: 100%;
  }

  .link-image img {
    width: 80% !important;
    margin: 0 auto !important;
  }

  .reaction-button,
  .main-reaction-button,
  .boost-button,
  #delete-post-button,
  #delete-comment-button {
    padding: 4px;
  }


  #reply-button .reaction-button {
    padding: 4px 8px;
  }



  .link-image img {
    width: 100%;
  }

  .main-container {
    width: 100%;
    height: calc(100dvh - var(--mobile-navbar-height)) !important;
  }


  .main-container>.comments-section {
    padding-bottom: 50px;
  }

  .post {
    margin: 0px;
  }

  .comments-section {
    margin: 0;
    margin-bottom: 1rem;
  }

  .main-container {
    border-radius: 0px;
    margin: 0px 0px;
    margin-top: 1.2rem;
    padding: 0px;
    max-width: 100% !important;
  }

  p.post-body {
    font-size: .875rem;
  }

  .post-title {
    font-weight: 500;
    margin-top: 0;
    font-size: 1.15rem;
  }

  .post-subtitle {
    font-size: .85rem;
  }

  .post-updatedat {
    font-size: .8rem;
  }

  .timestamp {
    font-size: 14px;
  }

  .link-image {
    max-width: 100%;
  }

  .post,
  .comment {
    padding-bottom: 0px;
    margin-bottom: 8px;
  }

  .commment {
    margin-bottom: 0;
  }


  .post-content {
    font-size: 16px;
  }

  body {
    overflow: hidden;
    height: calc(100dvh - var(--mobile-navbar-height));
  }

  .comment-body {
    font-size: .825rem;
  }

  .comment-timestamp {
    font-size: 14px;
  }

  .comment-form {
    margin-bottom: 10px;
  }

  .comments-section h3 {
    font-size: .85rem;
  }


  .input-container input,
  .input-container textarea {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    margin: 0;
    box-sizing: border-box;
  }

  /* Reduce the font size of material symbols on smaller screens */
  .material-symbols-outlined {
    font-size: 16px;
  }

}

@media (prefers-color-scheme: dark) {
  .job {
    border-color: var(--dark-mode-border-color) !important;
  }
}