body {
  font-family: var(--font-family);
  padding-top: 0 !important;
}

/* Original Styles */
main {
  display: flex;
  background-image: url("../core-login-backgrounds/ISS071E170979 Large.jpg") !important;
  padding-top: 240px;
  flex-direction: column;
  align-items: center;
  height: calc(100dvh);
  background-color: #fff;
  font-family: var(--font-family);
}

nav {
  display: none !important;
}

.core-logo {
  height: 120px;
  top: 50px;
  position: absolute;
}


.mobile-search-input {
  border: 1px solid transparent !important;
  background: transparent !important;
}

.navbar {
  background-color: #ffffff7d !important;
}

.second-nav-bar {
  background-color: #ffffff7d !important;
}

.account-stuff {
  width: 55%;
  max-width: 490px;
  background: #ffffffa3;
  border: 1px solid #ffffffae;
  border-radius: 9px;
  padding: 0;
}


#password.weak,
#password2.no-match,
#username.invalid,
#confirmPassword.no-match {
  border: 1px solid #ae4444 !important;
  background-color: #cd3a3a1c !important;
  color: #ae4444 !important;
}

.error-messages {
  width: 100%;
  border: 1px solid #ae4444;
  background-color: #cd3a3a1c;
  color: #ae4444;
  padding: .55rem 0.85rem !important;
  margin: .5rem 0;
  box-sizing: border-box;
  border-radius: 7px;
}

#password.medium {
  border-color: #ffa600 !important;
  background: #ffa60038 !important;
  color: #ffa600 !important;
}

#password.strong,
#password2.match,
#username.valid,
#confirmPassword.match {
  background: #1675351f !important;
  border: 1px solid #4b9263 !important;
  color: #4b9263 !important;
}

#login {
  padding: 13px 14px;
  background-color: none;
  border: 0;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-res {
  text-align: start;
}

footer {
  margin-top: auto;
}

#registration {
  padding: 5px 14px;
  background-color: none;
  border: 0;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

#registration form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}



#registration h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

.footer-container {
  background-color: transparent !important;
}

.footer-container a {
  color: black !important;
}

.input-container input {
  width: 100%;
  padding: 11px 9px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f6f8fa91 !important;
  border: 1px solid #868686 !important;
  font-size: .8rem;
  transition: box-shadow 0.3s ease;
}

input:focus {
  outline: none !important;
  border-color: #a0cfe6 !important;
  box-shadow: 0 0 3px 1px rgba(160, 207, 230, 0.5) !important;
}


#registration select {
  cursor: pointer;
}


.button-container {
  display: flex;
  justify-content: center;
}

.input-container input {
  padding: 11px 14px;
  background: #f6f8fa7a !important;
  font-size: 16px;
}

#password-strength,
#password-match {
  display: block;
  margin-top: 5px;
  font-size: 0.8em;
}

#password {
  transition: border-color 0.3s;
}

#password2 {
  border: 1px solid;
  transition: border-color 0.3s;
}


#login a {
  text-decoration: none;
  color: var(--active-indicator-color);
}



#register-button {
  position: relative;
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
  background: #0C8346;
  border: 1px solid #0E954F;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  flex: 0 0 auto;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 20px;
}

@media screen and (max-width: 600px) {
  .account-stuff {
    width: 85%;
  }

  .input-container input {
    font-size: 16px;
  }

}

@media (prefers-color-scheme: dark) {
  main {
    background-image: url("/core-login-backgrounds/Web First Images Release.webp") !important;
    color: var(--dark-mode-text-color);
  }

  .account-stuff {
    background: #1f1f21eb;
    border: 1px solid #444444bf;
  }

  .input-container input {
    background-color: #0b0c0c8c !important;
    border-color: #646464d1 !important;
    color: var(--dark-mode-text-color) !important;
  }

  #registration,
  #login {
    border-color: none;
    background: none;
  }


  #password.weak,
  #password2.no-match,
  #username.invalid {
    border: 1px solid #ae4444 !important;
    background-color: #cd3a3a1c !important;
    color: #ae4444 !important;
  }

  #password.medium {
    border-color: #ffa600 !important;
    background: #ffa60038 !important;
    color: #ffa600 !important;
  }

  #password.strong,
  #password2.match,
  #username.valid {
    background: #1675351f !important;
    border: 1px solid #4b9263 !important;
    color: #4b9263 !important;
  }

  .footer-container a {
    color: white !important;
  }

  .navbar,
  .second-nav-bar {
    background: #00000078 !important;
  }

  #registration h1 {
    color: #f4f4f4;
  }

}