@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* Original Styles */
main {
  display: flex;
  padding-top: 80px;
    flex-direction: column;
  align-items: center;
  height: calc(100dvh);
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}


#login {
  padding: 20px 20px;
  background-color: none;
  border: 0;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
  display:flex;
  flex-direction: column;
  gap: 4px;
}

#registration {
  padding: 20px 20px;
  background-color: none;
  border: 0;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

#registration form {
  display:flex;
  flex-direction: column;
  gap: 12px;
}



#registration h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

.input-container input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px; 
  background-color: var(--light-mode-body-color) !important;
  border: 1px solid var(--border-color) !important;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}


#registration select {
  cursor: pointer;
}


.button-container {
  display: flex;
  justify-content: center;
}

.input-container input {
  border: 1px solid var(--border-color) !important;
}

#password-strength, #password-match {
  display: block;
  margin-top: 5px;
  font-size: 0.8em;
}

#password {
  transition: border-color 0.3s;
}

#password2 {
  border: 1px solid;
  transition: border-color 0.3s;
}


#login a {
  text-decoration: none;
  color: var(--active-indicator-color);
}



#register-button {
  position: relative;
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
  background: #0C8346;
  border: 1px solid #0E954F;
    color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  flex: 0 0 auto;
  margin-right: 10px;
  margin-top: 10px; 
  padding: 10px 20px;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  main {
      background-color: var(--dark-mode-body-color);
      color: #f4f4f4;
  }

  .input-container input {
  border-color: var(--dark-mode-border-color) !important;
}

  #registration, #login{
      border-color: none;
      background: none;
    }

  #registration h1 {
      color: #f4f4f4;
  }



  .input-container input {
    background-color: var(--dark-mode-main-color) !important; 
    border-color: var(--dark-mode-border-color) !important; 
    color: var(--dark-mode-text-color);
  }


  /* Add any additional dark mode styles for other elements as needed */
}
