:root {
  --primary-text-color: #000;
  --light-mode-main-color: #fff;
  --light-mode-body-color: #F6F8FA;
  --border-color: #D8E0E9;
  --hover-background-color: #ddd;
  --active-indicator-color: #0e6655;
  --dark-mode-main-color: #1B1F22;
  --dark-mode-body-color: #000;
  --dark-mode-text-color: #fff;
  --dark-mode-border-color: #272D31;
  --dark-mode-hover-background-color: #444;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* Original Styles */
main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: calc(100dvh);
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}


#login {
  padding: 20px 20px;
  border-radius: 6px;
  background-color: var(--light-mode-body-color);
  border: 0;
  width: 350px; 
  box-sizing: border-box;
  text-align: center;
  display:flex;
  flex-direction: column;
  gap: 4px;
}

#registration {
  padding: 20px 20px;
  border-radius: 6px;
  background-color: var(--light-mode-body-color);
  border: 0;
  width: 350px;
  box-sizing: border-box;
}

#registration form {
  display:flex;
  flex-direction: column;
  gap: 12px;
}



#registration h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

.input-container input {
  width: 100%;
  padding: 10px 20px;
  margin: 4px 0px;
  box-sizing: border-box;
  border: 0;
  border-radius: 6px;
  background-color: var(--light-mode-main-color) !important;
  font-size: 16px;
}

#registration select {
  cursor: pointer;
}


.button-container {
  display: flex;
  justify-content: center;
}

#password-strength, #password-match {
  display: block;
  margin-top: 5px;
  font-size: 0.8em;
}

#password {
  border: 1px solid;
  transition: border-color 0.3s;
}

#password2 {
  border: 1px solid;
  transition: border-color 0.3s;
}


#login a {
  text-decoration: none;
  color: rgb(14, 102, 85);
}



#register-button {
  position: relative;
  font-size: 16px;
  width: 100%;
  border-radius: 6px;
  background: #0C8346;
  border: 1px solid #0E954F;
    color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  flex: 0 0 auto;
  margin-right: 10px;
  margin-top: 10px; 
  padding: 10px 20px;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  main {
      background-color: var(--dark-mode-body-color);
      color: #f4f4f4;
  }

  .input-container input, input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus
  input:-webkit-autofill, 
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #D2D7DB;
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-mode-body-color) inset;
    transition: background-color 5000s ease-in-out 0s;
    background-color: var(--dark-mode-body-color) !important; /* Dark background for input fields */
    color: var(--dark-mode-text-color); /* Light text color */
    font-size: 14px;
  }

  #registration, #login{
      border-color: var(--dark-mode-border-color);
      background: var(--dark-mode-main-color);
    }

  #registration h1 {
      color: #f4f4f4;
  }

  .input-container input {
      background-color: var(--dark-mode-body-color) !important;
      color: #f4f4f4;
  }


  /* Add any additional dark mode styles for other elements as needed */
}
