.right-side-container {
  width: 24%;
  margin-right: auto;
  padding-left: 2%;
  max-width: 300px;
  flex: none;
  display: flex;
  flex-direction: column;
  max-height: calc(100dvh - var(--navbar-height));

  -webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}


.mobile-jobs-container .job-content-header {
  margin: auto 0;
  width: 100%;
}

.mobile-jobs-container .job-content {
  display: inline-flex;
  width: 100%;
}

.job:hover a {
  text-decoration: underline;
}

.job-flair {
  display: inline-flex;
  gap: 5px;
  padding: .2rem .45rem;
  margin: 3px 7px 0px 0px;
  margin-bottom: 3px;
  background-color: #5abe6e36;
  color: #5abe6e;
  border-radius: 7px;
  font-size: .825rem;
  position: relative;
}


.job-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#pay-flair {
  font-size: .725rem !important;
  background: #5cb98947;
  color: #26704a;
  border: 1px solid #26704a;
}

.job-company-name {
  font-size: .9rem;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.communities .material-symbols-outlined {
  padding: 0;
}

.job-description {
  font-weight: 500;
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.job {
  display: flex;
  background: var(--light-mode-main-color);
  border-radius: 0;
  border-bottom: 1px solid var(--border-color);
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  height: auto;
  flex: 0 1 auto;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  overflow-y: none;
}

.job-title-location {
  display: flex;
  gap: 0 .3rem;
  flex-wrap: wrap;
  align-items: center;
}

.job .material-symbols-outlined {
  font-size: .85rem;
  vertical-align: -3px;
}


.company-logo-container {
  display: flex;
  gap: .6rem;
  align-items: center;
}

.job-company-logo {
  height: 20px;
  border-radius: 50%;
}

.job-content-header {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.job-header {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 25px;
  padding: 0;
}

div.job-title-location .sub-text {
  display: inline-block;
}

.jobslist {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-height: 450px;
  overflow: scroll;
  border: 1px solid var(--border-color);
  background: var(--light-mode-body-color);
  padding: .1rem;
  border-radius: 10px;
}

.right-side-container {
  overflow-y: auto;
  /* or scroll */
}

.right-side-container>div.jobslist .job {
  border: 0;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
  margin: 0;
}

.right-side-container>div.jobslist .job:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.right-side-container>div.jobslist .job:hover {
  background: var(--light-mode-hover-color);
}

.favorite-button {
  margin-left: auto;
}


.right-side-container>div.jobslist .job .job-content {
  padding: .6rem .8rem;
}

@media (max-width: 768px) {
  .right-side-container {
    display: none;
  }

  .right-side-container>div.jobslist .job {
    border-top: 1px solid var(--border-color);
    border-radius: 10px;
  }

  .jobslist {
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    border: 0;
    gap: 1rem;
    background: 0 !important;
    padding: .1rem;
    border-radius: 10px;
  }

  .job {
    border-radius: 10px;
    padding: 0 .6rem;
  }

}

@media (prefers-color-scheme: dark) {
  .jobslist {
    border-color: var(--dark-mode-border-color);
    background: var(--dark-mode-main-color);
  }

  .right-side-container>div.jobslist .job {
    border-color: var(--dark-mode-border-color) !important;
    background-color: var(--dark-mode-main-color);
  }

  .right-side-container>div.jobslist .job:hover {
    background: var(--dark-mode-hover-color);
  }

  .job {
    border-color: var(--dark-mode-border-color);
    background-color: var(--dark-mode-body-color);
  }

}