.post-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#posts-container {
    box-sizing: border-box;
    padding: 0 12px;
    margin-top: 17px;
}

.user, .post {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 6px 8px;
    border-radius: 16px;
    margin: 5px 0;
    background: 0;
    border: 0;
}

.user {
    margin: 0;
    margin-bottom: 14px;
}

.user:hover {
    background-color: var(--light-mode-hover-color);
}


#posts-container h2 {
    font-size: 1.15rem;
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post {
    margin: 0;
    margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    .user {
        background-color: var(--dark-mode-main-color);
    }
}    