.post-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#posts-container {
    box-sizing: border-box;
    padding: 0 12px;
    margin-top: 17px;
}

.load-more {
    padding: 0 !important;
}

.user,
.post {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 6px 8px;
    border-radius: 16px;
    margin: 5px 0;
    background: 0;
    border: 0;
}

.user {
    margin: 0;
    border-radius: 0;
}

hr {
    width: 100%;
    border-color: #000;
    height: .5px;
}

div.users {
    display: flex;
    gap: .6rem;
    flex-direction: column;
}


.spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

#users-results, #posts-results, #jobs-results {
    margin-bottom: .9rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Optional: Center the spinner container */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.user:hover {
    background-color: var(--light-mode-hover-color);
}

.job {
    border: 0 !important;
}

.job-results,
.user-results,
.post-results {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}


.description {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    object-fit: cover;
    overflow: hidden;
}

.link-preview {
    cursor: pointer;
    max-height: auto;
    max-width: 92%;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 4px 4px;
}

.post-content {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.post-header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    border-radius: 6px;
    width: 100%;
    justify-content: space-between;
}

.post-header-username {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    object-fit: cover;
    overflow: hidden;
}

div.username {
    font-size: .9rem;
}

.post-content a {
    text-decoration: none;
}

.post {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 6px 8px;
    border-radius: 16px;
    margin: 5px 0;
    background: 0;
    border: 0;
}


#posts-container h2 {
    font-size: 1.15rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post {
    margin: 0;
    margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    .user {
        background-color: var(--dark-mode-body-color);
    }

    .post {
        border-color: var(--dark-mode-border-color);
    }

    .user:hover,
    .post:hover,
    .job:hover {
        background-color: var(--dark-mode-hover-color);
    }
}