.jobs {
    padding: 0 13px;
  }

  .job {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background: var(--light-mode-main-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
  }

  .tag-search-header {
    margin: 13px;
  }