main {
    overflow-x: hidden;
    overflow-y: scroll !important;
    flex-direction: column !important;
}

.jobs-header,
.posts-header {
    width: 100%;
    margin-top: 13px;
    padding: 7px;
    margin-bottom: 6px;
}


.job-description {
    width: 90% !important;
}

.job-preview {
    display: inline !important;
}

div.jobs {
    padding: 0 !important;
}

div.posts {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 7px;
}

.tag-search-header {
    width: 100%;
}

.job-title-location {
    display: flex;
    gap: .3rem;
    align-items: center;
}

.job-post-date.green::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #0daf0d;
    border-radius: 50%;
    margin-right: 3px;
}

.job-post-date.yellow::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 3px;
}

.job-post-date.red::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-right: 3px;
}

.job-title-location .material-symbols-outlined {
    font-size: 1.05rem;
    vertical-align: -3px;
}

.similar-tags,
.job-skills {
    display: flex;
    font-size: .925rem;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 100%;
    gap: .45rem;
    overflow-x: auto;
}

.tag-search-menu {
    background: var(--light-mode-main-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0;
}


.post {
    border-radius: 0 !important;
    border-bottom: 1px solid var(--border-color) !important;
    margin: 0 !important;
    padding: 11px 14px !important;
}

.link .material-symbols-outlined {
    font-size: .9rem;
    vertical-align: -2px;
    ;
}

div.votes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .9rem;
}


.jobs>div {
    width: 100%;
    /* Ensures each child div takes up the full width of its grid cell */
    box-sizing: border-box;
    /* Includes padding and border in the element's total width and height */
}

div.jobs {
    margin: 0 1rem;
}


.job:hover,
.post:hover {
    background: var(--light-mode-hover-color);
}

@media (prefers-color-scheme: dark) {
    .job:hover {
        background: var(--dark-mode-hover-color);
    }

    .post {
        background: var(--dark-mode-main-color);
        border-color: var(--dark-mode-border-color) !important;
    }

    .tag-search-menu {
        background: var(--dark-mode-body-color);
        border-bottom: 1px solid var(--dark-mode-border-color);
    }

    .post:hover {
        background: var(--dark-mode-hover-color);
    }

}