main {
    overflow-x: hidden;
    flex-direction: column !important;
}

.jobs-header, .posts-header  {
    width: 100%;
    margin-top: 13px;
    padding: 7px;
    margin-bottom: 6px;
}


.job-description {
    width: 90% !important;
}

.job-preview {
    display: inline !important;
}

div.posts {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 7px;
}

.tag-search-header {
    width: 100%;
    margin-top: 14px !important;
    margin-bottom: 8px !important;
    padding: 0 13px !important;
  }

.tag {
    display: inline-flex;
      gap: 5px;
      padding: .2rem .45rem;
      margin: 3px 7px 0px 0px;
      margin-bottom: 3px;
      background-color: #6790f436;
      color: #85a5e6;
      border-radius: 7px;
      font-size: .925rem;
      position: relative;
  }

.post {
    border-radius: 0 !important;
    border-bottom: 1px solid var(--border-color) !important;
    margin: 0 !important;
    padding: 11px 14px !important;
}

.link .material-symbols-outlined {
    font-size: .9rem;
    vertical-align: -2px;;
}

div.votes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: .9rem;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .9rem;
    padding: 0 13px;
}
    

.job {
    border-radius: 6px !important;
    background: var(--light-mode-body-color) !important;
    border: 0 !important;
    padding: .65rem .95rem;
}

.job:hover, .post:hover {
    background: var(--light-mode-hover-color);
}

@media (prefers-color-scheme: dark) {
    .job:hover {
        background: var(--dark-mode-hover-color);
    }
    .post, .job {
        background: var(--dark-mode-main-color) !important;
    }
    .post:hover {
        background: var(--dark-mode-hover-color);
    }

}