div.update-post-content,
p.update-data {
    padding: .75rem;
}

li.commit-item {
    list-style: none;
    border-left: 3px solid var(--active-indicator-color);
    padding-left: .6rem;
}

div.comment-info {
    gap: .6rem;
    display: flex;
}

div.pr-info {
    background: var(--light-mode-body-color);
    padding: .75rem 1.15rem;
}

div.pr-info span.material-symbols-outlined {
    font-size: .9rem;
    vertical-align: -2px;
    padding-right: .4rem;
}

div.update-comments-container {
    padding: .75rem;
}

textarea.comment-input {
    width: 100%;
    padding: .75rem;
    height: 10rem;
    box-sizing: border-box;
}

ul.commit-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

div.update-comments {
    display: flex;
    gap: 1.8rem;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    div.update-post-content {
        background: var(--dark-mode-body-color);
    }

    div.pr-info {
        background: var(--dark-mode-main-color);
    }
}