span.material-symbols-outlined {
  font-size: 14px;
}
.commit-title a {
  color: #121212;
  text-decoration: none;
}
  .commit:hover {
    background-color: #f5f5f5;
  }
  .commit {
    border: 1px solid #eaecef;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .commit-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

  .commit-title {
    font-size: 20px;
    font-weight: 600;
  }

  .commit-date {
    font-size: 14px;
    color: #586069;
  }

  .commit-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .commit-author {
    display: flex;
    align-items: center;
  }

  .commit-author img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid #eaecef;
  }

  .commit-author-name {
    font-size: 14px;
    font-weight: 450px;
  }

  div#commit-comments {
    background-color: blue;
  }



  .commit-stats {
    display: flex;
    align-items: center;
  }

  .commit-stats-item {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  .commit-stats-item img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  .commit-stats-item-value {
    font-size: 14px;
    color: #eee;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #121212;
      color: #fff;
  }
    .commit {
      background-color: rgb(30,30,30);
      border: 1px solid #444;
    }

    .commit:hover {
      background-color: #444d56;
    }
    .commit-title a {
      color: #c9d1d9;
    }
    .commit-date {
      color: #8b949e;
    }
    .commit-author-name {
      color: #8b949e;
    }
    .commit-stats-item-value {
      color: #586069;
    }
  }

  @media (max-width: 768px) {
    body {
      overflow-x: hidden; 
    }
    .commit {
      border: 0;
      border-top: 1px solid #eaecef;
      border-radius: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .commit-body {
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      align-content: space-between;
      justify-content: space-between;
    }
    .commit:last-child {
      border-bottom: 1px solid #eaecef;
    }
    .material-symbols-outlined {
      color: #8b949e;
    }
  }

  .commit-stats-item {
    display: flex;
    align-items: start;
    color: white;
    padding: 2px 6px;
    border-radius: 6px;
  font: 12px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    margin: 5px;
  }
  
  .material-symbols-outlined {
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga';
  }
  