@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-text-color: #1D2935;
  --light-mode-body-color: #F6F8FA;
  --light-mode-main-color: #fff;
  --light-mode-hover-color: #E5EBF1;
  --border-color: #DCE6F2;
  --light-mode-button-color: #DCE6F2;
  --light-mode-button-hover-color: #BECBDA;
  --light-mode-text-color: #243342;
  --light-mode-secondary-text-color: #586C7F;
  --hover-background-color: #ddd;
  --active-indicator-color: #0e6655;
  --dark-mode-main-color: #16191B;
  --dark-mode-body-color: #000;
  --dark-mode-hover-color: #24292D;
  --dark-mode-button-hover-color: #363F44;
  --dark-mode-lighter-color: #1F2427;
  --dark-mode-text-color: #fff;
  --dark-mode-secondary-text-color: #999;
  --dark-mode-border-color: #272D31;
  --dark-mode-hover-background-color: #151515;
}



body {
  font-family: 'Roboto', sans-serif;
}

span.material-symbols-outlined {
  font-size: 14px;
}

#updates-header {
  margin-top: 13px;
  margin-left: 13px;
  margin-right: 13px;
}

#updates-title {
  margin-bottom: 18px;
}

div.commit-title {
  color: #121212;
  text-decoration: none;
}

#commits-container {
  margin-top: 10px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;

}
  #commit:hover {
    cursor: pointer;
  }

  #commits {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    width: 100%;
  }  
  
  .commit {
    background: var(--light-mode-main-color);
    border-radius: 0;
    padding: 8px 11px;
    justify-content: space-around;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}


  .commit-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  min-width: 33%;
  box-sizing: border-box;
}
  .commit-title {
    max-width: 100%;
    inline-size: 100%;
    overflow-wrap: break-word;
  }
  .commit-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 4px;
  /* min-width: 33%; */
  /* width: 33%; */
  }

  .commit-title {
    font-size: 14px;
    font-weight: 650;
  }

  .commit-date {
    font-size: 14px;
    color: #586069;
  }

  .commit-body {
    min-width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .commit-author {
    display: flex;
    align-items: center;
  }

  .commit-author img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid #eaecef;
  }

  .commit-author-name, .commit-author-name a {
    font-size: 14px;
    margin-right: 3px;
    font-weight: 600px;
    color: black;
  }

  

  div#commit-comments {
    background-color: blue;
  }

  .commit-stats {
    min-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .commit-stats-container {
    display:flex;
    flex-direction: row;
  }

  .commit-stats-item {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  .commit-stats-item img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  .commit-stats-item-value {
    font-size: 14px;
    color: #eee;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: var(--dark-mode-body-color);
      color: #fff;
    }

  @keyframes loadingAnimation {
    0% { background-color: #333; }
    50% { background-color: #121212; }
    100% { background-color: #333; }
  }

    .commit {
      background-color: var(--dark-mode-main-color);
      border-color: var(--dark-mode-border-color);
    }

    div.commit-title {
      color: #c9d1d9;
    }
    .commit-date {
      color: #8b949e;
    }
    .commit-author-name {
      color: #8b949e;
    }
    .commit-stats-item-value {
      color: #586069;
    }
  }

  @media (max-width: 768px) {

    .commit-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

  }


  .commit-stats-item {
    display: flex;
    align-items: start;
    color: white;
    padding: 2px 6px;
    border-radius: 6px;
    margin: 5px 2px;
  }
  
  .material-symbols-outlined {
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga';
  }
  