@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; /* align to the center */
  margin: 0;
  overflow-x: hidden; /* prevent horizontal scrolling */
  overflow-y: hidden; /* allow vertical scrolling if needed */
  font-family: var(--font-family);
}

#followButton, #followForm, #edit-button {
  width: 100%;
}

#followButton, #edit-button {
  margin-top: 4px;
}

.followers-info .link-display {
  margin: 0;
}

.followers-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  margin-top: 10px;
}

.profile-header {
  width: 100%;
  margin-top: 13px;
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.follower-stats {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 15px;
}

.follower-stats a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.edit-controls-and-follow-button {
  display: flex;
  gap: 13px;
    margin-left: auto;
    align-items: center;
}

.profile-header-title {
  padding-left: 15px;
}

.main-container {
  max-width: 1200px;
}

#profile {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr)); /* Adjust the number of columns */
  gap: 20px;
  padding: 30px;
  box-sizing: border-box;
  text-align: left;
  overflow-x: hidden; /* Updated to prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling if needed */
  white-space: normal; /* Allow wrapping of grid items */
  width: 100%;
}


#profile.grid-container {
  background-color: var(--light-mode-main-color);
}

.profile-details .material-symbols-outlined {
  float: left;
  padding-right: 3px;
  font-size: 14px;
}


.profile-details h2 .material-symbols-outlined {
  font-size: 24px;
}

/* Style for each section */
#profile > div, .post, .comment {
  display: inline-block;
  border: 0;
  padding: 12px 10px;
  border-radius: 12px;
  background: none;
}



#profile h1 {
  text-align: center;
  margin-bottom: 24px;
  color: var(--primary-text-color);
}

#profile p {
  margin-bottom: 3px;
  margin-top: 3px;
  font-size: .875rem;
  color: var(--primary-text-color);
}

#profile a {
  font-size: .875rem;
  color: var(--primary-text-color);

}
.editable-field a {
  color: var(--active-indicator-color);
  text-decoration: none;
}

.current-job p {
  font-size: 14px;
}

main {
  background-color: var(--background-color);
  /* other styles... */
}

#profile {
  background: var(--light-mode-body-color);
}

#profile > div.current-job {
  display: flex; 
  flex-direction: column;
  gap: 4px;
}

#profile > div.current-job, #profile > div.user-links, #profile > div.profile-info  {
  background: var(--light-mode-body-color);
}



#profile h1 {
  color: var(--primary-text-color);
}

#profile p {
  color: var(--secondary-text-color);
}

/* Profile Picture Styles */
.profile-picture {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.user-activity-buttons {
  display: inline-flex;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}




.user-activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  padding-top: 0px;
}

.sort-option {
  background-color: var(--light-mode-main-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-option.active {
  background-color: var(--light-mode-body-color); /* Active tab color */
}

.sort-option:focus {
  outline: none;
}

.sort-option:not(:last-child) {
  border-right: 1px solid var(--border-color);
}


.post {
  display: flex;
  flex-direction: column;
  width: 100%; /* Full width of posts container */
  /* ... other styles ... */
}

.followers-info {
  display: flex;
  flex-direction: row;
  align-items: center;

}

#edit-button .material-symbols-outlined {
  font-size: 22px;
}

.profile-picture img {
  width: 100px; /* Adjust the size as needed */
  height: 100px;
  border-radius: 50%; /* Circular image */
  object-fit: cover;
  border: 1px solid var(--border-color); /* Border color similar to the navbar */
}

.profile-picture button, .profile-info button, .current-job button {
  background-color: var(--light-mode-body-color); /* Same as navbar button */
  color: var(--light-mode-text-color);
  border: 0;
  padding: 7px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 5px;
  transition: background-color 0.15s;
}


.profile-picture button:hover {
  background-color: #ddd;
}

#imageEditControls {
  display: none; /* Initially hidden */
}

#imageEditControls input[type="text"], .profile-info input[type="text"], .current-job input[type="text"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 200px; /* Adjust the width as needed */
  margin-bottom: 10px;
}

#imageEditControls button {
  background-color: #f9f9f9; /* Same as navbar button */
  color: #000;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background-color 0.15s;
}

.link-display {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}



.post-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5em;
  max-height: 19em;
}

.post-container, .comments-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 12px;
}

.comment-author-avatar {
  object-fit: cover;
  overflow: hidden;
  max-height: 26px;
  height: 26px;
  width: 26px;
  max-width: 26px;
  border-radius: 50%;
}

.post-info, .comment-info {
  margin-top: 8px;
  font-size: .8rem;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-author a {
  text-decoration: none;
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;
}

.comment-content, .post-content {
  font-size: .875rem;
}

.post-info .link-display {
  padding: 2px 6px;
}


.flair {
  display: inline-block;
  padding: 2px 3px;
  margin: 2px;
  background-color: #6d93b1; 
  border: 1px solid #6488a4; 
  color: white;
  border-radius: 6px;
  font-size: 14px;
  position: relative;
}

button#edit-button {
  background: none;
}

#date-flair {
  background-color: #39A77F; 
  border: 1px solid #32936F;
}

#emp-type-flair {
   background-color: #DB5461;
   border-color: #D43545;
}

.post, .comment {
  background-color: var(--light-mode-body-color);
  border: 0;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.post-title, .comment-title {
  margin-bottom: 9px;
}

.post:hover, .comment:hover {
  background-color: var(--light-mode-body-color);
  cursor: pointer;
}

.link-display {
  display: inline-flex;
  padding: 5px 9px;
  background-color: var(--border-color); 
  border: 0;
  color: var(--light-mode-text-color);
  border-radius: 6px;
  font-size: 14px;
  position: relative;
}

.link-display a {
  color: var(--primary-text-color) !important;
  text-decoration: none;
}


.user-links {
  grid-area: user-links;
}

.user-bio {
  grid-area: user-bio;
}

.leetcode-experience {
  grid-area: leetcode;
}

.date-range {
  display: flex;
  flex-direction: row;
}

.job-experience-header {
  display: flex;
    justify-content: space-between;
}

.job-tag {
  display: inline-flex;
    gap: 5px;
    padding: 3px 7px;
    margin: 3px 7px 0px 0px;
    margin-bottom: 3px;
    background-color: #93939336;
    color: #505050;
    border-radius: 7px;
    font-size: .925rem;
    position: relative;
}

#currentJobContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#currentJobContainer>div {
  padding: 4px 8px;
  min-width: 164px;
  border-radius: 11px;
}

.social-display {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
}

.social-display .material-symbols-outlined {
  font-size: 20px;
}


#profile > .user-links {
  margin: 0;
}

th {
  font-size: .875rem;
}

td {
  font-size: .825rem;
}

/* Grid container layout */
#profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns of equal size */
  grid-template-rows: auto; /* Rows take size based on content */
  grid-template-areas:
  "info1 user-links job"
  "git-graph git-graph git-graph"
  "git-repos git-repos git-repos"
  "user-activity user-activity user-activity"; /* Posts will take up the entire bottom row spanning 3 columns */
  gap: 30px;
  min-height: 0;  /* NEW */
  min-width: 0;
}


@media screen and (max-width: 768px) {

  .profile-info, .user-activity {
    background: none !important;
    padding: 0 !important;
  }

  .main-container {
    max-height: calc(100dvh - var(--mobile-navbar-height));
    overflow-y: auto;
  }

  .profile-info .profile-picture {
    width: 30%;
}
   .profile-info .profile-details {
    width: 70%;
  }
  #profile {
    padding: 15px;
    padding-top: 0;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal size */
    padding-bottom: 200px !important;
    grid-template-areas:
      "info1 info1"
      "user-bio user-bio"
      "leetcode user-links"
      "job job"
      "git-graph git-graph"
      "git-repos git-repos"
      "user-activity user-activity";
  }

  
  
}


.profile-details > h2, .profile-details > p#firstname-display {
  margin-left: 4px;
}

.commit-graph {
  display: flex;
  flex-direction: column;
  padding-top: 1px;
}

#commit-graph-container {
  -webkit-scrollbar {
    display: none;
  }
  
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

#commit-graph-container::-webkit-scrollbar {
  display: none;
}

#repo-table {
  width: 100%;
  padding-top: 9px;
}

.commit-row {
  display: flex;
}

#commit-graph-container {
  overflow-x: auto;
}

.commit-cell {
  min-width: 10px;
  min-height: 10px;
  height: 10px;
  width: 10px;
  margin: 1px;
  border-radius: 2px;
}

.github-commit-repos {
  grid-area: git-repos;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.github-commit-repos h5 {
  padding: 5px 8px;
  font-size: .925rem;
}

.github-commit-graph {
  grid-area: git-graph;
}
.profile-picture {
  grid-area: picture;
  /* ... other styles ... */
}

.comments {
  grid-area: comments;
}
#profile > div.profile-info {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.profile-info {
  display: flex;
  grid-area: info1;
  padding-bottom: 6px !important;
  padding-top: 15px !important;
}

.current-job {
  grid-area: info2;
  /* ... other styles ... */
}

/* Current job spans all columns */
.current-job {
  grid-area: job;
  /* ... other styles ... */
}

/* Learning progress, achievements, and posts */
.learning-progress {
  grid-area: learning;
  /* ... other styles ... */
}

.user-activity {
  grid-area: user-activity;
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: var(--dark-mode-body-color); /* Dark background for the body */
      color: var(--dark-mode-text-color); /* Light text color for better readability */
  }

  .select2-dropdown {
      background-color: var(--dark-mode-body-color);
  }

  .link-display {
    background-color: var(--dark-mode-border-color);
    color: var(--dark-mode-text-color);
  }

  .post, .comment {
    background-color: var(--dark-mode-main-color);
  }

  .sort-option:not(:last-child) {
    border-color: var(--dark-mode-border-color);
  }
  .follower-stats a {
    color: var(--dark-mode-text-color);
  }


  .commit-cell[data-count="0"] {
    background-color: var(--dark-mode-main-color) !important;
  }

  .commit-cell[data-count="1"] {
    background-color: #50905b !important;
  }

  .commit-cell[data-count="2"] {
    background-color: #396846 !important;
  }

  .commit-cell[data-count="3"] {
    background-color: #245534 !important;
  }

  .commit-cell[data-count="4"] {
    background-color: #1a3d25 !important;
  }

  .commit-cell[data-count="5"] {
    background-color: #0f2716 !important;
  }




  .sort-option {
    background-color: var(--dark-mode-main-color);
    color: var(--dark-mode-text-color);
  }

  .sort-option.active {
    background-color: var(--dark-mode-body-color);
  }

  .user-activity-buttons {
    border-color: var(--dark-mode-border-color);
  }



  .profile-picture img {
    border-color: var(--dark-mode-border-color);
  }

  #posts {
    background-color: var(--dark-mode-body-color);
    border-color: var(--dark-mode-border-color);
  }

  #profile > div {
    background-color: var(--dark-mode-body-color);
  }

  #profile.grid-container {

      background-color: var(--dark-mode-body-color);
  }

  #profile a {
    color: var(--dark-mode-text-color);
  }


  .link-display a {
    color: var(--dark-mode-text-color) !important;
  }

  .post:hover, .comment:hover {
    background-color: var(--dark-mode-hover-background-color);
  }

  .profile-info, .current-job, .learning-progress, .achievements {
      background-color: rgb(30,30,30);
  }

  .profile-info p, .current-job p, .learning-progress p, .achievements p {
      color: #d0d0d0; 
  }


.profile-picture button, 
.profile-info button, 
.current-job button,
#imageEditControls button {
  background-color: var(--dark-mode-main-color); 
  color: var(--dark-mode-text-color);
}
.edit-input {
  /* Visually match the button and the field */
  font-size: 14px;
  padding: 5px 10px;
  /* Vertical alignment */
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Hover effect for buttons in dark mode */
.profile-picture button:hover, 
#imageEditControls button:hover, 
.profile-info button:hover, 
.current-job button:hover {
  background-color: #444; 
}

#profile > div.current-job, #profile > div.user-links, #profile > div.profile-info  {
  background: var(--dark-mode-main-color);
}

/* Styling for input fields in dark mode */
#imageEditControls input[type="text"], 
.profile-info input[type="text"], 
.current-job input[type="text"] {
  background-color: #222;
  color: #f9f9f9;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #555; 
  border-radius: 5px;
  width: 180px; 
  margin-bottom: 10px;
}

.email-display {
  width: 180px;
}

.profilePic {
  position: relative;
padding: auto;
}



}

#profile > div.profile-info {
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f9f9f9 100%);
}